::ng-deep .mat-dialog-container {
    padding: 0px;
    background: white;
    color: black;
    max-height: 79vh;
}
::ng-deep .mat-dialog-content{
    max-height: 100%;
    margin: 0px;
    padding: 0px;
}
::ng-deep .cdk-overlay-dark-backdrop{
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
}

::ng-deep .mat-form-field-label{
    color: black;
}
::ng-deep .mat-select-value{
    color: black;
}
::ng-deep .mat-select-search-inner{
    margin-left: 0px;
    
}
::ng-deep .mat-select-search-input {
    background: none;
    width: 100%;
    color: white;
}

::ng-deep .mat-checkbox-inner-container{
    border: 1px solid black;
  }
option{
    font-size: 14px;
}
select {
    font-size: 14px;
}
input{
    font-size: 14px;
}

@media (max-width: 1024px) {

.currentCityField{
    width: 100px;
    margin: -30px 0px;
}
}