<mat-dialog-content>
    <form (ngSubmit)="onSubmit()" #preferencesForm="ngForm">
        <div class="row" style="margin: 10px 10px 0px;">
            <i style="background-color: #34b7f1;color: white;font-size: 15px !important;padding: 8px;height: 30px;width: 30px !important;" class="fa fa-graduation-cap"></i>
            <h5 style="margin: auto 20px">PREFERENCES</h5>
        </div>
        <div class="row" style="margin: 10px 10px;">
            <div class="col-12">
              <h6 style="display: inline-block">Age Min: </h6>
              <input type="text" class="form-control" name="age_min" [(ngModel)]="preferenceData.age_min">
            </div>
            <hr style="margin: 0px 10px;width: 100%">
          <div class="col-12">
              <h6 style="display: inline-block">Age Max : </h6>
              <input type="text" class="form-control" name="age_max" [(ngModel)]="preferenceData.age_max">
             </div>
              <hr style="margin: 0px 10px;width: 100%">
              <div class="col-12">
                  <h6 style="display: inline-block">Height Min : </h6>
                  <select type="text" class="form-control" name="height_min" [(ngModel)]="minHeight" required>
                      <option *ngFor="let item of Heights"[value]="item">{{item}}</option>
                      </select> 
                </div>
                <hr style="margin: 0px 10px;width: 100%">
                <div class="col-12">
                  <h6 style="display: inline-block">Height Max : </h6>
                  <select type="text" class="form-control" name="height_max" [(ngModel)]="maxHeight" required>
                      <option *ngFor="let item of Heights"[value]="item">{{item}}</option>
                      </select> 
                </div>
                <hr style="margin: 0px 10px;width: 100%">
    
                <div class="col-12" *ngIf="gender=='Male'">
                  <h6 style="display: inline-block">Income Min : </h6>
                  <input type="text" class="form-control" name="income_min" [(ngModel)]="preferenceData.income_min">
                </div>
                <hr style="margin: 0px 10px;width: 100%">
                <div class="col-12" *ngIf="gender=='Female'">
                  <h6 style="display: inline-block">Income Max : </h6>
                  <input type="text" class="form-control" name="income_max" [(ngModel)]="preferenceData.income_max">
                </div>
                <hr style="margin: 0px 10px;width: 100%">
    
                <div class="col-12">
                    <h6 style="display: inline-block">Caste : </h6>
                    <p style="font-size: 14px;display: inline-block;margin-left: 10px">{{preferenceData.caste}}</p>
                  </div>
                  <hr style="margin: 0px 10px;width: 100%">
                  <div class="col-12">
                      <h6 style="display: inline-block">Manglik : </h6>
                      <select type="text" class="form-control" name="manglik" [(ngModel)]="preferenceData.manglik" required>
                          <option *ngFor="let item of Mangalika"[value]="item">{{item}}</option>
                          </select> 
                    </div>
                    <hr style="margin: 0px 10px;width: 100%">
                    <div class="col-12">
                        <h6 style="display: inline-block">Mother Tongue : </h6>
                        <input type="text" class="form-control" name="mother_tongue" [(ngModel)]="preferenceData.mother_tongue">
                      </div>
                      <hr style="margin: 0px 10px;width: 100%">
                      <div class="col-12">
                          <h6 style="display: inline-block">Food Preferences : </h6>
                          <select type="text" class="form-control" name="food_choice" [(ngModel)]="preferenceData.food_choice" required>
                              <option *ngFor="let item of Foodpreferences"[value]="item">{{item}}</option>
                              </select> 
                        </div>
                        <hr style="margin: 0px 10px;width: 100%">
                        <div class="col-12">
                            <h6 style="display: inline-block" *ngIf="gender=='Male'">Working Status: </h6>
                            <select type="text" class="form-control" name="working" [(ngModel)]="preferenceData.working" required *ngIf="gender=='Male'">
                                <option *ngFor="let item of Working"[value]="item">{{item}}</option>
                                </select> 

                                <h6 style="display: inline-block" *ngIf="gender=='Female'">Occupation: </h6>
                            <select type="text" class="form-control" name="occupation" [(ngModel)]="preferenceData.occupation" required *ngIf="gender=='Female'">
                                <option *ngFor="let item of Occupation"[value]="item">{{item}}</option>
                                </select> 
                          </div>
                          <div class="col-12">
                            <h6>Description: (max 300 words)</h6>
                              <input class="form-control" maxlength="300" type="text" name="description" [(ngModel)]="preferenceData.description"  required> 
                        </div>
                          <div style="text-align: center; margin: 10px auto">
                              <button  [disabled]="!preferencesForm.valid" class="btn" style="background-color: #34b7f1" >Save</button> 
                        </div>
          </div>
        </form>
      </mat-dialog-content>