<div style="background: white;">
        <div class="modal-header">
          <p class="verifyHeader">Verify Mobile Number</p>
          <button type="button" style="outline: none" class="close" aria-label="Close" (click)="Cross_click()">X
          </button>
        </div>
        <div class="modal-body">
          <div >
            <p style="text-align: center;color:rgb(153, 114, 114);font-size:16px">Use all our features as an app</p>
            <p style="text-align: center;color:rgb(153, 114, 114);font-size:16px">Download our website</p>
           
            <div style="text-align: center;">
              <button mat-raised-button class="btn btn-blue" (click)="downloadIt()" style="font-size: 20px;  position: relative;margin-top: 12px; margin-bottom: 14px;">Download</button>
              <br>
          </div>
        </div>
        </div>
    </div> 