
::ng-deep .mat-dialog-container{
    padding: 0px;
    border-radius: 10px;
    background-image: url('https://hansmatrimony.s3.ap-south-1.amazonaws.com/webImages/320+grey.jpg');
    background-size: contain;
}
::ng-deep .mat-dialog-content{
    max-height: 79vh;
    margin: 0px;
    padding: 0px;
}

::ng-deep .cdk-overlay-dark-backdrop{
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
}


main{
    
}

#cancel{
    position: absolute;
    z-index: 99999999;
    right: 0;
    top: -5px;
}

#topBanner{
    width: 100%;
    text-align: center;
}

#bannerDiv{
    width: auto;
    object-fit: cover;
    height: auto;
    position: relative;
    padding-top: 10px;
}

#bannerImg{
    width: auto;
    height: 100%;
    object-fit: cover;
}

#bannerText {
    position: absolute;
    font-size: 2rem;
    color: white;
    top: 5px;
    left: 25%;
    font-weight: 500;
}

#offerHeadLine{
    color: #737373;
    font-weight: bold;
    margin-top: 50px;
}

.subHeading{
    font-size: 1.4rem;
    color: #797979;
    margin-top: 20px;

}


@media (max-width: 575px) {
    #bannerText {
        position: absolute;
        font-size: 2rem;
        color: white;
        top: 5px;
        left: 20%;
        font-weight: 500;
    }

}
@media (max-width: 350px) {
    #bannerText {
        position: absolute;
        font-size: 1.6rem;
        color: white;
        top: 10px;
        left: 20%;
        font-weight: 500;
    }
    #offerHeadLine{
        color: #737373;
        font-weight: bold;
        margin-top: 50px;
        font-size: 1.4rem;
    }
    .subHeading{
        font-size: 1.1rem;
        color: #797979;
        margin-top: 20px;
    
    }
}