<div style="padding: 20px 20px;text-align: center;background: white; color: #34b7f1;">
    <div>
            <img src="../../assets/gift.png" alt="hans matrimony award" style="position: relative;width: 200px;">
    </div>
    <h4>Rate us 5 ⭐ and earn free 3 credits</h4>
    <a (click)="rateClicked()" style=" margin-top: 20px;color: white;font-size: 22px;background: #34b7f1;padding: 5px 20px;border-radius: 10px;" target="_blank" href="https://play.google.com/store/apps/details?id=com.twango.me">Rate Us 5 ⭐</a>
</div>