<main>

    <!-- The Modal -->
<div id="myModal" class="modal">

    <!-- The Close Button -->
    <a id="closeModal">&times;</a>
  
    <!-- Modal Content (The Image) -->
    <img class="modal-content" id="img01">
  
    <!-- Modal Caption (Image Text) -->
    <h4 id="caption"></h4>
  </div>
  

    <mat-card style="margin-bottom: 200px;" *ngIf="type=='profile'">
      
        <div style="position: relative;">

        <ngb-carousel>
          <ng-template ngbSlide *ngFor="let i of getImagesCount(item.carousel); let index = index">
                  <img mat-card-image id="profileImage" (click)="openImageModal(item.carousel,item.photo,item.name,index)" [src]="getProfilePhoto(item.photo,item.carousel,item.gender,i)" alt="item.name">
          </ng-template>
        </ngb-carousel>

        </div>
          <mat-card-actions id="buttonSet" style="margin-bottom: 20px;" align="center">
          

            <button 
            ngbTooltip="कॉन्टैक्ट करें"
            #t1="ngbTooltip"
            tooltipClass="tooltipCustom"
            (click)="getNextMessageOrProfile('YES')"   class="setButtons" mat-fab style="color: green;background: white;"
              aria-label="Example icon-button with a heart icon" >
              <mat-icon>call</mat-icon>
            </button>

            <button 
            ngbTooltip="पसंद करें"
            #t2="ngbTooltip"
            tooltipClass="tooltipCustom1"
            (click)="getNextMessageOrProfile('SHORTLIST')" class="setButtons" mat-fab style="color: red;background: white;"
              aria-label="Example icon-button with a heart icon" >
              <mat-icon>favorite</mat-icon>
            </button>

            <button 
            ngbTooltip="नापसंद करें"
            #t3="ngbTooltip"
            tooltipClass="tooltipCustom1"
            (click)="getNextMessageOrProfile('NO')" class="setButtons" mat-fab style="color: grey;background: white;">
              <mat-icon>close</mat-icon>
            </button>

          </mat-card-actions>
          <!-- <div style="text-align: center; margin-top: 10px;" >
            <div style="text-align: center;color: white;background: green;display: inline-block;margin-right: 10px;font-size: 16px;padding: 10px;border-radius: 10px;word-break: keep-all">
              <img style="width: 20px;" src="../../../assets/locationwhite.svg" alt="locality"> {{toTitleCase(item.family.locality)}}
            </div>
          </div> -->
        <div style="margin: 0px 0px 5px;">
            <h4 style="text-align: center;">
                {{toTitleCase(item.name)}}
            </h4>
            <div class="templeSet">
                <img style="width: 30px;" src="../../../assets/templeblue.svg" alt="temple">
              <span style="vertical-align: middle;font-size: 14px;">Verified at Hans Center: {{item.facebook}}</span>
            </div>
            <div style="text-align: justify;">
                {{toTitleCase(item.about)}}
            </div>
        </div>
            <h5 id="heading" (click)="showTooltips(t1,t2,t3)" class="contentHeader">PERSONAL DETAILS</h5>
            <div class="container" style="margin-top: 20px;">
              <div class="row">
                <div class="col-6 contentPara">
                    <img class="setIcons" src="../assets/calendar.svg" alt="Age">  Age
                </div>
                <div class="col-6 contentPara">
                    <img class="setIcons" src="../assets/scale.svg" alt="Height">   Height
                </div>
                <div class="col-6">
                    {{setAge(item.birth_date)}}
                  </div>
                  <div class="col-6">
                     {{setHeight(item.height)}}
                  </div>
              </div>
              <div class="row">
                <div class="col-6 contentPara" >
                    <img class="setIcons" src="../assets/weight.svg" alt="Weight">  Weight
                </div>
                <div class="col-6 contentPara">
                    <img class="setIcons" src="../assets/heart.svg" alt="Marital Status">  Marital Status
                </div>
                <div class="col-6">
                   {{item.weight}} Kg
                </div>
                <div class="col-6">
                   {{item.marital_status}}
                </div>
            </div>

            <div class="row">
              <div class="col-6 contentPara" >
                  <img class="setIcons" src="../assets/tarot.svg" alt="Caste">  Caste
              </div>
              <div class="col-6 contentPara">
                  <img class="setIcons" src="../assets/cutlery.svg" alt="Food Choice">  Food Choice
              </div>
              <div class="col-6">
                 {{item.caste}}
              </div>
              <div class="col-6">
                 {{item.food_choice}}
              </div>
          </div>

          <div class="row">
            <div class="col-6 contentPara" >
                <img class="setIcons" src="../assets/house.svg" alt="Working City">  Working City
            </div>
            <div class="col-6 contentPara" >
              <img class="setIcons" src="../assets/templeblue.svg" alt="Religion">  Religion
          </div>
            <div class="col-6">
               {{item.working_city}}
            </div>
            <div class="col-6">
              {{item.religion}}
           </div>
        </div>
            </div>
    
            <h5 class="contentHeader">CAREER DETAILS</h5>
            <div class="container" style="margin-top: 20px;">
              <div class="row">
                <div class="col-6 contentPara">
                    <img class="setIcons" src="../assets/suitcase.svg" alt="Occupation">  Occupation
                </div>
                <div class="col-6 contentPara">
                    <img class="setIcons" src="../assets/graduation.svg" alt="Qualification">  Qualification
                </div>
                <div class="col-6">
                     {{item.occupation}}
                  </div>
                  <div class="col-6">
                     {{item.education}}
                  </div>
                </div>
                <div class="row">
                <div class="col-6 contentPara">
                    <img class="setIcons" src="../assets/graduation.svg" alt="Designation">  Designation
                </div>
                <div class="col-6 contentPara">
                    <img class="setIcons" src="../assets/rupee.svg" alt="Profession"> Income
                </div>
                <div class="col-6">
                     {{item.profession}}
                </div>
                <div class="col-6">
                    {{setIncome(item.monthly_income)}} LPA
                </div>
      
              </div>
            </div>
    
            <h5 class="contentHeader">HOROSCOPIC DETAILS</h5>
            <div class="container" style="margin-top: 20px;">
              <div class="row" >
                <div class="col-6 contentPara">
                    <img class="setIcons" src="../assets/birthday.svg" alt="D.O.B">  D.O.B
                </div>
                <div class="col-6 contentPara">
                    <img class="setIcons" src="../assets/birthplace.svg" alt="Birth Place">   Birth Place
                </div>
                
                <div class="col-6">
                   {{setDate(item.birth_date)}}
                </div>
                <div class="col-6">
                   {{item.birth_place}}
                </div>
              </div>
              <div class="row">
                <div class="col-6 contentPara">
                    <img class="setIcons" src="../assets/clock.svg" alt="Birth Time">  Birth Time
                  </div>
                  <div class="col-6 contentPara">
                    <img class="setIcons" src="../assets/tarot.svg" alt="Manglik Status">   Manglik Status
                  </div>
                <div class="col-6">
                   {{item.birth_time}}
                </div>
                <div class="col-6">
                   {{setManglik(item.manglik)}}
                </div>
      
              </div>
            </div>
    
            <h5 class="contentHeader">FAMILY DETAILS</h5>
            <div class="container" style="margin-top: 20px;">
              <div class="row">
                <div class="col-6 contentPara">
                 Sisters
                </div>
                <div class="col-6 contentPara">
                 Brothers
                </div>
                <div class="col-6">
                    <img class="setIcons" src="../assets/sisters.svg" alt="Sisters">  {{setMarriageSisters(item.unmarried_daughters,item.married_daughters)}}
                  </div>
                  <div class="col-6">
                    <img class="setIcons" src="../assets/brothers.svg" alt="Brothers">  {{setMarriageBrothers( item.unmarried_sons,item.married_sons)}}
                  </div>
              </div>
              <div class="row">
                <div class="col-6 contentPara">
                    <img class="setIcons" src="../assets/parents.svg" alt="Mother"> Mother
                </div>
                <div class="col-6 contentPara">
                    <img class="setIcons" src="../assets/parents.svg" alt="Father"> Father
                </div>
                <div class="col-6">
                     {{LifeStatus(item.mother_status,item.occupation_mother)}}
                </div>
                <div class="col-6">
                    {{LifeStatus(item.father_status,item.occupation)}}
                </div>
      
              </div>
    
              <div class="row" style="margin-top: 20px;">
                <div class="col-6 contentPara" style="padding: 0dp !important;">
                    <img class="setIcons" src="../assets/moneybag.svg" alt="family_income"> Family Inc.
                </div>
                <div class="col-6 contentPara" style="padding: 0dp !important;">
                    <img class="setIcons" src="../assets/meditation.svg" alt="gotra"> Gotra
                 </div>
                 <div class="col-6" style="padding: 0dp !important;">
                      {{setIncome(item.family_income)}} LPA
                  </div>
                  <div class="col-6" style="padding: 0dp !important;">
                     {{item.gotra}}
                  </div>
                </div>
                <div class="row">
                 <div class="col-6 contentPara" style="padding: 0dp !important;">
                    <img class="setIcons" src="../assets/family.svg" alt="family_type"> Family Type
                 </div>
                 <div class="col-6 contentPara" style="padding: 0dp !important;">
                    <img class="setIcons" src="../assets/house.svg" alt="house_type">  House Type
                 </div>
                <div class="col-6" style="padding: 0dp !important;">
                    {{item.family_type}}
                </div>
                <div  class="col-6" style="padding: 0dp !important;">
                   {{item.house_type}}
                </div>
              </div>
            </div>
      </mat-card>

      <!-- <mat-card class="messageCard"  *ngIf="type=='profile'">
          <mat-card-header>
            <div mat-card-avatar class="avatarImage"></div>
          <mat-card-title>Message</mat-card-title>
          <mat-card-subtitle>We are searching for good profiles for you. please come later</mat-card-subtitle>
          </mat-card-header>
          <mat-card-actions align="center" style="margin-bottom: 10px;">
            <button  color="primary" class="setButtons" mat-raised-button style="color: blue;background: white;"
            aria-label="Example icon-button with a heart icon">
            History
          </button>
          <button  color="primary" class="setButtons" mat-raised-button style="color: green;background: white;"
            aria-label="Example icon-button with a heart icon">
            Subscription
          </button>
          </mat-card-actions>
      </mat-card> -->

      <div class="container containerMessage" *ngIf="type=='message'">
          <div class="messageHeader">
            <h3>Message</h3>
            <img src="../../../assets/logo_192.png" alt="message">
            <p>
                {{item}}
            </p>
          </div>
          <div class="messageFooter">
            <button (click)="showPlan()"  *ngIf="button==='2'" color="primary" class="setButtons" mat-raised-button style="color: white;background: #fa697c;">
                👁प्लान देखें
            </button> 
            <button (click)="showLikedProfile()"  *ngIf="button == '1'" color="primary" class="setButtons" mat-raised-button style="color: white;background: #10e096e9;">
               ❤️ मेरी पसंद
            </button> 
            <button (click)="showProfilesLikedMe()" *ngIf="button == '1'" color="primary" class="setButtons" mat-raised-button style="color: white;background: #10e096e9;">
              💓मै किसे पसंद हूँ?
           </button> 
            <button (click)="callHans()" *ngIf="button==='2' || button=== '4'" color="primary" class="setButtons" mat-raised-button style="color: white;background: green;">
               📞कॉल हंस
            </button> 
            <button  (click)="getNextMessageOrProfile('NO')" *ngIf="button==='2' || button=== '3' || button=== '5'" color="primary" class="setButtons" mat-raised-button style="color: white;background: #05dfd7;">
                👩‍❤️‍👨 और दिखाएं
            </button> 
            <button (click)="buyPlan(3500)" *ngIf="button==='3'" color="primary" class="setButtons" mat-raised-button style="color: white;background: #fa697c;;">
                👁प्लान 3500
             </button> 
             <button (click)="buyPlan(5500)" *ngIf="button==='3'" color="primary" class="setButtons" mat-raised-button style="color: white;background: #fa697c;;">
                👁प्लान 5500
             </button> 
          </div>
          
      </div>
</main>
