<main class="mainContainer">
    <ng-container>
        <div class="profilePicSection">
            <div style="width: 100%;background-color: #83C9F4;">
                <p style="margin: 0px;padding: 10px 0px;text-align: center;font-weight: bold;font-size: 20px;">
                    मेरी प्रोफाइल
                </p>
            </div>
            <div style="
            padding: 10px 30px;">
            <img class="profileImage" 
            src="../../../assets/Sagar Dewan.jpg" alt="profile picture">
            </div>
            <div class="imageName">
                <div style="width: 100%;">
                    <p style="font-weight: bold;font-size: 18px;margin: 0px;">
                        सागर देवान,&nbsp;30
                    </p>
                    <p>
                        दिल्ली &nbsp;|&nbsp; 5'10"
                    </p>
                </div>
                <div style="position: absolute;bottom: 20px;right: 10px;">
                    <img width="35px" src="../../../assets/pencil.svg" alt="edit profile">
                </div>
            </div>
            </div>
            </ng-container>

            <ng-container>
                <div style="padding: 20px 40px; font-size: 16px;font-weight: bold;">
                    <p>
                        <img src="../../../assets/settings.svg" alt="settings icon">  
                        <span style="padding-top: 4.5px; color: #070973;
                        margin-left: 20px;
                        position: absolute;">&nbsp;&nbsp; रजिस्टर फ्री</span>
                    </p>

                    <p>
                        <img src="../../../assets/settings.svg" alt="settings icon">  
                        <span style="padding-top: 4.5px;color: #070973;
                        margin-left: 20px;
                        position: absolute;">&nbsp;&nbsp; सब्सक्रिप्शन</span>
                    </p>

                    <p>
                        <img src="../../../assets/settings.svg" alt="settings icon">  
                        <span style="padding-top: 4.5px;color: #070973;
                        margin-left: 20px;
                        position: absolute;">&nbsp;&nbsp; भाषा चुनें</span>
                    </p>

                    <p>
                        <img src="../../../assets/settings.svg" alt="settings icon">  
                        <span style="padding-top: 4.5px;color: #070973;
                        margin-left: 20px;
                        position: absolute;">&nbsp;&nbsp; सेटिंग्स</span>
                    </p>

                    <p>
                        <img src="../../../assets/settings.svg" alt="settings icon">  
                        <span style="padding-top: 4.5px;color: #070973;
                        margin-left: 20px;
                        position: absolute;">&nbsp;&nbsp; परेफरेंस</span>
                    </p>
                </div>
            </ng-container>

            <ng-container>

                <div style="width: 100%; position: absolute;bottom: 0px;padding: 0px 20px 30px;">
                        <button mat-raised-button style="background-color: transparent;
                        border-radius: 100px;border: 1px solid #1AA0F2;
                        width: 100%;
                        padding: 10px 0px;
                        color: #070973;">
                           <img style="position: absolute;
                           left: 20px;" src="../../../assets/settings.svg" alt="settings icon">  हमारा ब्लॉग पढ़ें
                        </button>

                        <button mat-raised-button style="background-color: #FAC8F1;
                        border-radius: 100px;border: 1px solid #1AA0F2;
                        width: 100%;
                        margin-top: 10px;
                        padding: 10px 0px;
                        color: #070973;">
                           <img style="position: absolute;
                           left: 20px;width: 35px;" src="../../../assets/couplehearts.svg" alt="couple hearts">  हमारा ब्लॉग पढ़ें
                        </button>
                </div>

            </ng-container>
</main>