<div class="container"
    style="background:rgba(231, 223, 223, 0.658);padding:1%;border-radius:20px!important;color:rgba(43, 39, 39, 0.774)">
    <div class="row" style="margin-top: 5%;" *ngIf="!(croppedImage$ | async)">
        <div class="text-center col-md-12">
            <input style="margin: 10px 25%; display: none;" #file type="file" id="file" accept="image/*"
                (change)="fileChangeEvent($event)" />
            <button class="uploadPhotoBtn" (click)="file.click()">Choose File</button>
        </div>
    </div>
    <div class="row" style="margin-top: 5%;">
        <div class="text-center col-md-8">
            <h5 *ngIf="(croppedImage$ | async)">Image Preview</h5>
            <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="4 / 4"
                [resizeToWidth]="256" format="png" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
                (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()">
            </image-cropper>
        </div>
        <div class="text-center col-md-4" *ngIf="(croppedImage$ | async)">
            <h5> Cropped Image Preview</h5>
            <img [src]="croppedImage$ | async" />
        </div>
    </div>
    <div class="row" style="margin-top: 5%;" *ngIf="(croppedImage$ | async)">
        <div class="text-center col-md-12">
            <button class="uploadPhotoBtn" style="width:100px;" (click)="closeDialog()">Done</button>
        </div>
    </div>
</div>