<div matDialogContent class="root">
<div class="full-width t-c">
<img width="100px" src="../../../assets/logo_192.png" alt="app logo"> <br>
<img width="30px" *ngFor="let item of [1,2,3,4,5]" src="../../../assets/star.svg" alt="stars">
<p class="rateUsText">
    Earn <span style="font-size: 22px;">3</span> More Credits!!
</p>
<p class="rateUsText2">
    Rate Us On Google Play Store Now
</p>
</div>
<div class="full-width" class="btnSection">
    <button mat-raised-button class="dialogBtn" (click)="openPlayStore()">
        Rate Now
    </button>
    <button mat-raised-button class="dialogBtn" (click)="dialogRef.close()">
        Remind Later
    </button>
</div>
</div>