<div class="mainBack">
    <main>
        <div class="text-center">
            <img src="../../assets/left-arrow-key.svg" class="backArrow" (click)="backToChat()" alt="BACK" />
            <p style="color:white;font-size: 25px; font-weight: 700;
            font-family: 'Gotham Rounded Book',Roboto, Helvetica Neue, sans-serif !important">Contact Customer Support
            </p>
            <p style="color:white;">Select complaint type.....</p>
            <div class="main-card" style="margin-bottom:25px;width:80%;">
                <select type="text" [(ngModel)]="selectedComplaint"
                    style="width:100%;margin:1%;border:0px solid white; background:white">
                    <option *ngFor="let complaint of complaints" [value]="complaint.name" required>
                        {{complaint.name}}
                    </option>
                </select>
            </div>
            <p style="color:white;">Write you query below.....</p>
            <!-- <div class="circular mat-elevation-z10">
                <img src="../../../assets/supportN.svg" style="width:45px" alt="heart">
            </div> -->
            <div class="main-card">
                <textarea style="border:0px!important;" id="" cols="30" rows="9"
                    placeholder="Describe your query here......" [(ngModel)]="query"></textarea>
            </div>

        </div>
        <div style="position: relative;
        display:flex;
        margin-top:20%!important;
        flex-direction: row;
        align-items: center;
        justify-content:center;">
            <button class="SpecialCase butn-special" mat-raised-button (click)="getCallback()">Request A
                Callback</button>
        </div>
    </main>
</div>