<main class='pwaSize fixed t-0 b-0 bg-white w-full HC overflowY'>
    <div class="container t-c">
        <div class="section">
            <div class="container" style="margin: 0px auto; text-align: center;"> 
                <p> <img src="../../../assets/images/logo.png" style="width:25%"> &nbsp; &nbsp;Hans Matrimony</p>
            </div>              
        </div>
    </div> 
    <div>
    <div><h4 class="textPreferences">Preferences</h4></div>
    </div>
    <div class="container" style="width:80%;background: #f5f5f5;margin-top: 20px;border-radius: 20px;">
      <div class="w-full" style="margin-left:auto;margin-right:auto">
        <form [formGroup]="PreferencesDetails">
            <div class="row">
                <div class="col-6">
                    <mat-form-field class="full-width fieldFit" appearance="standard">
                      <mat-label style="color: black;">Min Age</mat-label>
                      <input matInput type="number"  [value]="minAge" formControlName="age_min">
                    </mat-form-field>
                  </div>
                  <div class="col-6">
                      <mat-form-field class="full-width fieldFit" appearance="standard">
                        <mat-label style="color: black;">Max Age</mat-label>
                        <input matInput type="number" [value]="maxAge" formControlName="age_max">
                      </mat-form-field>
                    </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <mat-form-field class="full-width fieldFit" appearance="standard">
                      <mat-label style="color: black;">Min Height</mat-label>
                      <mat-select matNativeControl  [(value)]="minHeight" placeholder="Min Height">
                        <mat-option *ngFor="let option of Heights" [value]="option">
                          {{option}}
                        </mat-option>
                        </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-6">
                      <mat-form-field class="full-width fieldFit" appearance="standard">
                        <mat-label style="color: black;">Max Height</mat-label>
                        <mat-select matNativeControl  [(value)]="maxHeight" placeholder="Max Height">
                          <mat-option *ngFor="let option of Heights" [value]="option">
                            {{option}}
                          </mat-option>
                    </mat-select>
                         
                      </mat-form-field>
                    </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <mat-form-field class="full-width fieldFit" appearance="standard" style="height:60px">
                  <mat-label style="color: black;">Mother Tongue</mat-label>
                  <input type="text" matInput formControlName="stateGroup" name="stateGroup"  required [matAutocomplete]="autoGroup">
                  <mat-autocomplete #autoGroup="matAutocomplete">
                    <mat-optgroup *ngFor="let group of stateGroupOptions | async" [label]="group.letter">
                      <mat-option *ngFor="let name of group.names" [value]="name"  required>
                        {{name}}
                      </mat-option>
                    </mat-optgroup>
                  </mat-autocomplete>   
                </mat-form-field>
            </div>
            </div>
            <div class="row" style=" margin: 0px 0px 80px">
                
                    <mat-form-field  class="full-width fieldFit" appearance="standard"  style="height:60px;">
                        <mat-label style="color: black;">Caste</mat-label>
                        <mat-chip-list #chipList>
                          <mat-chip style="font-size: 12px" *ngFor="let caste of castess"
                          [selectable]="selectable"
                            [removable]="removable"
                            (removed)="remove(caste)">
                            {{caste}}
                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                          </mat-chip>
                        <input  matInput
                                placeholder="Caste *"
                                #casteInput
                                [formControl]="casteCtrl"
                                [matAutocomplete]="autoCaste"
                                 [matChipInputFor]="chipList"
                                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                  [matChipInputAddOnBlur]="addOnBlur"
                                  (matChipInputTokenEnd)="add($event)">
                    </mat-chip-list>
                    <mat-autocomplete #autoCaste="matAutocomplete" (optionSelected)="selected($event)">
                    <mat-option *ngFor="let caste of casteSearched | async" [value]="casteMapped">
                        {{caste}}
                      </mat-option>
                    </mat-autocomplete>
                      </mat-form-field>
            </div>
            <div class="row">
              <div class="col-md-12">
                <mat-form-field class="full-width fieldFit" appearance="standard"  style="height:60px">
                    <mat-label style="color: black;">Manglik</mat-label>
                    <mat-select matNativeControl [(value)]="manglikValue" placeholder="Manglik"  required >
                      <mat-option *ngFor="let item of manglikList" [value]="item">{{item}}</mat-option>
                    </mat-select>
                
                </mat-form-field>
            </div>   
            </div>
            <div class="row">
              <div class="col-md-12">
                <mat-form-field class="full-width fieldFit"  appearance="standard" style="height:60px">
                  <mat-label style="color: black;">Marital Status</mat-label>
                  <select matNativeControl name="marital_status" formControlName="marital_status">
                      <option *ngFor="let  option of MaritalStaus" [value]="option">
                        {{option}}
                      </option>
                    </select> 
  
                </mat-form-field>
              </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <mat-form-field class="full-width fieldFit" appearance="standard">
                      <mat-label style="color: black;">Food Choice</mat-label>
                      <select matNativeControl formControlName="food_choice" name="foodpreference" [value]="foodpreferences[0]" >
                        <option *ngFor="let  preferences of foodpreferences" [value]="preferences">
                          {{preferences}}
                        </option>
                      </select>
                    </mat-form-field>
                  </div>
            </div>
            <div class="row ">
              <div class="col-md-12">
                <mat-form-field class="full-width fieldFit" appearance="standard">
                  <mat-label style="color: black;">Working Status</mat-label>
                  <select matNativeControl   name="Working" formControlName="working" required name="working">
                      <option *ngFor="let  option of Working" [value]="option">
                        {{option}}
                      </option>
                    </select> 
                </mat-form-field>
              </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                  <mat-form-field appearance="standard" class="full-width fieldFit">
                    <mat-label style="color: black;">About your Preferences</mat-label>
                    <input formControlName="description" matInput placeholder="Write about your preferences">
                  </mat-form-field>
                </div>
              </div>
  
              
              <div class="col-xs-12 m-t-20" style="margin-left:auto;margin-right:auto;text-align:center;margin-bottom: 20px;">
                <div style="margin-left:auto;margin-right:auto;display:flex">
                  <button class="btn btn-blue" style="margin: 20px auto;" type="button" (click)="sixthStep()">Submit</button>
              </div>
        
          </div>
         
          </form>
      </div>    
  </div>
  
  </main>
  
  