<!-- <div class="d-flex justify-content-center">
    <div *ngFor="let feature of features">
        <app-feature-cards [features]="feature"></app-feature-cards>
    </div>
</div> -->
<div @fade class="d-flex justify-content-center features">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="d-flex justify-content-center">
                    <img src="../../../assets/featuresIllustrations/illustration1.jpg" alt="">
                </div>
                <p>Verified matches from <br><span style="font-weight:bold">50+ temples</span> in india </p>
            </div>
            <div class="col-md-4">
                <div class="d-flex justify-content-center">
                    <img src="../../../assets/featuresIllustrations/illustration2.jpg" alt="">
                </div>
                <p>More than <span style="font-weight:bold">50,000 </span>
                     <br>suitable matches </p>
            </div>
            <div class="col-md-4">
                <div class="d-flex justify-content-center">
                    <img src="../../../assets/featuresIllustrations/illustration3.jpg" alt="">
                </div>
                <p>Get Your <span style="font-weight:bold">Personal Matchmaker</span>
                    
                   <br>from 1000+Matchmakers </p>
            </div>
        </div>
    </div>
</div>
    