<!-- <div class="d-flex justify-content-center">
    <div *ngFor="let feature of features">
        <app-feature-cards [features]="feature"></app-feature-cards>
    </div>
</div> -->
<div id="us" class="whyus">
   <div class="why-us-header">
    <div class="d-flex justify-content-center">
        <div class="header">
            <h1 style="font-weight: bold;">
            
                Why  <span style="color:#24ADD8" >Us?</span> 
                <hr class="one">
                <hr class="two">
            </h1>
        </div>
    </div>
   </div>
    <div *ngIf="!mobileScreen" @fade class="d-flex justify-content-center features">
        <div class="container">
            <div class="row">
                <div class="col-md-4 feature-card-container">
                    <div class="feature-card-holder">
                        <div class="d-flex justify-content-center">
                            <img src="../../../assets/featuresIllustrations/ill1.jpg" alt="hansmatrimony-features-illustration1">
                        </div>
                        <p>More than <span style="font-weight:bolder">50,000 </span>
                             <br>suitable matches </p>
                    </div>
                </div>
                <div class="col-md-4 feature-card-container">
                   <div class="feature-card-holder">
                    <div class="d-flex justify-content-center">
                        <img src="../../../assets/featuresIllustrations/ill2.jpg" alt="hansmatrimony-features-illustration2">
                    </div>
                    <p>Get Your <span style="font-weight:bolder">Personal Matchmaker</span>
                        
                       <br>from 1000+Matchmakers </p>
                   </div>
                </div>
                <div class="col-md-4 feature-card-container ">
                    <div class="feature-card-holder">
                        <div class="d-flex justify-content-center">
                            <img src="../../../assets/featuresIllustrations/ill3.jpg" alt="hansmatrimony-features-illustration3">
                        </div>
                        <p>Verified matches from <br><span style="font-weight:bolder">50+ temples</span> in india </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="mobileScreen"  class="carousel-div">
        <owl-carousel-o [options]="customOptions">
            <ng-template class="slide" carouselSlide>
                <div class="temple-card text-shadow">
                    <span class="temple-name">
                        <!-- {{languageService.homeLang.sanatanTemple}} -->
                    </span>
                    <mat-card class=" featureCard2">
                        <img class="feature2Img" src="
                        ../../../assets/featuresIllustrations/ill2.jpg"
                            alt="hansmatrimony-features-illustration2">
                    </mat-card>
                </div>
                <p>Get Your <span style="font-weight:bolder">Personal Matchmaker</span>
                        
                    <br>from 1000+Matchmakers </p>
            </ng-template>
            <ng-template class="slide" carouselSlide>

                    <div class="temple-card text-shadow">
                        <span class="temple-name">
                        </span>
                        <mat-card class="featureCard2">
                            <img class="feature2Img"
                                src="../../../assets/featuresIllustrations/ill1.jpg"
                                alt="hansmatrimony-features-illustration1">
                        </mat-card>
                    </div>
                    <p>More than <span style="font-weight:bolder">50,000 </span>
                        <br>suitable matches </p>
            </ng-template>
            <ng-template class="slide" carouselSlide>
                <div class="temple-card text-shadow">
                    <span class="temple-name">
                    </span>
                    <mat-card class=" featureCard2">
                        <img class="feature2Img"
                            src="../../../assets/featuresIllustrations/ill3.jpg"
                            alt="hansmatrimony-features-illustration3">
                    </mat-card>
                </div>
                <p>Verified matches from <br><span style="font-weight:bolder">50+ temples</span> in india </p>
            </ng-template>
        </owl-carousel-o>
    </div>
</div>

    