<div class="d-flex justify-content-center">
    <h1 style="margin:30px 0px" >Profiles <hr class="one">
        <hr class="two"></h1>
    
</div>
<div class="desktop">
    <div class="container">
        <div style="margin-bottom: 20px;" class="row">
            <div class="col-md-2 d-flex justify-content-center">
                <div (click)="toggleBoy()" class="choice-card">
                    <img  style="width: 100%;" src="../../assets/choices/choice1.png" alt="">
                    <div class="btn-holder">
                        
                            <button class="view" >View</button>
                         
                         
                             <button class="contact">Contact</button>
                         
                    </div>
                </div>
            </div>
            <div class="col-md-2 d-flex justify-content-center">
                <div (click)="toggleBoy()" class="choice-card">
                    <img style="width: 100%;" src="../../assets/choices/choice2.png" alt="">
                    <div class="btn-holder">
                        
                        <button class="view" >View</button>
                     
                     
                         <button class="contact">Contact</button>
                     
                </div>
                </div>
            </div>
            <div class="col-md-2 d-flex justify-content-center">
                <div (click)="toggleGirl()" class="choice-card">
                    <img style="width: 100%;"  src="../../assets/choices/choice3.png" alt="">
                    <div class="btn-holder">
                        
                        <button class="view" >View</button>
                     
                     
                         <button class="contact">Contact</button>
                     
                </div>
                </div>
            </div>
            <div class="col-md-2 d-flex justify-content-center">
                <div (click)="toggleGirl()" class="choice-card">
                    <img style="width: 100%;"  src="../../assets/choices/choice4.png" alt="">
                    <div class="btn-holder">
                        
                        <button class="view" >View</button>
                     
                     
                         <button class="contact">Contact</button>
                     
                </div>
                    
                </div>
            </div>
            <div class="col-md-2 d-flex justify-content-center">
                <div (click)="toggleBoy()" class="choice-card">
                    <img style="width: 100%;"  src="../../assets/choices/choice5.png" alt="">
                    <div class="btn-holder">
                        
                        <button class="view" >View</button>
                     
                     
                         <button class="contact">Contact</button>
                     
                </div>
                </div>
            </div>
            <div class="col-md-2 d-flex justify-content-center">
                <div (click)="toggleBoy()" class="choice-card">
                    <img style="width: 100%;"  src="../../assets/choices/choice6.png" alt="">
                    <div class="btn-holder">
                        
                        <button class="view" >View</button>
                     
                     
                         <button class="contact">Contact</button>
                     
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mobileScreen">
        <div class="screen-row">
            
                <div class="choice-card">
                    <img  style="width: 100%;" src="../../assets/choices/choice1.png" alt="">
                    <div class="btn-holder">
                        
                            <button class="view" >View</button>
                         
                         
                             <button class="contact">Contact</button>
                         
                    </div>
                </div>
            
            
                <div class="choice-card">
                    <img  style="width: 100%;" src="../../assets/choices/choice2.png" alt="">
                    <div class="btn-holder">
                        
                            <button class="view" >View</button>
                         
                         
                             <button class="contact">Contact</button>
                         
                    </div>
            </div>
        
    </div>
    <div class="screen-row">
            
        <div class="choice-card">
            <img  style="width: 100%;" src="../../assets/choices/choice3.png" alt="">
            <div class="btn-holder">
                
                    <button class="view" >View</button>
                 
                 
                     <button class="contact">Contact</button>
                 
            </div>
        </div>
    
    
        <div class="choice-card">
            <img  style="width: 100%;" src="../../assets/choices/choice4.png" alt="">
            <div class="btn-holder">
                
                    <button class="view" >View</button>
                 
                 
                     <button class="contact">Contact</button>
                 
            </div>
    </div>

</div>
<div class="screen-row">
            
    <div class="choice-card">
        <img  style="width: 100%;" src="../../assets/choices/choice5.png" alt="">
        <div class="btn-holder">
            
                <button class="view" >View</button>
             
             
                 <button class="contact">Contact</button>
             
        </div>
    </div>


    <div class="choice-card">
        <img  style="width: 100%;" src="../../assets/choices/choice6.png" alt="">
        <div class="btn-holder">
            
                <button class="view" >View</button>
             
             
                 <button class="contact">Contact</button>
             
        </div>
</div>

</div>
</div>