<main [ngClass]="{'mainBack': section}">
    <mat-toolbar class="toolBar" *ngIf="section">
        <div style="display: flex;
        flex-direction: row;
        align-items: center;">
            <button mat-icon-button (click)="goBack()" class="example-icon"
                aria-label="Example icon-button with menu icon">
                <mat-icon>arrow_back</mat-icon>
            </button>
            <span class="titleText">{{title}}</span>
        </div>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>call</mat-icon>
            <span class="titleText">{{this.itemService.getCredits()}}</span>
        </button>
    </mat-toolbar>
    <section [ngClass]="{'ht-full': section,
     'paddingToSection' : section}">
        <div *ngFor="let item of seeMore$|async;let i = index">
                <app-profile-item 
                [itemName]="setName(item.profile.name)"
                [listItem]="item" [authData]="authData"
                [itemIndex]="i" (actionTaken)="profileReAnswer($event)"></app-profile-item>
                <hr>
        </div>

        <mat-spinner *ngIf="smallSpinner" style="margin: 0px auto;" [diameter]="30"></mat-spinner>

    </section>
    <!-- <ngx-spinner  bdColor = "transparent" size = "small" color = "#58D1FD" type = "square-jelly-box" [fullScreen] = "false"><p style="color: white"></ngx-spinner> -->


</main>

<main class="noProfileMain" *ngIf="!(seeMore$|async)">
    <div style="position: relative;display: block;margin: 30% auto;">
        <p class="text-center">
            <img width="80px" src="../../../assets/new icons/sad-face.svg" alt="no data">
        </p>
        <p class="text-center noProfile">
            No Profiles Here
        </p>
    </div>
</main>