<ng-container>
    <main>
        <section class="topSection" *ngIf="!dontShowHeaderAndFooter">
            <div class="centerImages">
                <div class="centerIt">
                    <div class="image1"></div>
                    <div class="image2"></div>
                    <div class="image3"></div>
                </div>
                <div>
                    <h3 class="hansTag">
                        <b>Hans Matrimony</b>
                    </h3>
                </div>
            </div>
            <div class="bottomText">
                    <p class="bottomText1">
                        <b>Suggested Profiles</b>
                    </p>
                   <p class="bottomText2">
                       Here are some profiles that you might like
                   </p>
            </div>
        </section>
        <section>
            <div *ngFor="let item of profilesList$|async">
                <div class="item-section">
                    <app-profile-item [profile]="item"></app-profile-item>
                </div>
            </div>
        </section>

        <section class="templeSection" *ngIf="!dontShowHeaderAndFooter">
            <h5 class="hansCentresTag">
                <b>HANS MATRIMONY CENTRES</b>
            </h5>
            <app-temple-item 
            [imageUrl]="'https://hansmatrimony.s3.ap-south-1.amazonaws.com/uploads/Hanuman+Mandir%2C+Jhandewalan+(1).jpg'" 
            [templeName]="'Hanuman Mandir, Jhandewalan'"></app-temple-item>

            <app-temple-item 
            [imageUrl]="'https://hansmatrimony.s3.ap-south-1.amazonaws.com/uploads/Shree+Laxminarayan+Mandir%2C+Paschim+Vihar+(1).jpg'" 
            [templeName]="'Shree Laxminarayan Mandir, Paschim Vihar'"></app-temple-item>

            <app-temple-item 
            [imageUrl]="'https://hansmatrimony.s3.ap-south-1.amazonaws.com/uploads/Hanuman+Mandir%2C+Rohini+(1).jpg'" 
            [templeName]="'Hanuman Mandir, Rohini'"></app-temple-item>
           
            <app-temple-item 
            [imageUrl]="'https://hansmatrimony.s3.ap-south-1.amazonaws.com/uploads/Shiv+Shakti+Sanatan+Dharm+Mandir%2C+Janakpuri+(1).jpg'" 
            [templeName]="'Shiv Shakti Sanatan Dharm Mandir, Janakpuri'"></app-temple-item>
        </section>

        <div>
            <!-- The Modal -->
            <div id="myModal" class="modal">
    
              <!-- The Close Button -->
              <a id="closeModal">&times;</a>
    
              <!-- Modal Content (The Image) -->
              <img class="modal-content" id="img01">
    
              <!-- Modal Caption (Image Text) -->
              <h4 id="caption"></h4>
            </div>
    
          </div>
    </main>
</ng-container>