
<main class='fixed t-0 b-0 w-full HC'>
        <!-- <div class='flex-fs-c setLogo' >
            <img  src='../../assets/logo_short.png' class='w-40' style="border-radius: 100%; object-fit: cover; height: 2.5rem; width: 2.5rem; background-color: white">
            <div class='f16 white m-l-10 pointer'>Hans Matrimony</div>
        </div >  -->
        <!-- <div style="display: flex">
          <div style="margin: auto">
              <div style="margin-bottom: 0px" [routerLink]="['/subscription']" routerLinkActive="router-link-active"  *ngIf="points >= 0">
                <p class="setNavIcons" id="credit">कांटेक्ट नंबर: {{points}}</p>
              </div>
          </div>

            <div class="row" style="margin:0px;padding: 0px;">
                    <div class="col" style="margin:0px;padding: 0px;">
                      <div ngbDropdown >
                          <img src="../../assets/menu.png" class="filterLogout" data-toggle="dropdown" alt="language" ngbDropdownToggle>
                        <div ngbDropdownMenu>
                            <a style="margin: 0px;padding: 0px;" href="tel:8766217175"  class="dropdown-item"><img src="../../assets/phone_blue.svg" style="width: 20px;" alt="call">Contact Us</a>
                          <button *ngIf="currentLanguage=='Hindi'" (click)="languageEnglish()" class="dropdown-item">Translate to English</button>
                          <button *ngIf="currentLanguage=='English'" (click)="languageHindi()" class="dropdown-item">हिंदी में देखें </button>
                          <button *ngIf="loginStatus" (click)="logout()" class="dropdown-item">Logout</button>
                          <button (click)="showVideo()" class="dropdown-item">APP चलाना सीखें</button>
                         <a href="https://hansmatrimony.com/blog/?ngsw-bypass=true"><button class="dropdown-item">Blog</button></a>
                        </div>
                      </div>
                    </div>
            </div>

             <div class="row" style="margin:0px;padding: 0px;">
               <div class="col" style="margin:0px;padding: 0px;">
              </div>
            </div>
                </div> -->
        <div class="groupContainer" [hidden]="history=='myprofile'">
          <img (click)="changeToMyProfile()" style="width:50px;height: 50px;margin: 10px 5px;border-radius: 50%;z-index: 99999999;" [src]="photo" alt="profile pic">
          <mat-tab-group mat-align-tabs="center" class="matGroup"   [(selectedIndex)]="selectedTab" (selectedIndexChange)="changeSelectedTab($event)"  >
            <mat-tab label="🗓आज के रिश्ते" id="today">
                  <ng-template matTabContent>
                      <!-- <div id="my-botui-app" class="mainBody w-full ht-full setBotUi" >
                                <bot-ui></bot-ui>
                    </div> -->
                    <button (click)="goToSubs()" id="creditButton" mat-raised-button>
                      कांटेक्ट नंबर: {{points}}
                  </button>
                    <div class="mainBody  w-full bg-white ht-full setBotUi">
                        <app-profile-card (setProfileImage)="setProfileImage($event)" (changeTab)="setSelectedTab($event)"></app-profile-card>
                    </div>
                  </ng-template>
                  </mat-tab>
                  <mat-tab label="📞कॉंटैक्टेड" id="contacted">
                      <ng-template matTabContent>
                        <button (click)="goToSubs()" id="creditButton" mat-raised-button>
                          कांटेक्ट नंबर: {{points}}
                      </button>
                          <div class='mainBody  w-full bg-white ht-full setBotUi'>
                                   <app-history (share)="getSelectedProfile($event)" (setTab)="setSelectedTab($event)" [type]="tabType" ></app-history>
                     </div>
                  </ng-template>
                  </mat-tab>
                  <mat-tab label="❤️मेरी पसंद" id="melike">
                      <ng-template matTabContent>
                      <div>
                        <button (click)="goToSubs()" id="creditButton" mat-raised-button>
                          कांटेक्ट नंबर: {{points}}
                      </button>
                          <div class='mainBody  w-full bg-white ht-full setBotUi'>
                                   <app-history (share)="getSelectedProfile($event)" (setTab)="setSelectedTab($event)" [type]="tabType"  ></app-history>
                         </div>
                     </div>
                  </ng-template>
                  </mat-tab>
                  <mat-tab label="💓मै किसे पसंद हूँ?" id="likeme">
                      <ng-template matTabContent>
                      <div>
                        <button (click)="goToSubs()" id="creditButton" mat-raised-button>
                          कांटेक्ट नंबर: {{points}}
                      </button>
                          <div class='mainBody  w-full bg-white ht-full setBotUi'>
                                   <app-history (share)="getSelectedProfile($event)" (setTab)="setSelectedTab($event)" [type]="tabType" ></app-history>
                         </div>
                     </div>
                  </ng-template>
                  </mat-tab>
                  <mat-tab label="❌नापसंद" id="rejected">
                      <ng-template matTabContent>
                      <div>
                        <button (click)="goToSubs()" id="creditButton" mat-raised-button>
                          कांटेक्ट नंबर: {{points}}
                      </button>
                          <div class='mainBody  w-full bg-white ht-full setBotUi' >
                                   <app-history (share)="getSelectedProfile($event)" (setTab)="setSelectedTab($event)" [type]="tabType" ></app-history>
                         </div>
                     </div>
                  </ng-template>
                  </mat-tab>
                  </mat-tab-group>
        </div>
    <div>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- The Close Button -->
  <a id="closeModal">&times;</a>

  <!-- Modal Content (The Image) -->
  <img class="modal-content" id="img01">

  <!-- Modal Caption (Image Text) -->
  <h4 id="caption"></h4>
</div>

    </div>
  
  <div>
       <div class="w-full bg-white ht-full" style="background-size: cover;" *ngIf="history=='myprofile'">
                <app-myprofile (backToProfiles)="changeToBot()" (preferenceChanged)="preferencesChanged($event)" [personalProfileData]="profileData" [familyProfileData]="familyData" [preferenceProfileData]="preferenceData"></app-myprofile>
      </div>
  </div>

  <div>
    <div class='mainBody  w-full bg-white ht-full' style="margin-top: 30px;"  *ngIf="history=='connection_error'">
             <app-connection-error></app-connection-error>
   </div>
</div>

  </main>
  