
<main class='fixed t-0 b-0 w-full HC' style="background-image:url('../../assets/bgicon.png');background-size: cover;">
        <!-- <div class='flex-fs-c setLogo' >
            <img  src='../../assets/logo_short.png' class='w-40' style="border-radius: 100%; object-fit: cover; height: 2.5rem; width: 2.5rem; background-color: white">
            <div class='f16 white m-l-10 pointer'>Hans Matrimony</div>
        </div >  -->
        <!-- <div style="display: flex">
          <div style="margin: auto">
              <div style="margin-bottom: 0px" [routerLink]="['/subscription']" routerLinkActive="router-link-active"  *ngIf="points >= 0">
                <p class="setNavIcons" id="credit">कांटेक्ट नंबर: {{points}}</p>
              </div>
          </div>

            <div class="row" style="margin:0px;padding: 0px;">
                    <div class="col" style="margin:0px;padding: 0px;">
                      <div ngbDropdown >
                          <img src="../../assets/menu.png" class="filterLogout" data-toggle="dropdown" alt="language" ngbDropdownToggle>
                        <div ngbDropdownMenu>
                            <a style="margin: 0px;padding: 0px;" href="tel:8766217175"  class="dropdown-item"><img src="../../assets/phone_blue.svg" style="width: 20px;" alt="call">Contact Us</a>
                          <button *ngIf="currentLanguage=='Hindi'" (click)="languageEnglish()" class="dropdown-item">Translate to English</button>
                          <button *ngIf="currentLanguage=='English'" (click)="languageHindi()" class="dropdown-item">हिंदी में देखें </button>
                          <button *ngIf="loginStatus" (click)="logout()" class="dropdown-item">Logout</button>
                          <button (click)="showVideo()" class="dropdown-item">APP चलाना सीखें</button>
                         <a href="https://hansmatrimony.com/blog/?ngsw-bypass=true"><button class="dropdown-item">Blog</button></a>
                        </div>
                      </div>
                    </div>
            </div>

             <div class="row" style="margin:0px;padding: 0px;">
                    <div class="col" style="margin:0px;padding: 0px;">
                    </div>
            </div>
        </div> -->

        <mat-tab-group mat-align-tabs="center" class="matGroup" dynamicHeight  [(selectedIndex)]="selectedTab" (selectedIndexChange)="changeSelectedTab($event)" [hidden]="history=='myprofile'" >
          <mat-tab label="Today's Profile">
                <ng-template matTabContent>
                  <button (click)="goToSubs()" id="creditButton" mat-raised-button>
                    कांटेक्ट नंबर: {{points}}
                </button>
                    <div id="my-botui-app" class="mainBody w-full ht-full setBotUi" >
                              <bot-ui></bot-ui>
                  </div>
                </ng-template>
                </mat-tab>
                <mat-tab label="Contacted">
                    <ng-template matTabContent>
                      <button (click)="goToSubs()" id="creditButton" mat-raised-button>
                        कांटेक्ट नंबर: {{points}}
                    </button>
                        <div class='mainBody  w-full bg-white ht-full' style="margin-top: 50px;">
                                 <app-history (share)="getSelectedProfile($event)" (setTab)="setSelectedTab($event)" [type]="tabType" ></app-history>
                   </div>
                </ng-template>
                </mat-tab>
                <mat-tab label="Interest Shown">
                    <ng-template matTabContent>
                    <div>
                      <button (click)="goToSubs()" id="creditButton" mat-raised-button>
                        कांटेक्ट नंबर: {{points}}
                    </button>
                        <div class='mainBody  w-full bg-white ht-full' style="margin-top: 50px;">
                                 <app-history (share)="getSelectedProfile($event)" (setTab)="setSelectedTab($event)" [type]="tabType"  ></app-history>
                       </div>
                   </div>
                </ng-template>
                </mat-tab>
                <mat-tab label="Interest Recieved">
                    <ng-template matTabContent>
                    <div>
                      <button (click)="goToSubs()" id="creditButton" mat-raised-button>
                        कांटेक्ट नंबर: {{points}}
                    </button>
                        <div class='mainBody  w-full bg-white ht-full' style="margin-top: 50px;">
                                 <app-history (share)="getSelectedProfile($event)" (setTab)="setSelectedTab($event)" [type]="tabType" ></app-history>
                       </div>
                   </div>
                </ng-template>
                </mat-tab>
                <mat-tab label="Rejected">
                    <ng-template matTabContent>
                    <div>
                      <button (click)="goToSubs()" id="creditButton" mat-raised-button>
                        कांटेक्ट नंबर: {{points}}
                    </button>
                        <div class='mainBody  w-full bg-white ht-full' style="margin-top: 50px;">
                                 <app-history (share)="getSelectedProfile($event)" (setTab)="setSelectedTab($event)" [type]="tabType" ></app-history>
                       </div>
                   </div>
                </ng-template>
                </mat-tab>
                </mat-tab-group>
    <div>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- The Close Button -->
  <a id="closeModal">&times;</a>

  <!-- Modal Content (The Image) -->
  <img class="modal-content" id="img01">

  <!-- Modal Caption (Image Text) -->
  <h4 id="caption"></h4>
</div>

    </div>
  
  <div>
       <div class="w-full bg-white ht-full" style="background-size: cover;" *ngIf="history=='myprofile'">
                <app-myprofile (preferenceChanged)="preferencesChanged($event)" [personalProfileData]="profileData" [familyProfileData]="familyData" [preferenceProfileData]="preferenceData"></app-myprofile>
      </div>
  </div>

  <div>
    <div class='mainBody  w-full bg-white ht-full'  *ngIf="history=='connection_error'">
             <app-connection-error></app-connection-error>
   </div>
</div>
  
  <footer id="footerVisibility">
      <div class="navbar" style="padding: 0px;z-index: 1;">
          <div class="row rowClass" >
              <div class="col-6" id="chatButton" style="text-align: center">
                      <div class="row" style="margin: 0px auto; display: inline;">
                          <button class="btn" (click)="setSelectedTab(0)" id="chatText">रिश्ते देखें</button>
                      </div>
              </div>
              <!-- <div class="col-4" id="historyButton" style="text-align: center" >
                      <div class="row" style="margin: 0px auto; display: inline;">
                              <button class="btn" (click)="changeToHistory()" id="historyText">देखे गए रिश्ते</button>
                          </div>
              </div> -->
              <div class="col-6" id="profileButton" style="text-align: center">
                      <div class="row" style="margin: 0px auto; display: inline;position: relative;">
                        <!-- <div style="background: red; top: -10px;right: -15px;padding:5px;position: absolute;border-radius: 100px;"><span style="font-size: 10px;color: white;">New</span></div> -->
                              <button class="btn" (click)="changeToMyProfile()" id="profileText">मेरा प्रोफाइल</button>
                          </div>
              </div>
          </div>
        </div>
  </footer>
  </main>
  