<div class="hero">
    <img class="vector-bottom" src="../../../assets/hero/VectorBottom.svg" alt="">
    <img src="../../../assets/hero/stripes.svg" alt="" class="stripes">
    <img src="../../../assets/hero/stripes2.svg" alt="" class="stripes2">
    <img src="../../../assets/hero/stripes3.svg" alt="" class="stripes3">
     <!-- <app-main-nav></app-main-nav> -->
        <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
            <a class="navbar-brand" href="#">
                <div class="logo-holder">
                    <img class="logo mr-3 img-fluid" src="../../../assets/hero/logo.svg" alt="">
                    <img class="logo-text" src="../../../assets/hero/text.svg" alt="">
                </div>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            (click)="isCollapsed=!isCollapsed"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" href="about">About us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="login">Login</a>
                </li>
                <li class="nav-item">
                    <a (click)="downloadApp()" >
                        <img class="googleplay" src="../../../assets/newAppIllustrations/googleplay.jpg" alt="">
                    </a>
                </li>
              </ul>
            </div>
          </nav>
          <div class="container">
            
              <div class="row">
                  <div *ngIf="!smallScreen" class="col-md-6">
                    <div class="content">
                        <h2><span style="font-weight:bold">Verified</span> matches from <br> <span style="font-weight:bold">50+ Temples</span>
                        </h2>
                        
                        <hr>
                        <div class="container">
                            <div class="row">
                                <div class="col-6">
                                    <p>Searching a</p>
                                    <div class="d-flex">
                                        <button (click)="groomToggle()" [class.groom-btn]="groom" [class.bride-btn]="bride" >Groom</button>
                                        <button (click)="brideToggle()" [class.groom-btn]="bride" [class.bride-btn]="groom">Bride</button>
                                    </div>
                                 </div>
                                <div class="col-6">
                                    <p>For</p>
                                    <div class="d-flex">
                                        <button type="button" class="myself-btn">{{name}}</button>
                                                <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                                                    <button class="down" ngbDropdownToggle></button>
                                                    <div class="dropdown-menu" ngbDropdownMenu>
                                                    <button #myself (click)="mySelf(myself.id)" id="myself" ngbDropdownItem>Myself</button>
                                                    <button *ngIf="groom" #daughter (click)="mySelf(daughter.id)" id="daughter" ngbDropdownItem>Daughter</button>
                                                    <button *ngIf="bride" #son (click)="mySelf(son.id)" id="Son" ngbDropdownItem>Son</button>
                                                    <button  *ngIf="bride" #brother (click)="mySelf(brother.id)" id="brother" ngbDropdownItem>Brother</button>
                                                    <button *ngIf="groom" #sister (click)="mySelf(sister.id)" id="sister" ngbDropdownItem>Sister</button>
                                                    <button #other (click)="mySelf(other.id)" id="other" ngbDropdownItem>Other</button>
                                                    </div>
                                                </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center">
                            <button 
                            (click)="goToCompatibility()"
                            routerLinkActive="router-link-active"
                            class="register-btn">Register For Free</button>
                        </div>
                    </div>
                  </div>
                  <div *ngIf="!smallScreen" class="col-md-6">
                      <img class="illustration img-fluid" src="../../../assets/hero/illsvg.svg" alt="">
                  </div>
                  <div *ngIf="smallScreen" class="col-md-6">
                    <img class="illustration img-fluid" src="../../../assets/hero/illsvg.svg" alt="">
                </div>
                  <div *ngIf="smallScreen" class="col-md-6">
                    <div class="content">
                        <h2 style="text-align:center;" ><span style="font-weight:bold">Verified</span> matches from <br> <span style="font-weight:bold">50+ Temples</span>
                        </h2>
                        <hr>
                        <div class="container">
                            <div class="row">
                                <div class="col-6">
                                    <p>Searching a</p>
                                    <div class="d-flex">
                                        <button (click)="groomToggle()" [class.groom-btn]="groom">Groom</button>
                                        <button (click)="brideToggle()" [class.groom-btn]="bride">Bride</button>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <p>For</p>
                                    <div class="d-flex">
                                        <button type="button" class="myself-btn">{{name}}</button>
                                                <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                                                    <button class="down" ngbDropdownToggle></button>
                                                    <div class="dropdown-menu" ngbDropdownMenu>
                                                    <button #myself (click)="mySelf(myself.id)" id="myself" ngbDropdownItem>Myself</button>
                                                    <button #daughter (click)="mySelf(daughter.id)" id="daughter" ngbDropdownItem>Daughter</button>
                                                    <button #son (click)="mySelf(son.id)" id="Son" ngbDropdownItem>Son</button>
                                                    <button #brother (click)="mySelf(brother.id)" id="brother" ngbDropdownItem>Brother</button>
                                                    <button #sister (click)="mySelf(sister.id)" id="sister" ngbDropdownItem>Sister</button>
                                                    <button #other (click)="mySelf(other.id)" id="other" ngbDropdownItem>Other</button>
                                                    </div>
                                                </div>

                                    </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center">
                            <button (click)="goToCompatibility()"
                            routerLinkActive="router-link-active" 
                            class="register-btn">Register For Free</button>
                        </div>
                    </div>
                  </div>
              </div>
          </div>
    </div>  
