::ng-deep .mat-dialog-container {
    padding: 0px;
    background: white;
    color: black;
}
.row {
    padding: 0px;
    margin: 0px;
}
option{
    font-size: 14px;
}
select {
    font-size: 14px;
}
input{
    font-size: 14px;
}

@media (max-width: 1024px) {

.currentCityField{
    width: 100px;
    margin: -30px 0px;
}
}