<div id="offBanner">
  <img id="offBannerImg" src="../../../assets/todays-off-image.png" />
</div>
<main>
  <img width="20px"
   *ngIf="chooseMethod" 
   id="backBtn" 
   (click)="goBack()"
   src="../../../../assets/backbtn.svg" 
   alt="back">

  <div id="topBanner">
    <div id="cancel">
      <img (click)="closeDialog()" style="width: 30px; margin: 5px 2px 0px 0px;" src="../../../assets/clear.svg"
        alt="cancel" />
    </div>
    <div id="bannerDiv">
      <ngb-carousel *ngIf="images" [showNavigationArrows]="showNavigationArrows" [showNavigationIndicators]="false">
        <ng-template ngbSlide *ngFor="let image of images">
          <div class="picsum-img-wrapper" style="border:0px!important">
            <img [src]="image" alt="Offers" style="height: 30vh; width: 100%;" />
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
  <br />
  <div class="plansArea" *ngIf="!chooseMethod">
    <div class="planrow text-dark" style="background-color: #00c2cb; border-radius: 18px; margin-top: 2%;">
      <div class="plancolumn" *ngIf="languageService.getCurrentLanguage() === 'hindi'">
        <b>बेसिक प्लान</b><br />
        <a>45 कांटेक्टस</a><br />
      </div>
      <div class="plancolumn" *ngIf="languageService.getCurrentLanguage() === 'english'">
        <b>Basic Plan</b><br />
        <a>45 Contacts</a><br />
      </div>
      <div class="plancolumn" style="background-color: #f0f1f0; color: #5b6d78 !important;">
        <b class="specialCase" style="font-size: large; color: #5b6d78 !important;">₹2800</b>
        <br />
        <a style="
            text-decoration: line-through;
            font-size: medium;
            color: #596a76 !important;
          ">₹ 5500</a>

        <div class="" *ngIf="languageService.getCurrentLanguage() === 'hindi'" style="
            background-color: #f0f1f0;
            border-radius: 18px;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
        ">
          <div class="month">
            <a>3 महीने</a>
          </div>
          <button class="btn btn-primary btn-small" (click)="container1()" style="vertical-align: middle !important;">
            BUY
          </button>
        </div>
        <div class="" *ngIf="languageService.getCurrentLanguage() === 'english'" style="
background-color: #f0f1f0;
border-radius: 18px;
border-top-left-radius: 0px;
border-bottom-left-radius: 0px;
">
          <div class="month">
            <a>3 months</a>
          </div>
          <button class="btn btn-primary btn-small" (click)="container1()" style="vertical-align: middle !important;">
            BUY
          </button>
        </div>
      </div>
    </div>

    <div class="planrow" style="background-color: #00c2cb; border-radius: 18px; margin-top: 0px;">
      <div class="plancolumn" *ngIf="languageService.getCurrentLanguage() === 'hindi'">
        <div style="
            font-weight: 500 !important;
            position: absolute;
            top: -15px !important;
            left: 8%;
            background: #ff39c4;
            color: white;
            padding: 2px 2px 2px 2px;
            border-radius: 3px 3px 3px 3px;
          ">
          Bestseller
        </div>
        <b>सुप्रीम प्लान</b><br />
        <a>90 कांटेक्टस</a><br />
      </div>
      <div class="plancolumn" *ngIf="languageService.getCurrentLanguage() === 'english'">
        <div style="
            font-weight: 300 !important;
            position: absolute;
            top: -15px !important;
            left: 8%;
            font-size:small;
            background: #ff39c4;
            color: white;
            padding: 1px 1px 1px 1px;
            border-radius: 2px 2px 2px 2px;
          ">
          Bestseller
        </div>
        <b>Supreme Plan</b><br />
        <a>90 Contacts</a><br />
      </div>
      <div class="plancolumn" style="background-color: #f0f1f0; color: #5b6d78 !important;">
        <b class="specialCase" Style=" font-size: large;color: #5b6d78 !important; ">₹5500</b><br />
        <a style="
            text-decoration: line-through;
            font-size: medium;
            color: #596a76 !important;
          ">₹ 8500</a><br />
        <div class="" *ngIf="languageService.getCurrentLanguage() === 'hindi'" style="
        background-color: #f0f1f0;
        border-radius: 18px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
      ">
          <div class="month">
            <a>6 महीने</a>
          </div>
          <button class="btn btn-primary btn-small" (click)="container2()">
            BUY
          </button>
        </div>
        <div class="" *ngIf="languageService.getCurrentLanguage() === 'english'" style="
        background-color: #f0f1f0;
        border-radius: 18px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
      ">
          <div class="month">
            <a>6 months</a>
          </div>
          <button class="btn btn-primary btn-small" (click)="container2()">
            BUY
          </button>
        </div>
      </div>
    </div>
    <div class="planrow text-dark" style="background-color: #00c2cb; border-radius: 18px; margin-top: 0px;">
      <div class="plancolumn" *ngIf="languageService.getCurrentLanguage() === 'hindi'">
        <b>कुंडली प्लान</b><br />
        <a>45 कांटेक्टस</a><br />
      </div>
      <div class="plancolumn" *ngIf="languageService.getCurrentLanguage() === 'english'">
        <b>Kundali Plan</b><br />
        <a>45 Contacts</a><br />
      </div>
      <div class="plancolumn" style="background-color: #f0f1f0;">
        <b class="specialCase" style="font-size: large; color: #596a76 !important;">₹8500</b><br />
        <a style="
            text-decoration: line-through;
            font-size: medium;
            color: #596a76 !important;
          ">₹ 9100</a>
        <div class="" *ngIf="languageService.getCurrentLanguage() === 'hindi'" style="
        background-color: #f0f1f0;
        border-radius: 18px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
      ">
          <div class="month">
            <a>6 महीने</a>
          </div>
          <button class="btn btn-primary btn-small" (click)="container3()">
            BUY
          </button>
        </div>
        <div class="" *ngIf="languageService.getCurrentLanguage() === 'english'" style="
        background-color: #f0f1f0;
        border-radius: 18px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
      ">
          <div class="month">
            <a>6 months</a>
          </div>
          <button class="btn btn-primary btn-small" (click)="container3()">
            BUY
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="plansArea" *ngIf="chooseMethod">
    <p class="methods text-center">
      Payement Method: 
    </p>
    <p class="payOpt">
     <button mat-raised-button
     (click)="HandlePayment()"
      id="razor">
      <!-- <img width="100%" src="../../../../assets/icons/razorpay.svg" alt="razorpay"> -->
      Card / NetBanking / Wallets
     </button>
     <button mat-raised-button
     (click)="onPaytm()"
      id="paytm">
      <img width="90px" height="100%" src="../../../../assets/icons/paytm.svg" alt="paytm">
     </button>
    </p>

    <form method="post" id="pay" name="paytm">
      <table border="1">
         <tbody>
            <input type="hidden" name="mid" [value]="mId">
            <input type="hidden" name="orderId" [value]="oId">
            <input type="hidden" name="txnToken" [value]="txnToken">
         </tbody>
      </table>
   </form>
  </div>
</main>


<div id="footer" class="text-dark text-center">
  <div class="plancolumn">
    <img style="width: 2.2rem!important;" src="../../../assets/timer.svg" />&nbsp;
  </div>
  <div class="plancolumn" style="margin-right: 15px;">
    <a style="color: black !important;">Offer ends in :</a> <br />
    <b style="font-size: larger; font-weight: bold; color: black !important;">{{ minutes }} Min : {{ seconds }} Sec</b>
  </div>
</div>