::ng-deep .mat-dialog-container{
    padding: 0px;
    border-radius: 10px;
    background-size: contain;
}
::ng-deep .mat-dialog-content{
    max-height: 10rem;
    margin: 0px;
    padding: 0px;
}
::ng-deep .cdk-overlay-dark-backdrop{
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
}
#offBanner{
    width:100%;
    position: absolute;
    z-index: 99999999;
    height:1.5rem;    
}

.responsive{
    max-width:100%;
    max-height:100%;
  }
  
.center{
    position: absolute;
    top: 50%;
    left: 45%; 
    transform: translate(-50%, -50%);
  }
  
#cancel{
    position: absolute;
    z-index: 99999999;
    right:4%;   
}
#footer{
    text-align:center;
    justify-content: center;
    width:90%;
    position: absolute;
    z-index: 99999999;
    background-image: url(/../../../assets/trapezoid.svg);
    background-position: center center; 
    background-size: 100% 100%;
}
#topBanner{
    width: 100%;
    text-align: center;
}
#bannerDiv{
    width: auto;
    object-fit: cover;
    height: 45%;
    position: relative;
    padding-top: 0px;
}

.planrow {
    height:auto;
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin-top:2%;
    margin-bottom:2%;
}
.plancolumn {
    padding-top:1rem;
    padding-bottom:0rem;
    padding-left:1rem;
    font-size:1rem;
    flex: 40%;
    display:inline-block;
    vertical-align:middle;
}

@media (max-height: 575px) {
    #footer{
        text-align:center;
        justify-content: center;
        width:90%;
        font-size:0.8rem;
        position: absolute;
        z-index: 99999999;
        background-image: url(/../../../assets/trapezoid.svg);
        background-position: center center; 
        background-size: 100% 100%;
    }
    .plancolumn {
        padding-top:0.8rem;
        padding-bottom:0rem;
        padding-left:0.8rem;
        font-size:0.9rem;
        flex: 50%;
        display:inline-block;
        vertical-align:middle;
    }

}
@media (max-width: 370px ) {
    .plancolumn {
        padding-top:0.8rem;
        padding-bottom:0rem;
        padding-left:0.8rem;
        font-size:0.7rem!important;
        flex: 40%;
        display:inline-block;
        vertical-align:middle;
    }
    .specialCase{
        font-size:1.2rem!important;
    }
}