<h2  class="wrapper-text" >How it <span style="color:#24ADD8" >Works</span></h2>
<div class="container">
    <div class="row">
        <div *ngIf="!iPhone5" class="col-1"></div>
        <div class="col-5 left"><img class="img-fluid img-left" src="{{works[0].image}}"></div>
        <div class="col-1">
            <div class="join"></div>
        </div>
        <div class="col-5 right">
            <h3>{{works[0].header}}</h3>
            <p >Join our platform easily by providing your basic details either online or offline at the temple centres.</p>
        </div>
    </div>
    <div class="row ">
        <div *ngIf="!iPhone5" class="col-1"></div>
        <div class="col-5 left">
            <div class="right-text">
                <h3 >{{works[1].header}}</h3>
            <p >Profiles are verified by the matchmakers at  hans matrimony temple centres to give you the best profiles possible</p>
            </div>
        </div>
          
          
        <div class="col-1">
            <div class="join"></div>
        </div>
        <div class="col-5">
            <img class="img-right" src="{{works[1].image}}">
        </div>
    </div>
    <div class="row">
        <div *ngIf="!iPhone5" class="col-1"></div>
        <div class="col-5 left">
            <img class="img-fluid img-left" src="{{works[2].image}}">
        </div>
          
          
        <div class="col-1">
            <div class="join"></div>
        </div>
        <div class="col-5">
            
            <h3>{{works[2].header}}</h3>
            <p >Contact our matchmakers to get your personalised matches anytime. Our matchmakers will share profiles on a daily/weekly basis as per your  preferences</p>
        </div>
    </div>
    <div class="row">
        <div *ngIf="!iPhone5" class="col-1"></div>
        <div class="col-5 left">
            <div class="right-text">
                <h3>{{works[3].header}}</h3>
            <p>Choose your perfect matches and contact them by becoming our prime member in just a single tap. </p>
            </div>
        </div>
          
          
        <div class="col-1">
            <div class="join"></div>
        </div>
        <div class="col-5">
            <img class="img-right" src="{{works[3].image}}">
        </div>
    </div>
    <div class="row">
        <div *ngIf="!iPhone5" class="col-1"></div>
        <div style="margin-left:-18px;" class="col-5">
            <img class="img-fluid img-left" src="{{works[4].image}}">
        </div>
          
          
        <div  class="col-1">
            <div class="join"></div>
        </div>
        <div class="col-5">
            
            <h3>{{works[4].header}}</h3>
            <p >We at Hans Matrimony are dedicated to help you find your life partner. Sign up and leave the hassle to us</p>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center">
    <button (click)="goToCompatibility()" >Register For Free</button>
</div>
  
