<main>
    <h4 class="heading"> Create Profile For:</h4>
    <div class="text-center btnDiv">
        <form>
            <mat-form-field class="full-width fieldFit" appearance="standard">
                <mat-label>Create Profile For</mat-label>
                <mat-select [formControl]="Relation">
                    <mat-option *ngFor="let  option of createProfile" [value]="option">
                        {{option}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </form>
    </div>
</main>