.textRegister {
    font-weight:bolder;
    padding-top:1rem;
    text-align: center;
     color: #285fdd
}
::ng-deep .mat-select-value {
    color: black !important;
}
.fieldFit{
  height: 45px;
  margin-bottom: 1rem;
}
.backBtn{
  border:0px;
  background:transparent;
  /* position:absolute;
  z-index:999999; */
  /* width:1.6rem; */
  height:2rem;
  /* top:10%;
  left:30px; */
  margin-right: 10px;
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
}
.backArrow{
  width:20px;
  margin:1%;
}
.impNote {
  margin: 5px 0px;
  padding-right: 15px;
  padding-left: 15px;
  color: #737373;
  font-size: 0.85rem;
}
.impNoteMain {
  margin: 0px;
  padding-right: 15px;
  padding-left: 15px;
  color: #737373;
  font-size: 0.85rem;
  text-align: center;
  letter-spacing: 2px;
  line-height: 25px;
}
#viewButton2{
  background: #34b7f1;
  color: white;
  padding-left: 40px;
  padding-right: 40px;
box-shadow: 
12px 12px 12px rgba(0, 0, 0, 0.2);
}
#skipBtn{
  background: #34b7f1;
  color: white;
  padding-left: 40px;
  padding-right: 40px;
  margin-right: 20px;
box-shadow: -12px -12px 14px 0 rgba(255, 255, 255, 1),
12px 12px 14px rgba(0, 0, 0, 0.2);
}
.customBackground{
  border-radius: 10px;
  padding: 5px;
  background: white;
  box-shadow: -12px -12px 12px 0 rgba(0, 0, 0, 0.1),
12px 12px 12px 0 rgba(0, 0, 0, 0.1);
}

@media (max-width: 900px) {
main {
    height: 100%;
    overflow: auto;
    }
    select {

        /* styling */
        background-color: white;
        border-radius: 4px;
        display: inline-block;
        font: inherit;
        padding: 5px 30px 5px 3px;
      
        /* reset */
      
        margin: 0;      
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-appearance: none;
        -moz-appearance: none;
      }
      
      
      /* arrows */
      
      .classic {
        background-image:
          linear-gradient(45deg, transparent 50%, blue 50%),
          linear-gradient(135deg, blue 50%, transparent 50%),
          linear-gradient(to right, white, skyblue);
        background-position:
          calc(100% - 20px) calc(1em + 2px),
          calc(100% - 15px) calc(1em + 2px),
          100% 0;
        background-size:
          5px 5px,
          5px 5px,
          2.5em 2.5em;
        background-repeat: no-repeat;
      }
      
      .classic:focus {
        background-image:
          linear-gradient(45deg, white 50%, transparent 50%),
          linear-gradient(135deg, transparent 50%, white 50%),
          linear-gradient(to right, white, gray);
        background-position:
          calc(100% - 15px) 1em,
          calc(100% - 20px) 1em,
          100% 0;
        background-size:
          5px 5px,
          5px 5px,
          2.5em 2.5em;
        background-repeat: no-repeat;
        border-color: grey;
        outline: 0;
      }
      .customBackground{
        border-radius: 10px;
        padding: 5px;
        background: white;
        box-shadow: -12px -12px 12px 0 rgba(0, 0, 0, 0.03),
      12px 12px 12px 0 rgba(0, 0, 0, 0.1);
      }
}

  