.textRegister {
    font-weight:bolder;
    padding-top:1rem;
    text-align: center;
     color: #285fdd
}
::ng-deep .mat-select-value {
    color: black !important;
}
.fieldFit{
    height:60px;
}
::ng-deep .mat-form-field-ripple {
    background-color:#34b7f1;
    height: 1px;
}
::ng-deep .mat-form-field-appearance-standard .mat-form-field-underline{
    background-color: #34b7f1;
    height: 1px;
}