
<app-full-form-one *ngIf="fourPageService.getFullPageStatus()"></app-full-form-one>
<div class="compatiblity-form-holder" *ngIf="!fourPageService.getFullPageStatus()">
<div *ngIf="mobileScreen" >
  <a class="d-flex justify-content-center" (click)="scrollToTop()"><button *ngIf="auto" class="register-btn d-flex justify-content-center" >Register For Free</button></a>
</div>
  
<div class="d-flex"> 
  <img src="../../assets/hero/logoNew.svg" class="logo"  alt="">
<mat-toolbar class="fixToolBar">
  <mat-toolbar-row style="position:relative!important">
    <div class="mainDivToolbar" style="position:relative; ">
      <div style="
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;">
      </div>
    </div>
    <div *ngIf="photos.length > 1" id="tool-bar" style="width:90px;position:absolute;top:10px;">
      <img *ngFor="let i of photoIndices" style="-webkit-box-shadow: 0px 0px 8px 2px rgba(68,161,223,1);
        -moz-box-shadow: 0px 0px 8px 2px rgba(68,161,223,1);
        box-shadow: 0px 0px 5px 2px rgba(68,161,223,1);width:40px;height:40px;border-radius:50%;margin:6px;"
        src="{{photos[i]}}" alt="">
    </div>

    <p *ngIf="photos.length > 1"
      style="position:absolute;color:rgba(34, 33, 33, 0.692);font-size:1rem;top:48px;right:25px">
      +1,00,000 more</p>
  </mat-toolbar-row>

</mat-toolbar>
</div>
<div class="d-flex justify-content-center">
  <h2>Register For Free in <span style="color:#24ADD8" >30 seconds!</span> </h2>
</div>
<main [class.main-blur]="this.PageOne.valid" autoscroll="true"  class='pwaSize fixed t-0 b-0 w-full HC form-position' [id]="mainContainerId" style="margin-top:4%">
  
  <mat-horizontal-stepper labelPosition="bottom" [linear]="isLinear" #stepper>
    <div class="container customBackground"
      style="width:80%;background: white;border-radius: 20px;margin-top: 10%; margin-bottom: 20px;">
      <div class="w-full" style="margin-left:auto;margin-right:auto">

        <mat-step [stepControl]="PageOne">
          <form [formGroup]="PageOne" #formOne style="padding-bottom: 100px;">
            <!-- label name if required -->
            <!-- <ng-template matStepLabel>Page I</ng-template> -->
            <div class="row" style="margin-top: 8%!important;">

              <div class="col-5">
                <!-- <h6>Rishta For</h6> -->
                <mat-form-field  class="full-width fieldFit" appearance="standard">
                  <mat-label>Create Profile For</mat-label>
                  <mat-select (selectionChange)="setGender()" #relation formControlName="Relation" required>
                    <mat-option *ngFor="let  option of createProfile" [value]="option">
                      {{option}}
                    </mat-option>
                  </mat-select>
                  
                    <mat-error>*this field is required</mat-error>
            
                </mat-form-field>
              </div>
              <div class="col-1"></div>
              <div class="col-6">
                <!-- <h6>Gender</h6> -->
                <mat-form-field class="full-width fieldFit" appearance="standard">
                  <mat-label>Gender</mat-label>
                  <mat-select formControlName="gender" (selectionChange)="selectFieldChange('gender')" required>
                    <mat-option value="Male">Male</mat-option>
                    <mat-option value="Female">Female</mat-option>
                  </mat-select>
                    <mat-error>*this field is required</mat-error>                  
                </mat-form-field>
              </div>

              <p *ngIf="fourPageService.getUserThrough()" class="impNote">
                आप जिस कस्टमर से फ़ोन पर बात कर रहे हैं वो किसके लिए रिश्ता देख रहे हैं ये भरे ।
              </p>

              <div [ngClass]="{'col-12': !secondName , 'col-5': secondName}">
                <!-- <h6>Name</h6> -->
                <mat-form-field class="full-width fieldFit"  appearance="standard">
                  <mat-label>First Name</mat-label>
                  <input type="text" [value]="formfirstName" id="firstName" (click)="showLastName()" (change)="inputFieldChanged('firstName')" matInput
                    formControlName="firstName">
                  <mat-error>*this field is required</mat-error>
                </mat-form-field>
              </div>
              <div *ngIf="secondName" class="col-1"></div>
              <div *ngIf="secondName" class="col-6">
                <!-- <h6>Last Name</h6> -->
                <mat-form-field  class="full-width fieldFit" appearance="standard">
                  <mat-label>Last Name</mat-label>
                  <input type="text" [value]="formlastName" (change)="inputFieldChanged('lastName')" matInput formControlName="lastName" required name="lastName">
                  <mat-error >*this field is required</mat-error>
                </mat-form-field>
              </div>

              <p *ngIf="fourPageService.getUserThrough()" class="impNote">
                यहाँ पर कैंडिडेट यानि जिसके लिए रिश्ता देखा जा रहा है उसका नाम लिखे (लड़का या लड़की जो भी है )
              </p>
              <div [class.col-12]="!Caste" [class.col-5]="Caste">
                <mat-form-field class="full-width fieldFit" appearance="standard">
                  <mat-label>Religion</mat-label>
                  <mat-select #relation formControlName="Religion" (selectionChange)="Religion($event)" required>
                    <mat-option *ngFor="let  option of Religions" [value]="option">
                      {{option}}
                    </mat-option>
                  </mat-select>
                  <mat-error>*this field is required</mat-error>
                </mat-form-field>
              </div>
              <div *ngIf="Caste" class="col-1"></div>
              <div class="col-6" *ngIf="Caste && !showCaste">
                <!-- <h6>Caste</h6> -->
                <mat-form-field class="full-width fieldFit" appearance="standard">
                  <mat-label>Caste</mat-label>
                  <mat-select id="caste" (selectionChange)="selectFieldChange('Castes')" formControlName="Castes">
                    <mat-option>
                      <ngx-mat-select-search noEntriesFoundLabel="No Caste Found" placeholderLabel="Search Caste..."
                        formControlName="CasteCtrl">
                        <mat-icon ngxMatSelectSearchClear>close</mat-icon>
                      </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let  option of filteredCastes | async" [value]="option">
                      {{option}}
                    </mat-option>
                  </mat-select>
                  <mat-error >*this field is required</mat-error>
                </mat-form-field>
                
              </div>
              <div class="col-6" *ngIf="showCaste" style="margin:39px 0px auto 0px;">
                <mat-checkbox [checked]="isAllCastePref" (change)="checkAllCastePref($event)">
                  <a style="font-size:1rem;color:rgba(44, 44, 44, 0.842)">Don't Know Caste</a>
                </mat-checkbox>
              </div>

              <div class="col-6" *ngIf="Caste && !showCaste" style="margin:39px 0px auto 0px;">
                <mat-checkbox [checked]="isAllCastePref" (change)="checkAllCastePref($event)">
                  <a style="font-size:1rem;color:rgba(44, 44, 44, 0.842)">Don't Know Caste</a>
                </mat-checkbox>
              </div>

              <div class="col-md-12 " id="fourRegMobile">
                <!-- <h6>Mobile number</h6> -->
                <!-- style="background-color:rgba(206, 206, 206, 0.2);margin-top:25px;" -->
                <mat-form-field  class="full-width fieldFit" 
                (click)="showTruecallerIfFacebook()"
                 appearance="standard">

                  <ngx-mat-intl-tel-input  
                    [preferredCountries]="['in']" [enablePlaceholder]="true" [enableSearch]="true" name="phone"
                    type="tel" formControlName="phone" id="phone" (change)="mobileNumberChanged()" #phone required>
                  </ngx-mat-intl-tel-input> 
                  <mat-error >*this field is required</mat-error>
                </mat-form-field>
              </div>
              

              <app-compatibility-page-two *ngIf="!fourPageService.getUserThrough()"
              (sharePageTwo)="getPageTwoForm($event)"
              ></app-compatibility-page-two>

              <div class="col-md-12" *ngIf="fourPageService.getUserThrough()">
                <!-- <h6>Email<code style="color: rgba(0,0,0,.6);">(optional)</code></h6> -->
                <mat-form-field class="full-width fieldFit" appearance="standard">
                  <mat-label>Email<code style="color: rgba(0,0,0,.6);">(optional)</code></mat-label>
                  <input type="email" (change)="inputFieldChanged('email')" id="email" matInput formControlName="email"
                    name="email">
                </mat-form-field>
              </div>

              <p *ngIf="fourPageService.getUserThrough()" class="impNote">
                ईमेल optional है पर Customer से ईमेल लेने की जरूर कोशिश करे। घर में किसी का भी ईमेल मांग ले जो भी यूज़
                करता हो
              </p>

              <div class="col-12">
                <label>Date Of Birth</label>
                <div class="row">
                  <select class="classic"   (change)="selectFieldChange('birth_date')" formControlName="birth_date" style="
                            flex: 1;" required name="birth_date">
                    <option *ngFor="let  option of date" [value]="option">
                      {{option}}
                    </option>
                    <mat-error >*this field is required</mat-error>
                  </select>
                  

                  <select class="classic" (change)="selectFieldChange('birth_month')" formControlName="birth_month"
                    style="margin-left: 10px;
                              flex: 1;" required name="birth_month">
                    <option *ngFor="let  option of month" [value]="option">
                      {{option}}
                    </option>
                  </select>

                  <select class="classic" (change)="selectFieldChange('birth_year')" formControlName="birth_year" style="margin-left: 10px;
                              flex: 1;" required name="birth_year">
                    <option *ngFor="let  option of years" [value]="option">
                      {{option}}
                    </option>
                  </select>
                </div>
              </div>

              <!-- <div class="col-md-12 matSelect"
                *ngIf="PageOne.value.Relation == 'Myself' || PageOne.value.Relation == 'Other' || fourPageService.getUserThrough()"> -->

              <div class="col-5" *ngIf="fourPageService.getUserThrough() || showHeight">
                <!-- <h6>Height</h6> -->
                <mat-form-field class="full-width fieldFit" appearance="standard">
                  <mat-label>Height</mat-label>
                  <mat-select matNativeControl (selectionChange)="selectFieldChange('Height')" #height
                    formControlName="Height" required name="Height">
                    <mat-option *ngFor="let option of Heights;let i = index" [value]="i">
                      {{option}}
                    </mat-option>
                  </mat-select>
                  <mat-error >*this field is required</mat-error>
                </mat-form-field>
              </div>

              <div class="col-5" *ngIf="fourPageService.getUserThrough()">
                <!-- <h6>Weight</h6> -->
                <mat-form-field class="full-width fieldFit" appearance="standard">
                  <mat-label>Weight</mat-label>
                  <input type="number" (change)="inputFieldChanged('Weight')" matInput formControlName="Weight" required
                    name="Weight">
                  <span matSuffix>Kg &nbsp;</span>
                  <mat-error >*this field is required</mat-error>
                </mat-form-field>
              </div>
              <div class="col-1"></div>
              <div class="col-6" *ngIf="showHeight">
                <!-- <h6>Marital Status</h6> -->
                <mat-form-field class="full-width fieldFit" appearance="standard">
                  <mat-label>Marital Status</mat-label>
                  <mat-select #relation (selectionChange)="selectFieldChange('MaritalStatus')"
                    formControlName="MaritalStatus" required>
                    <mat-option *ngFor="let  option of MaritalStatus" [value]="option">
                      {{option}}
                    </mat-option>
                  </mat-select>
                  <mat-error >*this field is required</mat-error>
                </mat-form-field>
              </div>

              <div class="col-12" style="margin-top: 20px;">
                <mat-checkbox (change)="checkDisable($event)">
                  <a style="font-size:1rem;color:rgba(44, 44, 44, 0.842)">Differently Abled?</a>
                </mat-checkbox>
              </div>

              <div class="col-12" *ngIf="isDisable">
                <mat-form-field class="full-width fieldFit" appearance="standard">
                  <mat-label>Differently Abled Part</mat-label>
                  <input type="text" matInput formControlName="disabledPart">
                  <mat-error *ngIf="PageOne.invalid && nextClickedOne">*this field is required</mat-error>
                </mat-form-field>
              </div>
              <p style="color:red;font-size:18px;" *ngIf="showError">Please Fill Out all the fields of the form!</p>
              <div class="col-xs-12 m-t-20"
              *ngIf="fourPageService.getUserThrough()"
                style="margin-top: 20px;margin-left:auto;margin-right:auto;text-align:center;margin-bottom: 20px;">
                <button mat-raised-button type="button" id="viewButton" [disabled]="disableNext$ | async" matStepperNext
                  class="btn" (click)="firstStep()">Next</button>
              </div>

              <div class="col-xs-12 m-t-20"
              *ngIf="!fourPageService.getUserThrough()"
                style="margin-top: 20px;margin-left:auto;margin-right:auto;text-align:center;margin-bottom: 20px;">
                <button  mat-raised-button type="button" id="viewButton" [disabled]="(disableNext$ | async)||showError"
                  class="btn" (click)="firstStep()">See Profiles</button>
              </div>

              <!-- <p *ngIf="!fourPageService.getUserThrough()" class="impNoteMain">
                            Your journey to find your perfect match begins now!
                          </p> -->
              <p *ngIf="fourPageService.getUserThrough()" class="impNote">
                डिटेल्स भरने के बाद इस बटन पर जरूर क्लिक करे |
              </p>
            </div>
            
          </form>
         
        </mat-step>

        <mat-step [completed]="formTwo" *ngIf="fourPageService.getUserThrough()">
          <!-- label name if required -->
          <!-- <ng-template matStepLabel>
                    Page II
                </ng-template> -->
          <app-compatibility-page-two></app-compatibility-page-two>
        </mat-step>

        <mat-step *ngIf="fourPageService.getUserThrough()">
          <!-- <ng-template matStepLabel>
                      Page III
                  </ng-template> -->
          <app-compatibility-page-three></app-compatibility-page-three>
        </mat-step>
        <mat-step>
          <!-- <ng-template matStepLabel>
                    Page IV
                  </ng-template> -->
          <app-compatibility-photo [hidden]="!fourPageService.getUserThrough()"></app-compatibility-photo>
        </mat-step>
        <!-- // will show page five only to hans team when LeadId is 1 and not 0 -->
        <!-- <mat-step *ngIf="fourPageService.getUserThrough()">
          <app-compatibility-verify></app-compatibility-verify>
        </mat-step> -->
        <!-- // will show page five only to hans team when LeadId is 1 and not 0 -->
        <mat-step *ngIf="fourPageService.getUserThrough() && !fourPageService.showApproveBtn">
          <!-- <ng-template matStepLabel>
                    Page VI
                  </ng-template> -->
          <app-compatibility-page-five></app-compatibility-page-five>
        </mat-step>

      </div>
    </div>
  </mat-horizontal-stepper>

  
</main>
<div class="whyus">
  <div class="why-us-header">
   <div class="d-flex justify-content-center">
       <div class="header">
           <h1 style="font-weight: bold;">
           
               Why  <span style="color:#24ADD8" >Us?</span> 
               <hr class="one">
               <hr class="two">
           </h1>
       </div>
   </div>
  </div>
   <div *ngIf="!mobileScreen" class="d-flex justify-content-center features">
       <div class="container">
           <div class="row">
               <div class="col-md-4 feature-card-container">
                   <div class="feature-card-holder">
                       <div class="d-flex justify-content-center">
                           <img src="../../../assets/featuresIllustrations/ill1.jpg" alt="hansmatrimony-features-illustration1">
                       </div>
                       <p>More than <span style="font-weight:bolder">50,000 </span>
                            <br>suitable matches </p>
                   </div>
               </div>
               <div class="col-md-4 feature-card-container">
                  <div class="feature-card-holder">
                   <div class="d-flex justify-content-center">
                       <img src="../../../assets/featuresIllustrations/ill2.svg" alt="hansmatrimony-features-illustration2">
                   </div>
                   <p>Get Your <span style="font-weight:bolder">Personal Matchmaker</span>
                       
                      <br>from 1000+Matchmakers </p>
                  </div>
               </div>
               <div class="col-md-4 feature-card-container ">
                   <div class="feature-card-holder">
                       <div class="d-flex justify-content-center">
                           <img src="../../../assets/featuresIllustrations/ill3.jpg" alt="hansmatrimony-features-illustration3">
                       </div>
                       <p>Verified matches from <br><span style="font-weight:bolder">50+ temples</span> in india </p>
                   </div>
               </div>
           </div>
       </div>
   </div>
   <div *ngIf="mobileScreen"  class="carousel-div">
       <owl-carousel-o [options]="customOptions">
           <ng-template class="slide" carouselSlide>
               <div class="temple-card text-shadow">
                   <span class="temple-name">
                       <!-- {{languageService.homeLang.sanatanTemple}} -->
                   </span>
                   <mat-card class=" featureCard2">
                       <img class="feature2Img" src="
                       ../../../assets/featuresIllustrations/ill2.svg"
                           alt="hansmatrimony-features-illustration2">
                   </mat-card>
               </div>
               <p>Get Your <span style="font-weight:bolder">Personal Matchmaker</span>
                       
                   <br>from 1000+Matchmakers </p>
           </ng-template>
           <ng-template class="slide" carouselSlide>

                   <div class="temple-card text-shadow">
                       <span class="temple-name">
                       </span>
                       <mat-card class="featureCard2">
                           <img class="feature2Img"
                               src="../../../assets/featuresIllustrations/ill1.jpg"
                               alt="hansmatrimony-features-illustration1">
                       </mat-card>
                   </div>
                   <p>More than <span style="font-weight:bolder">50,000 </span>
                       <br>suitable matches </p>
           </ng-template>
           <ng-template class="slide" carouselSlide>
               <div class="temple-card text-shadow">
                   <span class="temple-name">
                   </span>
                   <mat-card class=" featureCard2">
                       <img class="feature2Img"
                           src="../../../assets/featuresIllustrations/ill3.jpg"
                           alt="hansmatrimony-features-illustration3">
                   </mat-card>
               </div>
               <p>Verified matches from <br><span style="font-weight:bolder">50+ temples</span> in india </p>
           </ng-template>
       </owl-carousel-o>
   </div>
</div>
<testimonials></testimonials>
<app-choice-list></app-choice-list>
</div>
