<main class='pwaSize fixed t-0 b-0 bg-white w-full HC overflowY' >
        <div class="container t-c">
            <div class="section">
                <div class="container" style="margin-left:auto;margin-right:auto; text-align: center;"> 
                    <img src="../../../assets/logo_hans.png" style="width:60%">
                </div>              
            </div>
            <div class="row" style="margin:0px;text-align: center;padding: 0px 10%;">
                    <img src="../../assets/avatar.svg" style="width: 25%;border-right: 4px solid #34b7f1;" alt="register">
                    <h5 style="display: inline-block;margin: auto auto auto 10px;">Free Registration</h5>
            </div>
        </div>
       
        <div class="container" style="width:80%;background: white;border-radius: 20px;margin-top: 20px; margin-bottom: 20px;">
            <div class="w-full" style="margin-left:auto;margin-right:auto">
                <form  [formGroup]="PageOne">
                    <div class="row">

                        <div class="col-md-12">
                            <mat-form-field  class="full-width fieldFit" appearance="standard">
                                <mat-label style="color: black;">Mobile number</mat-label>
                                <input type="number" id="phone" matInput formControlName="phone" (change)="mobileNumberChanged(numberCheck)" [(ngModel)]="numberCheck" required name="phone">
    
                            </mat-form-field>
                        </div>
    
                        <div class="col-md-12">
                            <mat-form-field class="full-width fieldFit" appearance="standard">
                                <mat-label style="color: black;">Gender</mat-label>
                                <mat-select  formControlName="gender" required >
                                    <mat-option value="Male">Male</mat-option>
                                    <mat-option value="Female">Female</mat-option>
                                </mat-select>
                            
                            </mat-form-field>
                        </div>
                        
                        <div class="col-md-12">
                         
                              <label style="color: black; margin-top: 8px;">Date of Birth</label>
                              <div class="row" style="margin: 0px;">
                                <select class="classic" formControlName="birth_date" style="border: 1px solid black;"  required name="birth_date">
                                    <option *ngFor="let  option of date" [value]="option">
                                      {{option}}
                                    </option>
                                  </select> 

                                  <select class="classic" formControlName="birth_month" style="border: 1px solid black;margin-left: 10px;"  required name="birth_month">
                                    <option *ngFor="let  option of month" [value]="option">
                                      {{option}}
                                    </option>
                                  </select> 
                                  
                                  <select class="classic" formControlName="birth_year" style="border: 1px solid black;margin-left: 10px;"  required name="birth_year">
                                    <option *ngFor="let  option of years" [value]="option">
                                      {{option}}
                                    </option>
                                  </select>
                              </div>
                            
                           
                          </div>

                          <div class="col-md-12">
                              <mat-form-field class="full-width fieldFit" appearance="standard">
                                <mat-label style="color: black;">Height</mat-label>
                                <select matNativeControl #height formControlName="Height" required name="Height">
                                    <option *ngFor="let option of Heights;let i = index" [value]="i">
                                      {{option}}
                                    </option>
                                  </select>
                              </mat-form-field>
                            </div>

                        <div class="col-md-12">
                     
                                <mat-form-field class="full-width fieldFit" appearance="standard">
                                  <mat-label style="color: black;">Martial Status</mat-label>
                                  <select matNativeControl  formControlName="MaritalStatus" required name="MaritalStatus">
                                      <option *ngFor="let  option of MaritalStatus" [value]="option">
                                        {{option}}
                                      </option>
                                    </select> 
                                  
                                </mat-form-field>
                              </div>
                       
                              <div class="col-md-12">
                                <mat-form-field class="full-width fieldFit" appearance="standard" >
                                  <mat-label style="color: black;">Annual Income In Lakhs</mat-label>
                                  <input type="number" matInput formControlName="AnnualIncome" required name="AnnualIncome">
                                  
                                </mat-form-field>
                              </div>

                              <div class="col-md-12">
                                <mat-form-field class="full-width fieldFit" appearance="standard" >
                                 <mat-label style="color: black;">Religion</mat-label>
                                 <select matNativeControl  formControlName="Religion" required name="Religion" (change)="Religion($event)">
                                     <option *ngFor="let  option of Religions" [value]="option">
                                       {{option}}
                                     </option>
                                   </select>
                            
                               </mat-form-field> 
                          </div>
                          <div class="col-md-12">
                              
                               <mat-form-field class="full-width fieldFit" *ngIf="Caste" appearance="standard">
                                 <mat-label style="color: black;">Caste</mat-label>
                                 <input type="text" matInput formControlName="Castes" required [matAutocomplete]="caste" required  >
                                 <mat-autocomplete (optionSelected)='casteValidation($event.option.value)' autoActiveFirstOption #caste="matAutocomplete">
                                    
                                         <mat-option *ngFor="let name of casteo | async" [value]="name"  required>
                                           {{name}}
                                         </mat-option>
                                 </mat-autocomplete>
                               </mat-form-field>
                         </div>

                         <div class="col-md-12">
                   
                            <mat-form-field class="full-width fieldFit" appearance="standard">
                                <mat-label style="color: black;">Manglik Status</mat-label>
                                <mat-select  formControlName="Mangalik" required >
                                  <mat-option value="Manglik">Manglik</mat-option>
                                  <mat-option value="Non-manglik">Non-manglik</mat-option>
                                  <mat-option value="Anshik Manglik">Anshik Manglik</mat-option>
                                </mat-select>
                            
                            </mat-form-field>
                        
                        </div>
                        
                        <div class="col-xs-12 m-t-20" style="margin-top: 20px;margin-left:auto;margin-right:auto;text-align:center;margin-bottom: 20px;">
                            <button type="button" class="btn btn-blue" (click)="firstStep()">View Profiles/रिश्ते देखें</button>
                        </div>
                    </div>
               </form> 
            </div> 
    
            <!-- <ng-template #otpModal let-c="close" let-d="dismiss">
                    <div class="modal-header">
                      <p class="verifyHeader">Verify Mobile Number</p>
                      <button type="button" style="outline: none;
                      color: white;
                      background: #34b7f1;
                      opacity: 1;padding: 5px 10px;
                     border-radius: 10px;" class="close" aria-label="Close" (click)="Cross_click()">X
                      </button>
                    </div>
                    <div class="modal-body">
                      <p (click)="makeItTrue()" style="margin-left: 90%;
                      margin-top: -82px;
                      cursor: pointer;" *ngIf="changeNumber"><i class="fa fa-long-arrow-alt-left"></i>Back</p>
                      <div *ngIf="!changeNumber">
                        <p style="text-align: center;color:rgb(153, 114, 114);font-size:16px">We sent you a code via sms to your mobile number.</p>
                        <p style="text-align: center;color:rgb(153, 114, 114);font-size:16px">Please enter the code to verify</p>
    
                       <div class="row" style="margin: 0px;">
                        <input type="tel" style="width: 20%;margin: 0px auto;" max=1 *ngFor="let i of [1,2,3,4]" class="enterOtp" (keyup)="changePlaces($event)" [id]="'enterOTP'+i">
                        <br><br>
                       </div>
                       <div style="margin: 10px 0px;">
                        <a (click)="resendOtp()">Resend Otp</a><br>
                       </div>
                        <div style="text-align: center;">
                          <button mat-raised-button class="btn btn-blue" style="font-size: 20px;  position: relative;margin-top: 12px; margin-bottom: 14px;" [disabled]="otpStatus" (click)="verifyOtp()">Verify</button>
                          <br>
                      </div>
                    </div>
                    </div>
                  
                  </ng-template>    -->
        </div>
    </main>
    
    