<!-- toolbar  -->
<mat-toolbar class="fixToolBar">
  <mat-toolbar-row>
      <div class="mainDivToolbar">
          <div style="display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;">
              <img width="40px" [defaultImage]="'../../assets/logo_72.png'" 
                  [lazyLoad]="'../../assets/logo_192.png 600w, ../../assets/logo_192.png 1000w'" 
                   [useSrcset]="true" alt="Hans Matrimony">
              <span style="color: white; margin-left: 10px;font-size: 16sp;font-weight: bold;font-size: 18px;"><strong>Hans Matrimony</strong></span>
          </div>
      </div>
    </mat-toolbar-row>
 
</mat-toolbar>

<main class='pwaSize fixed t-0 b-0 bg-white w-full HC overflowY' >
       
        <mat-horizontal-stepper labelPosition="bottom" [linear]="isLinear" #stepper>
        <div class="container customBackground" style="width:80%;background: white;border-radius: 20px;margin-top: 20px; margin-bottom: 20px;">
            <div class="w-full" style="margin-left:auto;margin-right:auto">
            
                  <mat-step [stepControl]="PageOne">
                  <form  [formGroup]="PageOne">
                    <ng-template matStepLabel>Page I</ng-template>
                      <div class="row">

                        <div class="col-md-12">
                          <mat-form-field class="full-width fieldFit" appearance="outline">
                          <mat-label >Looking Rista For</mat-label>
                              <mat-select (selectionChange)="setGender()" #relation formControlName="Relation" required >
                                      <mat-option *ngFor="let  option of createProfile" [value]="option">
                                              {{option}}
                                      </mat-option>
                              </mat-select>
                            </mat-form-field>
                      </div>

                      <p *ngIf="fourPageService.getUserThrough()" class="impNote">
                        आप जिस कस्टमर से फ़ोन पर बात कर रहे हैं वो किसके लिए रिश्ता देख रहे हैं ये भरे ।
                      </p>

                        <div class="col-6">
                          <mat-form-field class="full-width fieldFit" appearance="standard">
                            <mat-label >First Name</mat-label>
                            <input  type="text"  matInput formControlName="firstName" required name="firstName">
                          </mat-form-field>
                        </div>

                        <div class="col-6">
                          <mat-form-field class="full-width fieldFit" appearance="standard" >
                            <mat-label >Last Name</mat-label>
                            <input type="text"  matInput formControlName="lastName" name="lastName">
                          </mat-form-field>
                        </div>

                        <p *ngIf="fourPageService.getUserThrough()" class="impNote">
                          यहाँ पर कैंडिडेट यानि जिसके लिए रिश्ता देखा जा रहा है उसका नाम लिखे (लड़का या लड़की जो भी है )
                        </p>

                        <div class="col-md-12">
                           
                          <label style="color: #737373; margin-top: 8px;margin-bottom: 10px;">Date Of Birth</label>
                          <div class="row" style="margin: 0px; margin-bottom: 8px;display: flex;
                          flex-direction: row;
                          align-items: center;
                          justify-content: space-between;">
                            <select class="classic" formControlName="birth_date" style="
                            flex: 1;"  required name="birth_date">
                                <option *ngFor="let  option of date" [value]="option">
                                  {{option}}
                                </option>
                              </select> 

                              <select class="classic" formControlName="birth_month" style="margin-left: 10px;
                              flex: 1;"  required name="birth_month">
                                <option *ngFor="let  option of month" [value]="option">
                                  {{option}}
                                </option>
                              </select> 
                              
                              <select class="classic" formControlName="birth_year" style="margin-left: 10px;
                              flex: 1;"  required name="birth_year">
                                <option *ngFor="let  option of years" [value]="option">
                                  {{option}}
                                </option>
                              </select>
                          </div>
                        
                       
                      </div>

                      <div class="col-md-12 matSelect">
                        <mat-form-field class="full-width fieldFit" appearance="outline">
                            <mat-label >Gender</mat-label>
                            <mat-select [ngModel]="PageOne.value.gender"  formControlName="gender" required >
                                <mat-option value="Male">Male</mat-option>
                                <mat-option value="Female">Female</mat-option>
                            </mat-select>
                        
                        </mat-form-field>
                    </div>

                    <div class="col-md-12">
                      <mat-form-field class="full-width fieldFit" appearance="outline" >
                         <mat-label >Religion</mat-label>
                          <mat-select  #relation formControlName="Religion" (selectionChange)="Religion($event)" required >
                                  <mat-option *ngFor="let  option of Religions" [value]="option">
                                          {{option}}
                                  </mat-option>
                          </mat-select>
                  
                     </mat-form-field> 
                </div>

                <div class="col-md-12">
                                
                  <mat-form-field class="full-width fieldFit" *ngIf="Caste" appearance="outline">
                    <mat-label >Caste</mat-label>
                    <input type="text" matInput formControlName="Castes" multiple required [matAutocomplete]="caste" required  >
                    <mat-autocomplete (optionSelected)='casteValidation($event.option.value)' autoActiveFirstOption #caste="matAutocomplete">
                       
                            <mat-option *ngFor="let name of casteo | async" [value]="name"  required>
                              {{name}}
                            </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
            </div>
  
                          <div class="col-md-12">
                              <mat-form-field  class="full-width fieldFit" appearance="outline">
                                  <mat-label >Mobile number</mat-label>
                                  <input style="display: inline;" type="number" id="phone" matInput formControlName="phone" (change)="mobileNumberChanged(numberCheck)" [(ngModel)]="numberCheck" required name="phone">
                              </mat-form-field>
                          </div>

                          <div class="col-md-12">
                            <mat-form-field  class="full-width fieldFit" appearance="outline">
                                <mat-label >Email<code style="color: rgba(0,0,0,.6);">(optional)</code></mat-label>
                                <input type="email" id="email" matInput formControlName="email" name="email">
    
                            </mat-form-field>
                        </div>

                        <p *ngIf="fourPageService.getUserThrough()" class="impNote">
                          ईमेल optional है पर Customer से ईमेल लेने की जरूर कोशिश करे। घर में किसी का भी ईमेल मांग ले जो भी यूज़ करता हो 
                        </p>
                          
  
                            <div class="col-6">
                                <mat-form-field class="full-width fieldFit" appearance="outline">
                                  <mat-label >Height</mat-label>
                                  <select matNativeControl #height formControlName="Height" required name="Height">
                                      <option *ngFor="let option of Heights;let i = index" [value]="i">
                                        {{option}}
                                      </option>
                                    </select>
                                </mat-form-field>
                              </div>

                              <div class="col-6">
                                <mat-form-field class="full-width fieldFit" appearance="outline" >
                                  <mat-label >Weight</mat-label>
                                  <input type="text" pattern="\d*" maxlength="3" matInput formControlName="Weight" required name="Weight">
                                  <span matSuffix>Kg &nbsp;</span>
                                </mat-form-field>
                              </div>
  
                          <div class="col-md-12">
                       
                                  <mat-form-field class="full-width fieldFit" appearance="outline">
                        
                                      <mat-label >Marital Status</mat-label>
                                      <mat-select  #relation formControlName="MaritalStatus" required >
                                              <mat-option *ngFor="let  option of MaritalStatus" [value]="option">
                                                      {{option}}
                                              </mat-option>
                                      </mat-select>
                                  </mat-form-field>
                                </div>

                         
                                <div class="col-md-12">
                                  <mat-form-field class="full-width fieldFit" appearance="outline" >
                                    <mat-label >Annual Income In Lakhs</mat-label>
                                    <input type="number" matInput formControlName="AnnualIncome" required name="AnnualIncome">
                                    <span matSuffix>Lakh Per Year &nbsp;</span>
                                    <mat-error class="full-width" style="margin-bottom: 10px;" *ngIf="PageOne.get('AnnualIncome').invalid"> eg. 8 <span style="margin-left: 80%;">LPA &nbsp;</span></mat-error>
                                  </mat-form-field>
                                </div>


                                <p *ngIf="fourPageService.getUserThrough()" class="impNote">
                                  अगर लड़का /लड़की की सालाना इनकम 10 लाख है तोह यहाँ सिर्फ 10 भरे । 
                                </p>
  
                           
                           <div class="col-12" *ngIf="Caste" style="margin-top: 30px;">
                             <mat-checkbox [checked]="isAllCastePref" (change)="checkAllCastePref($event)">
                               All Caste Preferred
                             </mat-checkbox>
                           </div>
  

                           <div class="col-md-12 matSelect">
                     
                              <mat-form-field class="full-width fieldFit" appearance="outline">
                                  <mat-label >Manglik Status</mat-label>
                                  <mat-select  formControlName="Mangalik" required >
                                    <mat-option value="Manglik">Manglik</mat-option>
                                    <mat-option value="Non-Manglik">Non-Manglik</mat-option>
                                    <mat-option value="Anshik Manglik">Anshik Manglik</mat-option>
                                  </mat-select>
                              
                              </mat-form-field>
                          
                          </div>


                          <div class="col-md-12">
                            <mat-form-field class="full-width fieldFit" appearance="outline">
                              <mat-label >Locality / Area</mat-label>
                              <input type="text" matInput matValidateAddress matGoogleMapsAutocomplete #matGoogleMapsAutocomplete="matGoogleMapsAutocomplete" 
                              (onAutocompleteSelected)="onAutocompleteSelected($event)" 
                              (onLocationSelected)="onLocationSelected($event)"
                              required formControlName="locality">
                            </mat-form-field>
                          </div>  

                          <p *ngIf="fourPageService.getUserThrough()" class="impNote">
                            यहाँ कस्टमर कहाँ रहता  है वो भरे जैसे की करोल बाघ , शादी पुर , बुरारी रोहिणी आदि |
                          </p>

                          <div class="col-12" style="margin-top: 20px;">
                            <mat-checkbox (change)="checkDisable($event)">
                            Physical Disability
                          </mat-checkbox>

                          </div>

                          <div class="col-12" *ngIf="isDisable">
                            <mat-form-field class="full-width fieldFit" appearance="standard">
                              <mat-label >Disabled Part</mat-label>
                              <input  type="text"  matInput formControlName="disabledPart">
                            </mat-form-field>
                          </div>
                          
                          <div class="col-xs-12 m-t-20" style="margin-top: 20px;margin-left:auto;margin-right:auto;text-align:center;margin-bottom: 20px;">
                              <button mat-raised-button type="button" id="viewButton" matStepperNext class="btn" (click)="firstStep()">Next</button>
                          </div>
                          <p *ngIf="fourPageService.getUserThrough()" class="impNote">
                            डिटेल्स भरने के बाद  इस बटन पर जरूर क्लिक करे |
                          </p>
                      </div>
                  </form>
                </mat-step> 
                <mat-step [completed]="formTwo"> 
                  <ng-template matStepLabel>
                    Page II
                </ng-template>
                      <app-compatibility-page-two></app-compatibility-page-two>
                </mat-step>
                <mat-step [completed]="formThree">
                  <ng-template matStepLabel>
                      Page III
                  </ng-template>
                  <app-compatibility-page-three></app-compatibility-page-three>
                </mat-step>
                <mat-step [completed]="formFour">
                  <ng-template matStepLabel>
                    Page IV
                  </ng-template>
                  <app-compatibility-photo></app-compatibility-photo>
                </mat-step>
                <!-- // will show page five only to hans team when LeadId is 1 and not 0 -->
                <mat-step *ngIf="fourPageService.getUserThrough() && !isLeadIsZero ">
                  <ng-template matStepLabel  >
                    Page V
                  </ng-template>
                  <app-compatibility-page-five></app-compatibility-page-five>
                </mat-step>
              </div> 
            </div>
              </mat-horizontal-stepper>

        
    </main>
    
    