.fixToolBar {
  background-color: #0c9bf2;
}
.textRegister {
    font-weight:bolder;
    padding-top:1rem;
    text-align: center;
     color: #285fdd
}
main{
  font-family: 'Gotham Rounded Book',Roboto, "Helvetica Neue", sans-serif !important; 
}
.mat-stepper-horizontal{
  background-color: white !important;
}
input.form-control.ng-invalid.ng-touched{
  border: 1px solid red;
}
select.form-control.ng-invalid.ng-touched{
  border: 1px solid red;
}
::ng-deep .mat-step-label{
  color: black !important;
}
::ng-deep .mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit{
  background-color: #34b7f1 !important;
  }
  ::ng-deep .mat-stepper-horizontal-line {
    border-top-color:black !important;
    width: 80%;
  }
::ng-deep .mat-step-icon {
background-color: rgba(0,0,0,.6) !important;
}

::ng-deep .mat-select-value {
    color: black !important;
}

::ng-deep .mat-checkbox-inner-container{
  border: 1px solid black;
}
.fieldFit{
  height: 45px;
  margin-bottom: 1rem;
}
::ng-deep .mat-form-field-ripple {
    background-color:#34b7f1;
    height: 1px;
}
::ng-deep .mat-form-field-appearance-standard .mat-form-field-underline{
    background-color: #34b7f1;
    height: 1px;
}
::ng-deep .mat-hint{
  color: rgba(0,0,0,.6);
  padding-bottom: 5px;
}

.impNote {
  margin: 5px 0px;
  padding-right: 15px;
  padding-left: 15px;
  color: #737373;
  font-size: 0.85rem;
}

.matSelect{
  margin-top: 10px;
}

#viewButton{
  background: #34b7f1;
  color: white;
  padding-left: 40px;
  padding-right: 40px;
box-shadow: -12px -12px 14px 0 rgba(255, 255, 255, 1),
12px 12px 14px rgba(0, 0, 0, 0.2);
}
.customBackground{
  border-radius: 10px;
  padding: 5px;
  background: white;
  box-shadow: -12px -12px 12px 0 rgba(0, 0, 0, 0.1),
12px 12px 12px 0 rgba(0, 0, 0, 0.1);
}

@media (max-width: 900px) {
main {
    height: 100%;
    overflow: auto;
    }
    select {

        /* styling */
        background-color: white;
        border-radius: 4px;
        display: inline-block;
        font: inherit;
        padding: 5px 30px 5px 3px;
      
        /* reset */
      
        margin: 0;      
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-appearance: none;
        -moz-appearance: none;
      }
      
      
      /* arrows */
      
      .classic {
        background-image:
          linear-gradient(45deg, transparent 50%, blue 50%),
          linear-gradient(135deg, blue 50%, transparent 50%),
          linear-gradient(to right, white, skyblue);
        background-position:
          calc(100% - 20px) calc(1em + 2px),
          calc(100% - 15px) calc(1em + 2px),
          100% 0;
        background-size:
          5px 5px,
          5px 5px,
          2.5em 2.5em;
        background-repeat: no-repeat;
        border: 1px solid #c8c8c8;

      }
      
      .classic:focus {
        background-image:
          linear-gradient(45deg, white 50%, transparent 50%),
          linear-gradient(135deg, transparent 50%, white 50%),
          linear-gradient(to right, white, gray);
        background-position:
          calc(100% - 15px) 1em,
          calc(100% - 20px) 1em,
          100% 0;
        background-size:
          5px 5px,
          5px 5px,
          2.5em 2.5em;
        background-repeat: no-repeat;
        border-color: grey;
        outline: 0;
      }
      .customBackground{
        border-radius: 10px;
        padding: 5px;
        background: white;
        box-shadow: -12px -12px 12px 0 rgba(0, 0, 0, 0.03),
      12px 12px 12px 0 rgba(0, 0, 0, 0.1);
      }
}

  