<main *ngIf="type=='yes'">
    <div id="cancel">
        <img (click)="closeDialog()" style="width: 40px;margin: 5px 5px 0px 0px;" src="../../../assets/cancelblue.svg" alt="cancel">
    </div>
    <div id="lockImage">
        <img style="width: 50px;border: 1px solid darkgrey;border-radius: 50%;padding: 10px;" src="../../../assets/lock.svg" alt="lock">
    </div>
    <div id="heading">
        <p style="margin-bottom: 20px;font-size: 18px;" class="textAlign">इन्हे कांटेक्ट करने के लिए अभी प्लान देखें</p>
    </div>
    <div class="row">
        <div class="col-3">
            <img class="profilePic" [src]="getProfilePhoto()" alt="profile.name">
        </div>
        <div class="col-9" style="margin: auto 0px;">
            <p style="font-weight: bold;font-size: 16px;">{{getName(profile)}}</p>
            <p>कांटेक्ट नंबर: +91-XXXXXXXXXX</p>
            <p>पूरा पता: XXXXXXXXXX</p>
        </div>
    </div>

    <div class="row" style="margin-top: 30px;">
        <div class="col-12" style="padding:0px 0px 0px 30px">
            <img style="width: 30px;border: 1px solid darkgrey;border-radius: 50%;margin-left: 10px" src="../../../assets/logo_192.png" alt="hans logo"><span style="font-size: 18px;margin-left: 10px;"> प्लान के फायदे </span>
            <ul>
                <li>
                    <strong>25+</strong> सेंटर्स के <strong>50,000+</strong> रिश्ते
                </li>
                <li>
                    <strong>6</strong> रिश्ते हर रोज़
                </li>
                <li>
                    <strong>VIP</strong> मेंबर्स से फ्री कांटेक्ट
                </li>
            </ul>
        </div>
    </div>

    <div class="textAlign">
        <button (click)="goToSub()" mat-raised-button style="background: #34b7f1;font-size: 20px;
        font-weight: bolder; width: 90%;
        margin-top: 20px;">
            प्लान देखें
        </button>
    </div>
</main>


<!-- when user chooses shortlist and he doesnt hv his profile pic uploaded -->

<main *ngIf="type=='shortlist'">
    <div id="cancel" style="text-align: end;">
        <img (click)="closeDialog()" style="width: 40px;margin: 5px 5px 0px 0px;" src="../../../assets/cancelred.svg" alt="cancel">
    </div>
    <div class="textAlign">
        <span style="color: rgba(0,0,0,.6);font-size: 18px;">
            {{getName(profile)}}
        </span>
    </div>
    <div id="heading">
        <p style="margin-bottom: 20px;font-size: 20px;" class="textAlign">बिना देखे <span style="font-weight:normal;font-family: sans-serif;">आपको कैसे पसंद करेंगी ?</span></p>
    </div>
    <div style="display: flex;justify-content: space-evenly;">
        <div class="textAlign">
            <img class="profilePic" [src]="getProfilePhoto()" alt="profile.name"><br>
            <span>{{profile.name}}</span>
        </div>
            <span style="font-size: 40px;">❓</span>
            <div class="textAlign">
                <img class="profilePic" src="{{selfImage}}" alt="profile.name"><br>
                <span style="display: block;
                width: 100px;">{{selfName}}</span>
            </div>
    </div>
    <div class="textAlign">
        <input style="margin: 10px 25%;display: none;" #backfile type="file" id="backfile" accept='image/*' (change)="chooseFileForUpload(backfile.files)"/> 
        <button (click)="changeProfileImage()" mat-raised-button style="background: #e4105cb8;font-size: 20px;
        font-weight: bolder; width: 90%; 
        margin-top: 20px;">
            <span style="font-size: 22px;margin-right: 5px;">👆🏻</span>अभी फोटो अपलोड करें
        </button>
    </div>

</main>

<!-- when user chooses shortlist and he doesnt hv his profile pic uploaded -->

<main *ngIf="type=='contacted'">
    <div id="cancel" style="text-align: end;">
        <img (click)="closeDialog()" style="width: 40px;margin: 5px 5px 0px 0px;" src="../../../assets/cancelblue.svg" alt="cancel">
    </div>
    <div class="textAlign">
        <img class="profilePicContacted"
         [src]="getProfilePhoto()" 
         id="profilePicture"
         (error) = "onLoadProfileError(profile.gender ? profile.gender : '' , 'profilePicture')"
         alt="profile.name"><br>
    </div>
    <div class="textAlign" style="color: rgba(0,0,0,.6);;">
        <p style="margin-top: 15px;">
            <img style="width: 30px;padding-bottom: 8px;margin-right: 8px;" src="../../../assets/king.svg"
             alt="Crown"><strong>{{profile.name}}</strong> हमारे <strong>VIP</strong> सदस्य है |
        </p>
        <p style="margin-top: 15px;">
            इनके रिलेशनशिप मैनेजर से बात करने के लिए
        </p>
        <p style="margin-top: 15px;">
            अभी <strong>VIP</strong> प्लान में रजिस्टर कराएं |
        </p>
        <p style="margin-top: 15px;margin-bottom: 0px;font-size: 12sp;">
            <strong>VIP</strong> सदस्यता की जानकारी के लिए
        </p>
        <button (click)="premiumInterest()" mat-raised-button style="background: #34b7f1;font-size: 20px;
        color: white;
    font-weight: bolder; width: 90%;">
        <img width="30px" src="../../../assets/phone_white.svg" alt="call hans"> कॉल बैक रिक्वेस्ट करें 
    </button>
    </div>
</main>