<main *ngIf="personalProfileData">
    <div class="t-c" style="color: white;padding: 10px 10px;background-color: #83C9F4;">
        <img (click)="backToChat()" style="float: left;width: 20px;
        position: absolute;
            left: 20px;" src="../../../assets/backbtn.svg" alt="back button">
        <h5 style="font-weight: bold;margin: 0px;">
            {{languageService.profileLang.myprofile}}
        </h5>

        <button mat-icon-button 
        style="position: absolute;
        right: 10px;
        top: 0px;"
        [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon style="font-size: 30px !important;">more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
              <ng-template matMenuContent>
            <button mat-menu-item
            (click)="logout()">
            <img width="30px" src="../../../assets/log_out.svg" alt="log out">
              <span class="menuItems">{{languageService.profileLang.logout}}</span>
            </button>
            <button mat-menu-item [routerLink]="['/subscription']" routerLinkActive="router-link-active">
              <img width="30px" src="../../../assets/contract.svg" alt="subscription">
              <span class="menuItems">{{languageService.profileLang.subscription}}</span>
            </button>
            <button mat-menu-item 
            (click)="changeCurrentLanguage('hindi')"
            *ngIf="languageService.getCurrentLanguage() === 'english'">
                <img width="30px" src="../../../assets/languagechange.png" alt="subscription">
                <span class="menuItems">हिंदी</span>
              </button>
              <button mat-menu-item 
              (click)="changeCurrentLanguage('english')"
               *ngIf="languageService.getCurrentLanguage() === 'hindi'">
                <img width="30px" src="../../../assets/languagechange.png" alt="subscription">
                <span class="menuItems">English</span>
              </button>
        </ng-template>
          </mat-menu>
    </div>

    <div style="position: relative;">
        <ngb-carousel id="carousel">
            <ng-template ngbSlide *ngFor="let i of getImagesCount(); let index = index">
                <div class="picsum-img-wrapper" style="text-align: center;">
                  <input style="margin: 10px 25%;display: none;" #backfile type="file" id="backfile" accept='image/*' (change)="previewBack(backfile.files,index+1)"/> 
                    <img (click)="changeProfileImage(index)" id="imgProfile" style="width: 100%; height: 70vh; background-color: lightblue;" [src]="getProfilesPhoto(personalProfileData.carousel,personalProfileData.photo,personalProfileData.gender,i)" alt="slide 1">
                </div>
            </ng-template>
          </ngb-carousel>

          <div style="position: absolute;bottom:0px;color: white; 
          padding: 10px 10px;
          width: 100%; text-align: center;
          background-image: linear-gradient(0deg, black, transparent);">
            <img width="25px" style="float: right;" src="../../../assets/pencil.svg" alt="edit">
            <span style="font-weight:bold;font-size: 18px;text-transform: capitalize;">
            {{personalProfileData.name}}, {{setAge(personalProfileData.birth_date)}}
            </span><br>
            <span>
                {{setLocality(personalProfileData.locality,familyProfileData.city)}} &nbsp;|&nbsp; {{getHeight(personalProfileData.height)}}
            </span>
          </div>
    </div>

    <section style="position: relative;padding-bottom: 100px;">

        <!-- navigation panel -->

        <div class="navigationPanel">
            <div class="t-c">
                <img class="navigationIcons" (click)="navigateTo('personal')" src="../../../assets/avatargrey.svg" alt="horoscope"><br>
                <span>{{languageService.profileLang.personal}}</span>
            </div>
            <div class="t-c">
                <img class="navigationIcons" (click)="navigateTo('horoscope')" src="../../../assets/sungrey.svg" alt="contact"><br>
                <span>{{languageService.profileLang.horoscope}}</span>
            </div>
            <div class="t-c">
                <img class="navigationIcons" (click)="navigateTo('family')"  src="../../../assets/familygrey.svg" alt="family"><br>
                <span>{{languageService.profileLang.family}}</span>
            </div>
            <div class="t-c">
                <img class="navigationIcons" (click)="navigateTo('preferences')" src="../../../assets/control.svg" alt="preference"><br>
                <span>{{languageService.profileLang.preference}}</span>
            </div>
        </div>


        <!-- about me section -->

        <div class="sections">
            <div>
                <span class="sectionTitle">
                    {{languageService.profileLang.aboutMe}}
                </span>
                <img (click)="openPersonalDialog(0, 'अबाउट मी')" class="editPencil" src="../../../assets/pencilblack.svg" alt="edit about me">
            </div>
            <p style="margin-top: 10px;text-transform: capitalize;">
                {{languageService.profileLang.hello}}, {{languageService.profileLang.myself}}  {{personalProfileData.name}}, {{personalProfileData.about}}
            </p>
        </div>

        <hr>

        <!-- personal details -->

        <div class="sections" id="personal">
            <div>
                <span class="sectionTitle">
                    {{languageService.profileLang.personalizedDetails}}
                </span>
                <img (click)="openPersonalDialog(1, 'पर्सनल डिटेल्स')" class="editPencil" src="../../../assets/pencilblack.svg" alt="edit personal">
            </div>
            
            <div class="row">
                <div class="col-6">
                    <img class="iconSize" src="../../../assets/avatar-blue.svg" alt="avatar"> 
                    <span style="margin-left: 5px;">
                      <span class="labelText">{{languageService.profileLang.name}}:</span> {{personalProfileData.name}}
                    </span>
                </div>
                <div class="col-6">
                    <img class="iconSize" src="../../../assets/calendar.svg" alt="age"> 
                    <span style="margin-left: 5px;">
                        <span class="labelText">{{languageService.profileLang.age}}:</span>  {{setAge(personalProfileData.birth_date)}} Yrs
                    </span>
                </div>
                <div class="col-6">
                    <img class="iconSize" src="../../../assets/weight.svg" alt="weight"> 
                    <span style="margin-left: 5px;">
                        <span class="labelText">{{languageService.profileLang.weight}}:</span> {{personalProfileData.weight ? personalProfileData.weight : 'Add Detail'}} Kg
                    </span>
                </div>
                <div class="col-6">
                    <img class="iconSize" src="../../../assets/scale.svg" alt="height"> 
                    <span style="margin-left: 5px;">
                        <span class="labelText">{{languageService.profileLang.height}}:</span> {{getHeight(personalProfileData.height)}}
                    </span>
                </div>
                <div class="col-6">
                    <img class="iconSize" src="../../../assets/heart.svg" alt="marital status"> 
                    <span style="margin-left: 5px;">
                        <span class="labelText">{{languageService.profileLang.martialStatus}}:</span>  {{personalProfileData.marital_status ? personalProfileData.marital_status : 'Add Detail'}}
                    </span>
                </div>
                <div class="col-6">
                    <img class="iconSize" src="../../../assets/tarot.svg" alt="caste"> 
                    <span style="margin-left: 5px;">
                        <span class="labelText">{{languageService.profileLang.religion}}:</span> {{familyProfileData.religion}}, {{familyProfileData.caste}}
                    </span>
                </div>
                <div class="col-6">
                    <img class="iconSize" src="../../../assets/cutlery.svg" alt="food choice"> 
                    <span style="margin-left: 5px;">
                        <span class="labelText">{{languageService.profileLang.foodChoice}}:</span>  {{personalProfileData.food_choice ? personalProfileData.food_choice : 'Add Detail'}}
                    </span>
                </div>
                <div class="col-6">
                    <img class="iconSize" src="../../../assets/house.svg" alt="working city"> 
                    <span style="margin-left: 5px;">
                        <span class="labelText">{{languageService.profileLang.locality}}:</span> {{familyProfileData.locality ? familyProfileData.locality : 'Add Detail'}}
                    </span>
                </div>
            </div>

        </div>

        <hr>

        <!-- education details -->

        <div class="sections">
            <div>
                <span class="sectionTitle">
                    {{languageService.profileLang.educational}}
                </span>
                <img (click)="openPersonalDialog(2, 'शिक्षा')" class="editPencil" src="../../../assets/pencilblack.svg" alt="edit education">
            </div>
            
            <div class="row">
                <div class="col-12">
                    <img class="iconSize" src="../../../assets/graduation.svg" alt="degree"> 
                    <span style="margin-left: 5px;">
                        <span class="labelText">{{languageService.profileLang.education}}:</span>  {{personalProfileData.education ? personalProfileData.education : 'Add Detail'}}
                    </span>
                </div>
                <div class="col-12">
                    <img class="iconSize" src="../../../assets/graduation.svg" alt="college"> 
                    <span style="margin-left: 5px;">
                        <span class="labelText">{{languageService.profileLang.college}}:</span>   {{personalProfileData.college ? personalProfileData.college : 'Add Detail'}}
                    </span>
                </div>
                <div class="col-12">
                    <!-- <img class="iconSize" src="../../../assets/graduation.svg" alt="additional">  -->
                    <span style="margin-left: 5px;">
                        <span class="labelText">{{languageService.profileLang.additional}}:</span> {{personalProfileData.additional_qualification ? personalProfileData.additional_qualification : 'Add Detail'}}
                    </span>
                </div>
            </div>

        </div>

        <hr>

        <!-- career details  -->

        <div class="sections">
            <div>
                <span class="sectionTitle">
                    {{languageService.profileLang.careerDetails}}
                </span>
                <img (click)="openPersonalDialog(3, 'करियर')" class="editPencil" src="../../../assets/pencilblack.svg" alt="edit career">
            </div>
            
            <div class="row">
                <div class="col-12">
                    <img class="iconSize" src="../../../assets/suitcase.svg" alt="occupation"> 
                    <span style="margin-left: 5px;">
                        <span class="labelText">{{languageService.profileLang.occupation}}:</span>  {{personalProfileData.occupation ? personalProfileData.occupation : 'Add Detail'}}
                    </span>
                </div>
                <div class="col-12">
                    <img class="iconSize" src="../../../assets/suitcase.svg" alt="profession"> 
                    <span style="margin-left: 5px;">
                        <span class="labelText">{{languageService.profileLang.designation}}:</span>  {{personalProfileData.profession ? personalProfileData.profession : 'Add Detail'}}
                    </span>
                </div>
                <div class="col-12">
                    <img class="iconSize" src="../../../assets/company.svg" alt="company"> 
                    <span style="margin-left: 5px;">
                        <span class="labelText">{{languageService.profileLang.company}}:</span> {{personalProfileData.company ? personalProfileData.company : 'Add Detail'}}
                    </span>
                </div>
                <div class="col-12">
                    <img class="iconSize" src="../../../assets/house.svg" alt="working_city"> 
                    <span style="margin-left: 5px;">
                        <span class="labelText">{{languageService.profileLang.workingCity}}:</span> {{personalProfileData.working_city ? personalProfileData.working_city : 'Add Detail'}}
                    </span>
                </div>
                <div class="col-12">
                    <img class="iconSize" src="../../../assets/rupee.svg" alt="income"> 
                    <span style="margin-left: 5px;">
                        <span class="labelText">{{languageService.profileLang.annualIncome}}:</span> {{getIncome(personalProfileData.monthly_income) ? getIncome(personalProfileData.monthly_income) : 'Add Detail'}} LPA
                    </span>
                </div>
            </div>

        </div>

        <hr>

        <!-- horoscopic details -->

        <div class="sections" id="horoscope">
            <div>
                <span class="sectionTitle">
                    {{languageService.profileLang.horoscope}}
                </span>
                <img (click)="openPersonalDialog(4, 'होरोस्कोप')" class="editPencil" src="../../../assets/pencilblack.svg" alt="edit horoscope">
            </div>
            
            <div class="row">
                <div class="col-12">
                    <img class="iconSize" src="../../../assets/tarot.svg" alt="manglik status"> 
                    <span style="margin-left: 5px;">
                        <span class="labelText">{{languageService.profileLang.manglik}}:</span> {{personalProfileData.manglik ? personalProfileData.manglik : 'Add Detail'}}
                    </span>
                </div>
                <div class="col-12">
                    <img class="iconSize" src="../../../assets/birthday.svg" alt="brith date"> 
                    <span style="margin-left: 5px;">
                        <span class="labelText">{{languageService.profileLang.birthDate}}:</span> {{personalProfileData.birth_date ? personalProfileData.birth_date : 'Add Detail'}}
                    </span>
                </div>
                <div class="col-12">
                    <img class="iconSize" src="../../../assets/birthplace.svg" alt="birth place"> 
                    <span style="margin-left: 5px;">
                        <span class="labelText">{{languageService.profileLang.birthPlace}}:</span> {{personalProfileData.birth_place ? personalProfileData.birth_place : 'Add Detail' }}
                    </span>
                </div>
                <div class="col-12">
                    <img class="iconSize" src="../../../assets/clock.svg" alt="birth time"> 
                    <span style="margin-left: 5px;">
                        <span class="labelText">{{languageService.profileLang.birthTime}}:</span>  {{personalProfileData.birth_time ? personalProfileData.birth_time : 'Add Detail'}}
                    </span>
                </div>
            </div>
        </div>

        <hr>

        <!-- contact details  -->

        <div class="sections">
            <div>
                <span class="sectionTitle">
                    {{languageService.profileLang.contact}}
                </span>
                <img (click)="openPersonalDialog(5, 'कांटेक्ट')" class="editPencil" src="../../../assets/pencilblack.svg" alt="edit contact">
            </div>
            
            <div class="row">
                <div class="col-12">
                    <img class="iconSize" src="../../../assets/phone_blue.svg" alt="email"> 
                    <span style="margin-left: 5px;">
                        <span class="labelText">{{languageService.profileLang.email}}:</span>  {{familyProfileData.email ? familyProfileData.email : 'Add Detail'}}
                    </span>
                </div>
                <div class="col-12">
                    <img class="iconSize" src="../../../assets/phone_blue.svg" alt="phone"> 
                    <span style="margin-left: 5px;">
                        <span class="labelText">{{languageService.profileLang.mobile}}:</span> {{familyProfileData.mobile}}
                    </span>
                </div>
                <div class="col-12">
                    <img class="iconSize" src="../../../assets/phone_blue.svg" alt="whatsapp"> 
                    <span style="margin-left: 5px;">
                        <span class="labelText">{{languageService.profileLang.whatsapp}}:</span>  {{familyProfileData.whats_app_no ? familyProfileData.whats_app_no : familyProfileData.mobile}}
                    </span>
                </div>
            </div>
        </div>

        <hr>


            <!-- family details -->

        <div class="sections" id="family">
            <div>
                <span class="sectionTitle">
                    {{languageService.profileLang.familyDetails}}
                </span>
                <img (click)="openFamilyDialog()" class="editPencil" src="../../../assets/pencilblack.svg" alt="edit contact">
            </div>
            
            <div class="row">
                <div class="col-12">
                    <img class="iconSize" src="../../../assets/parents.svg" alt="mother"> 
                    <span style="margin-left: 5px;">
                        <span class="labelText">{{languageService.profileLang.motherStatus}}:</span> {{LifeStatus(familyProfileData.mother_status, familyProfileData.occupation_mother) ? LifeStatus(familyProfileData.mother_status, familyProfileData.occupation_mother) : 'Add Detail'}}
                    </span>
                </div>
                <div class="col-12">
                    <img class="iconSize" src="../../../assets/parents.svg" alt="father"> 
                    <span style="margin-left: 5px;">
                        <span class="labelText">{{languageService.profileLang.fatherStatus}}:</span> {{LifeStatus(familyProfileData.father_status, familyProfileData.occupation) ? LifeStatus(familyProfileData.father_status, familyProfileData.occupation) : 'Add Detail'}}
                    </span>
                </div>
                <div class="col-12">
                    <img class="iconSize" src="../../../assets/sisters.svg" alt="sisters"> 
                    <span style="margin-left: 5px;">
                        <span class="labelText">{{languageService.profileLang.sisters}}:</span> {{setMarriageSisters(familyProfileData.unmarried_daughters,familyProfileData.married_daughters)}}
                    </span>
                </div>
                <div class="col-12">
                    <img class="iconSize" src="../../../assets/brothers.svg" alt="brothers"> 
                    <span style="margin-left: 5px;">
                        <span class="labelText">{{languageService.profileLang.brothers}}:</span> {{setMarriageBrothers(familyProfileData.unmarried_sons,familyProfileData.married_sons)}}
                    </span>
                </div>
                <div class="col-12">
                    <img class="iconSize" src="../../../assets/moneybag copy.svg" alt="family income"> 
                    <span style="margin-left: 5px;">
                        <span class="labelText">{{languageService.profileLang.familyIncome}}:</span>  {{getIncome(familyProfileData.family_income) ? getIncome(familyProfileData.family_income) : 'Add Detail'}} LPA
                    </span>
                </div>
                <div class="col-12">
                    <img class="iconSize" src="../../../assets/meditation.svg" alt="gotra"> 
                    <span style="margin-left: 5px;">
                        <span class="labelText">{{languageService.profileLang.gotra}}:</span>  {{familyProfileData.gotra ? familyProfileData.gotra : 'Add Detail'}}
                    </span>
                </div>
                <div class="col-12">
                    <img class="iconSize" src="../../../assets/family.svg" alt="family type"> 
                    <span style="margin-left: 5px;">
                        <span class="labelText">{{languageService.profileLang.familyType}}:</span>  {{familyProfileData.family_type ? familyProfileData.family_type : 'Add Detail'}}
                    </span>
                </div>
                <div class="col-12">
                    <img class="iconSize" src="../../../assets/house.svg" alt="house type"> 
                    <span style="margin-left: 5px;">
                        <span class="labelText">{{languageService.profileLang.houseType}}:</span>  {{familyProfileData.house_type ? familyProfileData.house_type : 'Add Detail'}}
                    </span>
                </div>


                <div class="col-12">
                    <img class="iconSize" src="../../../assets/house.svg" alt="house type"> 
                    <span style="margin-left: 5px;">
                        <span class="labelText">{{languageService.profileLang.familyLivingIn}}:</span>  {{familyProfileData.city ? familyProfileData.city : 'Add Detail'}}
                    </span>
                </div>

                <div class="col-12">
                    <p style="margin-top: 10px;text-transform: capitalize;">
                        <span class="labelText">{{languageService.profileLang.aboutFamily}}:</span>   {{familyProfileData.about ? familyProfileData.about : 'Add Detail'}}
                    </p>
                </div>
            </div>
        </div>

        <hr>

        <!-- preference details -->

        <div class="sections" id="preferences">
            <div>
                <span class="sectionTitle">
                    {{languageService.profileLang.preference}}
                </span>
                <img (click)="openPreferenceDialog()" class="editPencil" src="../../../assets/pencilblack.svg" alt="edit contact">
            </div>
            
            <div class="row">
                <div class="col-6">
                    <span>
                       {{languageService.profileLang.ageMin}}: {{preferenceProfileData.age_min}}
                    </span>
                </div>
                <div class="col-6">
                    <span>
                        {{languageService.profileLang.ageMax}}: {{preferenceProfileData.age_max}}
                    </span>
                </div>
                <div class="col-6">
                    <span>
                        {{languageService.profileLang.heightMin}}: {{getHeight(preferenceProfileData.height_min)}}
                    </span>
                </div>
                <div class="col-6">
                    <span>
                        {{languageService.profileLang.heightMax}}: {{getHeight(preferenceProfileData.height_max)}}
                    </span>
                </div>
                <div class="col-6">
                    <span>
                        {{languageService.profileLang.incomeMin}}: {{getIncome(preferenceProfileData.income_min)}}
                    </span>
                </div>
                <div class="col-6">
                    <span>
                        {{languageService.profileLang.incomeMax}}: {{getIncome(preferenceProfileData.income_max)}}
                    </span>
                </div>
                <div class="col-12">
                    <img class="iconSize" src="../../../assets/tarot.svg" alt="pref caste"> 
                    <span style="margin-left: 5px;word-wrap: break-word;">
                        <span class="labelText">{{languageService.profileLang.castePref}}:</span> {{preferenceProfileData.caste}}
                    </span>
                </div>
                <div class="col-12">
                    <img class="iconSize" src="../../../assets/tarot.svg" alt="pref manglik"> 
                    <span style="margin-left: 5px;">
                        <span class="labelText">{{languageService.profileLang.manglikPref}}:</span>  {{preferenceProfileData.manglik ? preferenceProfileData.manglik : 'Add Detail'}}
                    </span>
                </div>
                <div class="col-12">
                    <img class="iconSize" src="../../../assets/heart.svg" alt="pref marital status"> 
                    <span style="margin-left: 5px;">
                        <span class="labelText">{{languageService.profileLang.martialStatus}}:</span>  {{preferenceProfileData.marital_status ? preferenceProfileData.marital_status : 'Add Detail'}}
                    </span>
                </div>
                <div class="col-12">
                    <img class="iconSize" src="../../../assets/templegrey.svg" alt="mother tongue"> 
                    <span style="margin-left: 5px;">
                        <span class="labelText">{{languageService.profileLang.motherTonguePref}}:</span>  {{preferenceProfileData.mother_tongue ? preferenceProfileData.mother_tongue : 'Hindi-Delhi'}}
                    </span>
                </div>
                <div class="col-12">
                    <img class="iconSize" src="../../../assets/cutlery.svg" alt="food choice"> 
                    <span style="margin-left: 5px;">
                        <span class="labelText">{{languageService.profileLang.foodChoicePref}}:</span>  {{preferenceProfileData.food_choice ? preferenceProfileData.food_choice : 'Add Detail'}}
                    </span>
                </div>
                <div class="col-12" *ngIf="personalProfileData.gender === 'Female'">
                    <img class="iconSize" src="../../../assets/suitcase.svg" alt="pref occupation"> 
                    <span style="margin-left: 5px;">
                        <span class="labelText">{{languageService.profileLang.occupationPref}}:</span>  {{preferenceProfileData.occupation ? preferenceProfileData.occupation : 'Add Detail'}}
                    </span>
                </div>

                <div class="col-12" *ngIf="personalProfileData.gender === 'Male'">
                    <img class="iconSize" src="../../../assets/suitcase.svg" alt="pref working"> 
                    <span style="margin-left: 5px;">
                        <span class="labelText">{{languageService.profileLang.workingPref}}:</span>  {{preferenceProfileData.working ? preferenceProfileData.working : 'Add Detail'}}
                    </span>
                </div>

                <div class="col-12">
                    <span>
                        {{languageService.profileLang.desc}}: {{preferenceProfileData.description ? preferenceProfileData.description : 'Add Detail'}}
                    </span>
                </div>
            </div>
        </div>
            <hr>

            <div style="border: 1.5px solid #FCDEF6;border-radius: 10px;margin: 20px 30px;padding: 20px 10px 10px;">
                <div class="row">
                    <div class="col-5" id="pinkSide">
                        <img style="width: 20px;margin-right: 10px;" src="../../../assets/heartsblue.svg" alt="hearts">
                        <p style="font-size: 30px;color: #D313AE;font-weight: bold;margin: 0px;">{{itemService.getCountOnlyShorted()}}</p>
                    </div>

                    <div class="col-2">

                    </div>

                    <div class="col-5" id="blueSide">
                        <img style="width: 20px;margin-left: 10px;" src="../../../assets/heartspink.svg" alt="hearts">
                        <p style="font-size: 30px;margin: 0px;">{{itemService.getCountOnlyShortlist()}}</p>
                    </div>
                    <div class="col-5" style="text-align: end;margin: 0px;">
                        <p class="boxText" style="color: #D313AE;font-weight: bold;margin: 0px;">
                            {{languageService.getCurrentLanguage() === 'hindi' ? 'लोगो को' : 'People'}}</p>
                    </div>
                    <div class="col-2" style="text-align: center;">
                        <img style="width: 100%;" src="../../../assets/heartpink.svg" alt="heart">
                    </div>
                    <div class="col-5" style="text-align: start;color: #0C9BF2;font-weight: bold;margin: 0px;">
                        <p class="boxText" style="margin: 0px;">{{languageService.getCurrentLanguage() === 'hindi' ? 'रिश्ते है' : 'Rishte'}}</p>
                    </div>
                    <div class="col-5" style="text-align: end;margin: 0px;line-height: 1;">
                        <p class="boxText" style="color: #D313AE;font-weight: bold;margin: 0px;">
                            {{languageService.getCurrentLanguage() === 'hindi' ? 'आप पसंद आये' : 'Liked You'}}</p>
                    </div>
                    <div class="col-2">

                    </div>
                    <div class="col-5" style="text-align: start;color: #0C9BF2;font-weight: bold;margin: 0px; line-height: 1;">
                        <p class="boxText" style="margin: 0px;">{{languageService.getCurrentLanguage() === 'hindi' ? 'आपको पसंद' : 'Liked By You'}}</p>
                    </div>
                </div>
                
                <div class="row" style="margin-top: 25px;">
                    <div class="col-6">
                        <button class="boxBtn" (click)="itemService.changeTab(3)" mat-raised-button style="background-color: #FAC8F1;
                        width: 100%;color: #D313AE;">
                            {{languageService.getCurrentLanguage() === 'hindi' ? 'मैं किसे पसंद हूँ ?' : 'Liked Me?'}}
                        </button>
                    </div>
                    <div class="col-6">
                        <button class="boxBtn" (click)="itemService.changeTab(2)" mat-raised-button style="background-color: #CDEBFF; 
                        width: 100%;color: #0C9BF2;">
                            {{languageService.getCurrentLanguage() === 'hindi' ? 'मेरी पसंद' : 'Liked By Me'}}
                        </button>
                    </div>
                </div>
            </div>

    </section>
</main>