::ng-deep .carousel-indicators{
    bottom: 60px !important;
}
.sections{
    padding: 5px 20px;
}
.sectionTitle{
    color: #0C9BF2;
    font-size: 18px;
    font-weight: bold;
    font-size: 20px;
}
.editPencil{
    float: right;
    width: 30px;
}
.row{
    padding: 0px;
}
.col-6, .col-12{
    margin: 10px 0px 0px ;
}
.iconSize{
    width: 30px;
}

.boxText{
font-size: 18px;
}
.boxBtn {
    font-size: 16px;
    font-weight: bold;
}
.navigationPanel{
    position: fixed;bottom: 0px ;
        width: 100%;
        z-index: 99999999;;display: flex;
        flex-direction: row; 
        justify-content: space-evenly;
        background-color: white;
        border-top: 1px solid #707070;
        box-shadow: 0px -3px 1px lightgrey;
        padding: 5px 0px;
}
.navigationIcons{
    width: 30px;
}

@media (max-width: 350px){
    .boxText{
        font-size: 14px;
        }

        .boxBtn{
            font-size: 14px;
            font-weight: bold;
        }

        .navigationIcons{
            width: 20px;
        }
}

@media (min-width: 1024px){
    .navigationPanel{
        position: fixed;bottom: 0px ;
            width: 40%;
            z-index: 99999999;;display: flex;
            flex-direction: row; 
            justify-content: space-evenly;
            background-color: white;
            padding: 5px 0px;
    }
}