::ng-deep .carousel-indicators{
    bottom: 60px !important;
}
.sections{
    padding: 5px 20px;
    color: #6f6f6f;
}
.sectionTitle{
    /* color: #0C9BF2; */
    color: #58d1fd;
    font-size: 18px;
    font-weight: bold;
    font-size: 20px;
}
.labelText{
    font-weight: bold;
    font-size: 16px;
    color: #C8C8C8;
    margin-right: 0.5rem;
}
.editPencil{
    float: right;
    width: 25px;
}
.row{
    padding: 0px;
}
.col-6, .col-12{
    margin: 10px 0px 0px ;
    text-transform: capitalize;
}
.iconSize{
    width: 30px;
}

.boxText{
font-size: 18px;
}
.boxBtn {
    font-size: 16px;
    font-weight: bold;
}
#pinkSide{
    text-align: end;
                    margin: 0px;
                    position: relative;
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    justify-content: flex-end;
}
#blueSide{
    text-align: start;
                    color: #0C9BF2;
                    font-weight: bold;
                    margin: 0px;
                    display: flex;
                    flex-direction: row-reverse;
                    align-items: flex-start;
                    justify-content: flex-end;
}
.navigationPanel{
    position: fixed;bottom: 0px ;
        width: 100%;
        z-index: 99999999;;display: flex;
        flex-direction: row; 
        justify-content: space-evenly;
        background-color: white;
        border-top: 1px solid #707070;
        box-shadow: 0px -3px 1px lightgrey;
        padding: 5px 0px;
        color: #707070;
}
.navigationIcons{
    width: 30px;
}

@media (max-width: 350px){
    .boxText{
        font-size: 14px;
        }

        .boxBtn{
            font-size: 14px;
            font-weight: bold;
        }

        .navigationIcons{
            width: 20px;
        }
}

@media (min-width: 1024px){
    .navigationPanel{
        position: fixed;bottom: 0px ;
            width: 40%;
            z-index: 99999999;;display: flex;
            flex-direction: row; 
            justify-content: space-evenly;
            background-color: white;
            padding: 5px 0px;
    }
}