  <mat-sidenav-container class="mainContainer">
    <mat-sidenav class="drawerSettings" mode="over" position="end" #sidenav>
        <app-home-drawer></app-home-drawer>
    </mat-sidenav>
    <mat-sidenav-content>

        <mat-toolbar class="fixToolBar">
            <mat-toolbar-row>
                <div class="mainDivToolbar">
                    <div>
                        <img style="width: 40px;" src="../../assets/logo_192.png" alt="Hans Matrimony"> 
                        <span style="color: white; margin-left: 10px;font-size: 16sp;font-weight: bold;"><strong>Hans Matrimony</strong></span>
                    </div>
                    <div style="margin-right: 15px;padding-top: 4px;">
                        <img style="width: 20px;" (click)="sidenav.toggle()" src="../../assets/menu.svg" alt="menu">
                    </div>
                </div>
              </mat-toolbar-row>
            
              <mat-toolbar-row>
                  <div class="row toolBarRow2">
                 
                <div class="col-4 t-c b-r">
                    <span style="color: white;">डाउनलोड करें</span>
                </div>
                <div class="col-4 t-c b-r">
                    <img style="width: 25px;" src="../../assets/whatsapp-white.svg" alt="whatsapp share">
                </div>
                <div class="col-4 t-c">
                    <span style="color: white;">लॉगिन करें</span>
                </div>
            </div>
              </mat-toolbar-row>
           
        </mat-toolbar>

        <!-- home main -->

        <app-home-main></app-home-main>

    </mat-sidenav-content>
  </mat-sidenav-container>