.mainContainer{
    width: 100%;
    height: 100%;
    border: 1px solid #555;
}

.drawerSettings{
width: 70%;
}

.row{
    padding: 0px;
    margin: 0px;
}
.fixToolBar{
    width: 100% ;
    position: fixed; 
    z-index:1;
}
.toolText{
    color: white;
    font-size: 20px;
}
.mainDivToolbar{
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
    background-color: #0C9BF2;
}
.toolBarRow2{
    background-color: #0C9BF2;
    padding: 10px 0px;
}
.b-r{
    border-right: 1px solid white;
}

@media (max-width: 576px) {
    .toolText{
        color: white;
        font-size: 18px;
    }
}

@media (max-width: 350px) {
    .toolText{
        color: white;
        font-size: 16px;
    }
}