<mat-card>
    <mat-card-title>
        <img style="width: 100px;" src="../../assets/logo_short.png" alt="">
        Checkout Form
    </mat-card-title>
    <mat-card-content>
        <form [formGroup]="checkOutForm">
        <mat-form-field appearance="standard">
            <mat-label>Name</mat-label>
            <input formControlName="name" type="text" matInput>
          </mat-form-field>
        </form>

        <mat-list>
            <mat-list-item>Item 1</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Item 2</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Item 3</mat-list-item>
          </mat-list>
    </mat-card-content>
</mat-card>