/*   footer   */
/* Place the navbar at the bottom of the page, and make it stick */
.navbar {
    background-color: #34b7f1;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  
  /* Style the links inside the navigation bar */
  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 18px;
  }
  
  /* Change the color of links on hover */
  .navbar a:hover {
    color: black;
  }
  
  /* Add a color to the active/current link */
  .navbar a.active {
    color: white;
  }
  .card {
border-radius: 30px;
  }
  #main{
    background-color:#ebedf0;
    margin: 0px;
    padding-bottom: 100px;
    padding-top: 20px;
  }
::ng-deep .carousel-control-next {
  background: black;
}
::ng-deep .carousel-control-prev {
  background: black;
}

  @media (max-width: 1024px) {
    #main{
      background-color:#ebedf0;
      margin: 0px 20%;
      padding-bottom: 100px;
      padding-top: 20px;
    }
  }
    @media (max-width: 576px) {
      #main{
        background-color:#ebedf0;
        margin: 0px;
        padding-bottom: 100px;
        padding-top: 20px;
      }
  }