<main id="main" *ngIf="personalProfileData">
    <div style="margin: 0px 20px 0px;" class="card">
      <!-- <div style="text-align: center">
        <input style="display: none" #backfile type="file" id="backfile" accept='image/*' (change)="previewBack(backfile.files,3)"  />
      <label for="backfile">
      <img id="imgProfile" style="border-radius: 100px;width: 150px;background-color: lightblue;margin: 20px auto 0px;" [src]="getProfilesPhoto(personalProfileData.photo,personalProfileData.carousel,personalProfileData.gender,'3')" alt="">
    </label>                   
    </div> -->

    <ngb-carousel style="position: relative;">
      <ng-template ngbSlide *ngFor="let i of getImagesCount(personalProfileData.carousel,personalProfileData.photo); let index = index">
          <div class="picsum-img-wrapper" style="text-align: center;">
            <input style="margin: 10px 25%;display: none;" #backfile type="file" id="backfile" accept='image/*' (change)="previewBack(backfile.files,index+1)"/> 
              <img (click)="changeProfileImage(index)" id="imgProfile" style="border-radius: 20px; width: 80%; background-color: lightblue; margin: 20px auto 0px;" [src]="getProfilesPhoto(personalProfileData.carousel,personalProfileData.photo,personalProfileData.gender,i)" alt="slide 1">
          </div>
      </ng-template>
    </ngb-carousel>

      <div class="row" style="margin-bottom:20px">
        <h5 style="margin: 0px auto;margin-top: 10px;">{{personalProfileData.name}}</h5>
      </div>
    </div>
    <div style="margin: 20px 20px;" class="card">
      <div class="row" style="margin: 10px 10px 0px;">
          <i style="background-color: #34b7f1;color: white;font-size: 15px !important;padding: 8px;height: 30px;width: 30px !important;" class="fa fa-info"></i>
          <i (click)="openPersonalDialog()" style="background-color: #34b7f1;color: white;font-size: 15px !important;padding: 8px;height: 30px;width: 30px !important;" class="fa fa-pencil ml-auto"></i>
      </div>
      <div class="row" style="margin: 10px 10px;">
        <div class="col-6">
          <h6>Name</h6>
          <p style="font-size: 14px;">{{personalProfileData.name}}</p>
        </div>
        <div class="col-6">
            <h6>Age</h6>
            <p style="font-size: 14px;" [innerHtml]="setAge(personalProfileData.birth_date)"></p>
          </div>
          <hr style="margin: 0px 10px;width: 100%">
      </div>
      <div class="row" style="margin: 10px 10px;">
          <div class="col-6">
            <h6>Marital Status</h6>
            <p style="font-size: 14px;">{{personalProfileData.marital_status}}</p>
          </div>
          <div class="col-6" *ngIf="familyProfileData && !personalProfileData.religion ">
              <h6>Religion</h6>
              <p style="font-size: 14px;">{{familyProfileData.religion}}</p>
            </div>
            <div class="col-6" *ngIf="personalProfileData.religion">
              <h6>Religion</h6>
              <p style="font-size: 14px;">{{personalProfileData.religion}}</p>
            </div>
            <hr style="margin: 0px 10px;width: 100%">
        </div>
        <div class="row" style="margin: 10px 10px;">
            <div class="col-6">
              <h6>Height</h6>
              <p style="font-size: 14px;" [innerHtml]="getHeight(personalProfileData.height)" ></p>
            </div>
            <div class="col-6" *ngIf="familyProfileData && !personalProfileData.caste">
                <h6>Caste</h6>
                <p style="font-size: 14px;">{{familyProfileData.caste}}</p>
              </div>
              <div class="col-6" *ngIf="personalProfileData.caste">
                <h6>Caste</h6>
                <p style="font-size: 14px;">{{personalProfileData.caste}}</p>
              </div>
              <hr style="margin: 0px 10px;width: 100%">
          </div>
          <div class="row" style="margin: 10px 10px;">
              <div class="col-6">
                <h6>Weight</h6>
                <p style="font-size: 14px;">{{personalProfileData.weight}}</p>
              </div>
              <div class="col-6" *ngIf="familyProfileData && !personalProfileData.gotra">
                  <h6>Gotra</h6>
                  <p style="font-size: 14px;">{{familyProfileData.gotra}}</p>
                </div>
                <div class="col-6" *ngIf="personalProfileData.gotra">
                  <h6>Gotra</h6>
                  <p style="font-size: 14px;">{{personalProfileData.gotra}}</p>
                </div>
                <hr style="margin: 0px 10px;width: 100%">
            </div>
    
            <div class="row" style="margin: 10px 10px;">
                <div class="col-6" *ngIf="familyProfileData && !personalProfileData.city">
                  <h6>Current City</h6>
                  <p style="font-size: 14px;">{{familyProfileData.city}}</p>
                </div>
                <div class="col-6" *ngIf="personalProfileData.city">
                  <h6>Current City</h6>
                  <p style="font-size: 14px;">{{personalProfileData.city}}</p>
                </div>
                <div class="col-6">
                    <h6>Food Choice</h6>
                    <p style="font-size: 14px;">{{personalProfileData.food_choice}}</p>
                  </div>
              </div>
    </div>
    
    <div class="card" style="margin: 20px 20px;">
        <div class="row" style="margin: 10px 10px 0px;">
            <i style="background-color: #34b7f1;color: white;font-size: 15px !important;padding: 8px;height: 30px;width: 30px !important;" class="fa fa-comment"></i>
            <h5 style="margin: auto 20px">ABOUT</h5>
        </div>
        <div class="row" style="margin: 10px 20px">
            <p style="width: -webkit-fill-available;">{{personalProfileData.about}}</p>
        </div>
    </div>
    <div class="card" style="margin: 20px 20px;">
        <div class="row" style="margin: 10px 10px 0px;">
            <i style="background-color: #34b7f1;color: white;font-size: 15px !important;padding: 8px;height: 30px;width: 30px !important;" class="fa fa-graduation-cap"></i>
            <h5 style="margin: auto 20px">EDUCATION DETAILS</h5>
        </div>
        <div class="row" style="margin: 10px 10px;">
            <div class="col-12">
              <h6 style="display: inline-block">Degree : </h6>
              <p style="font-size: 14px;display: inline-block;margin-left: 10px">{{personalProfileData.degree}}</p>
            </div>
            <hr style="margin: 0px 10px;width: 100%">
            <div class="col-12" style="margin-top: 10px;">
                <h6 style="display: inline-block">Additional information : </h6>
                <p style="font-size: 14px;display: inline-block;margin-left: 10px">{{personalProfileData.additional_qualification}}</p>
              </div>
          </div>
    </div>
    
    <div class="card" style="margin: 20px 20px;">
        <div class="row" style="margin: 10px 10px 0px;">
            <i style="background-color: #34b7f1;color: white;font-size: 15px !important;padding: 8px;height: 30px;width: 30px !important;" class="fa fa-briefcase"></i>
            <h5 style="margin: auto 20px">CAREER DETAILS</h5>
        </div>
        <div class="row" style="margin: 10px 10px;">
            <div class="col-6">
              <h6 >Occupation: </h6>
              <p style="font-size: 14px;">{{personalProfileData.occupation}}</p>
            </div>
            <div class="col-6">
                <h6>Organisation: </h6>
                <p style="font-size: 14px;">{{personalProfileData.company}}</p>
              </div>
              <hr style="margin: 0px 10px;width: 100%">
            </div>
            <div class="row" style="margin: 10px 10px;">
                <div class="col-6">
                    <h6>City: </h6>
                    <p style="font-size: 14px;" [innerHtml]="getOfficeAddress(personalProfileData.working_city,personalProfileData.office_address)"></p>
                  </div>
                  <div class="col-6">
                      <h6>Profession: </h6>
                      <p style="font-size: 14px;">{{personalProfileData.profession}}</p>
                    </div>
                    <hr style="margin: 0px 10px;width: 100%">
            </div>
            <div class="row" style="margin: 10px 10px;">
                <div class="col-6">
                  <h6 >Annual Income: </h6>
                  <p style="font-size: 14px;" [innerText]="getIncome(personalProfileData.monthly_income)"> LPA</p>
                </div>
                </div>
    </div>
    
    <div class="card" style="margin: 20px 20px;">
        <div class="row" style="margin: 10px 10px 0px;">
            <i style="background-color: #34b7f1;color: white;font-size: 15px !important;padding: 8px;height: 30px;width: 30px !important;" class="fa fa fa-venus-mars"></i>
            <h5 style="margin: auto 20px">HOROSCOPE DETAILS</h5>
        </div>
        <div class="row" style="margin: 10px 10px;">
            <div class="col-6">
              <h6>Manglik Status</h6>
              <p style="font-size: 14px;">{{personalProfileData.manglik}}</p>
            </div>
            <div class="col-6">
                <h6>Date of Birth</h6>
                <p style="font-size: 14px;">{{personalProfileData.birth_date}}</p>
              </div>
              <hr style="margin: 0px 10px;width: 100%">
          </div>
          <div class="row" style="margin: 10px 10px;">
              <div class="col-6">
                <h6>Birth Place</h6>
                <p style="font-size: 14px;">{{personalProfileData.birth_place}}</p>
              </div>
              <div class="col-6">
                  <h6>Time of Birth</h6>
                  <p style="font-size: 14px;">{{personalProfileData.birth_time}}</p>
                </div>
            </div>
    </div>
    
    <div class="card" style="margin: 20px 20px;">
        <div class="row" style="margin: 10px 10px 0px;">
            <i style="background-color: #34b7f1;color: white;font-size: 15px !important;padding: 8px;height: 30px;width: 30px !important;" class="fa fa fa-venus-mars"></i>
            <h5 style="margin: auto 20px">CONTACT DETAILS</h5>
        </div>
        <div class="row" style="margin: 10px 10px;">
            <i style="background-color: #34b7f1;color: white;font-size: 15px !important;padding: 8px;height: 30px;width: 30px !important;margin-top: 0px" class="fa fa-envelope"></i>
              <div class="col-10" *ngIf="familyProfileData">
                  <p style="font-size: 14px;">{{familyProfileData.email}}</p>
              </div>
            </div>
            <div class="row" style="margin: 10px 10px 0px;">
              <i style="background-color: #34b7f1;color: white;font-size: 15px !important;padding: 8px;height: 30px;width: 30px !important;margin-top: 0px;" class="fa fa-phone"></i>
              <div class="col-5" style="margin: auto 0px;" *ngIf="familyProfileData && !personalProfileData.mobile">
              <h6 style="display: inline-block">Mobile</h6>
                <p style="font-size: 14px;display: inline-block;margin-left: 10px;">{{familyProfileData.mobile}}</p>
              </div>
              <div class="col-5" style="margin: auto 0px;" *ngIf="personalProfileData.mobile">
                <h6 style="display: inline-block">Mobile</h6>
                  <p style="font-size: 14px;display: inline-block;margin-left: 10px;">{{personalProfileData.mobile}}</p>
                </div>
              <div class="col-5" *ngIf="familyProfileData">
                  <h6 style="display: inline-block;">Whatsapp</h6>
                    <p style="font-size: 14px;display: inline-block;margin-left: 10px">{{familyProfileData.whats_app_no}}</p>
                  </div>
          </div>
          <div class="row" style="margin: 10px 10px;">
              <i style="background-color: #34b7f1;color: white;font-size: 15px !important;padding: 8px;height: 30px;width: 30px !important;margin-top: 0px" class="fa fa-map-marker"></i>
                <div class="col-10" *ngIf="familyProfileData">
                    <p style="font-size: 14px;">{{familyProfileData.city}}</p>
                </div>
              </div>
          </div>
    
          <div class="card" style="margin: 20px 20px;">
              <div class="row" style="margin: 10px 10px 0px;">
                  <i style="background-color: #34b7f1;color: white;font-size: 15px !important;padding: 8px;height: 30px;width: 30px !important;" class="fa fa-comment"></i>
                  <h5 style="margin: auto 20px">ABOUT FAMILY</h5>
              </div>
              <div class="row" style="margin: 10px 20px" *ngIf="familyProfileData">
                  <p style="width: -webkit-fill-available;">{{familyProfileData.about}}</p>
              </div>
          </div>
    
          <div class="card" style="margin: 20px 20px;">
              <div class="row" style="margin: 10px 10px 0px;">
                  <i style="background-color: #34b7f1;color: white;font-size: 15px !important;padding: 8px;height: 30px;width: 30px !important;" class="fa fa-graduation-cap"></i>
                  <h5 style="margin: auto 20px">FAMILY DETAILS</h5>
                  <i (click)="openFamilyDialog()"  style="background-color: #34b7f1;color: white;font-size: 15px !important;padding: 8px;height: 30px;width: 30px !important;" class="fa fa-pencil ml-auto"></i>
              </div>
              <div class="row" style="margin: 10px 10px;" *ngIf="familyProfileData">
                  <div class="col-12" style="margin: 10px 10px 0px;">
                    <h6 style="display: inline-block">Father's Occupation : </h6>
                    <p style="font-size: 14px;display: inline-block;margin-left: 10px">{{familyProfileData.occupation}}</p>
                  </div>
                  <hr style="margin: 0px 10px 10px;width: 100%;">
                  <div class="col-12" style="margin: 10px 10px 0px;">
                      <h6 style="display: inline-block">Mother's Occupation : </h6>
                      <p style="font-size: 14px;display: inline-block;margin-left: 10px">{{familyProfileData.occupation_mother}}</p>
                    </div>
                    <hr style="margin: 0px 10px 10px;width: 100%">
                    <div class="col-12" style="margin: 10px 10px 0px;">
                        <h6 style="display: inline-block">Father Status : </h6>
                        <p style="font-size: 14px;display: inline-block;margin-left: 10px">{{familyProfileData.father_status}}</p>
                      </div>
                      <hr style="margin: 0px 10px 10px;width: 100%">
                      <div class="col-12" style="margin: 10px 10px 0px;">
                        <h6 style="display: inline-block">Mother Status : </h6>
                        <p style="font-size: 14px;display: inline-block;margin-left: 10px">{{familyProfileData.mother_status}}</p>
                      </div>
                      <hr style="margin: 0px 10px 10px;width: 100%">
                      <div class="col-12" style="margin: 10px 10px 0px;">
                          <h6 style="display: inline-block">Family Income : </h6>
                          <p style="font-size: 14px;display: inline-block;margin-left: 10px" [innerText]="getIncome(familyProfileData.family_income)">LPA</p>
                        </div>
                        <hr style="margin: 0px 10px 10px;width: 100%">
                        <div class="col-12" style="margin: 10px 10px 0px;">
                            <h6 style="display: inline-block">Family Based In : </h6>
                            <p style="font-size: 14px;display: inline-block;margin-left: 10px">{{familyProfileData.city}}</p>
                          </div>
                          <hr style="margin: 0px 10px 10px;width: 100%">
                          <div class="col-12" style="margin: 10px 10px 0px;">
                              <h6 style="display: inline-block">Mother Tongue : </h6>
                              <p style="font-size: 14px;display: inline-block;margin-left: 10px" [innerHtml]="getMotherTongue(familyProfileData.mother_tongue)" ></p>
                            </div>
                            <hr style="margin: 0px 10px 10px;width: 100%">
                            <div class="col-12" style="margin: 10px 10px 0px;">
                                <h6 style="display: inline-block">Family Type : </h6>
                                <p style="font-size: 14px;display: inline-block;margin-left: 10px">{{familyProfileData.family_type}}</p>
                              </div>
                              <hr style="margin: 0px 10px 10px;width: 100%">
                              <div class="col-12" style="margin: 10px 10px 0px;">
                                  <h6 style="display: inline-block">Sisters Married : </h6>
                                  <p style="font-size: 14px;display: inline-block;margin-left: 10px">{{familyProfileData.married_daughters}}</p>
                                </div>
                                <hr style="margin: 0px 10px 10px;width: 100%">
                                <div class="col-12" style="margin: 10px 10px 0px;">
                                    <h6 style="display: inline-block">Brothers Married : </h6>
                                    <p style="font-size: 14px;display: inline-block;margin-left: 10px">{{familyProfileData.married_sons}}</p>
                                  </div>
                                  <hr style="margin: 0px 10px 10px;width: 100%">
                                  <div class="col-12" style="margin: 10px 10px 0px;">
                                      <h6 style="display: inline-block">Sisters Unmarried : </h6>
                                      <p style="font-size: 14px;display: inline-block;margin-left: 10px">{{familyProfileData.unmarried_daughters}}</p>
                                    </div>
                                    <hr style="margin: 0px 10px 10px;width: 100%">
                                    <div class="col-12" style="margin: 10px 10px 0px;">
                                        <h6 style="display: inline-block">Brothers Unmarried : </h6>
                                        <p style="font-size: 14px;display: inline-block;margin-left: 10px">{{familyProfileData.unmarried_sons}}</p>
                                      </div>
                                      <hr style="margin: 0px 10px 10px;width: 100%">
                                      <div class="col-12" style="margin: 10px 10px 0px;">
                                          <h6 style="display: inline-block">Address : </h6>
                                          <p style="font-size: 14px;display: inline-block;margin-left: 10px">{{familyProfileData.locality}}</p>
                                        </div>
                                        <hr style="margin: 0px 10px 10px;width: 100%">
                                        <div class="col-12" style="margin: 10px 10px;">
                                            <h6 style="display: inline-block">House Type : </h6>
                                            <p style="font-size: 14px;display: inline-block;margin-left: 10px">{{familyProfileData.house_type}}</p>
                                          </div>
                </div>
          </div>
        
              <div class="card" style="margin: 20px 20px;">
                  <div class="row" style="margin: 10px 10px 0px;">
                      <i style="background-color: #34b7f1;color: white;font-size: 15px !important;padding: 8px;height: 30px;width: 30px !important;" class="fa fa-graduation-cap"></i>
                      <h5 style="margin: auto 20px">PREFERENCES</h5>
                      <i (click)="openPreferenceDialog()" style="background-color: #34b7f1;color: white;font-size: 15px !important;padding: 8px;height: 30px;width: 30px !important;" class="fa fa-pencil ml-auto"></i>
                  </div>
                  <div class="row" style="margin: 10px 10px" *ngIf="preferenceProfileData">
                      <div class="col-12" style="margin: 10px 10px 0px;">
                        <h6 style="display: inline-block">Age Min: </h6>
                        <p style="font-size: 14px;display: inline-block;margin-left: 10px">{{preferenceProfileData.age_min}}</p>
                      </div>
                      <hr style="margin: 0px 10px 10px;width: 100%">
                      <div class="col-12" style="margin: 10px 10px 0px;">
                          <h6 style="display: inline-block">Age Max : </h6>
                          <p style="font-size: 14px;display: inline-block;margin-left: 10px">{{preferenceProfileData.age_max}}</p>
                        </div>
                        <hr style="margin: 0px 10px 10px;width: 100%">
                        <div class="col-12" style="margin: 10px 10px 0px;">
                            <h6 style="display: inline-block">Height Min : </h6>
                            <p style="font-size: 14px;display: inline-block;margin-left: 10px">{{getHeight(preferenceProfileData.height_min)}}</p>
                          </div>
                          <hr style="margin: 0px 10px 10px;width: 100%">
                          <div class="col-12" style="margin: 10px 10px 0px;">
                            <h6 style="display: inline-block">Height Max : </h6>
                            <p style="font-size: 14px;display: inline-block;margin-left: 10px">{{getHeight(preferenceProfileData.height_max)}}</p>
                          </div>
                          <hr style="margin: 0px 10px 10px;width: 100%">
    
                          <div class="col-12" style="margin: 10px 10px 0px;" *ngIf="personalProfileData.gender=='Male'">
                            <h6 style="display: inline-block">Income Min : </h6>
                            <p style="font-size: 14px;display: inline-block;margin-left: 10px" [innerText]="getIncome(preferenceProfileData.income_min)"> LPA</p>
                          </div>
                          <hr style="margin: 0px 10px 10px;width: 100%" *ngIf="personalProfileData.gender=='Male'">
                          <div class="col-12" style="margin: 10px 10px 0px;" *ngIf="personalProfileData.gender=='Female'">
                            <h6 style="display: inline-block">Income Max : </h6>
                            <p style="font-size: 14px;display: inline-block;margin-left: 10px" [innerText]="getIncome(preferenceProfileData.income_max)"> LPA</p>
                          </div>
                          <hr style="margin: 0px 10px 10px;width: 100%" *ngIf="personalProfileData.gender=='Female'">
                          <div class="col-12" style="margin: 10px 10px 0px;">
                            <h6 style="display: inline-block">Marital Status : </h6>
                            <p style="font-size: 14px;display: inline-block;margin-left: 10px">{{personalProfileData.marital_status}}</p>
                          </div>
                          <hr style="margin: 0px 10px 10px;width: 100%">
    
                          <div class="col-12" style="margin: 10px 10px 0px;">
                              <h6 style="display: inline-block">Caste : </h6>
                              <p style="font-size: 14px;display: inline-block;margin-left: 10px">{{preferenceProfileData.caste}}</p>
                            </div>
                            <hr style="margin: 0px 10px 10px;width: 100%">
                            <div class="col-12" style="margin: 10px 10px 0px;">
                                <h6 style="display: inline-block">Manglik : </h6>
                                <p style="font-size: 14px;display: inline-block;margin-left: 10px">{{preferenceProfileData.manglik}}</p>
                              </div>
                              <hr style="margin: 0px 10px 10px;width: 100%">
                              <div class="col-12" style="margin: 10px 10px 0px;">
                                  <h6 style="display: inline-block">Mother Tongue : </h6>
                                  <p style="font-size: 14px;display: inline-block;margin-left: 10px" [innerHtml]="getMotherTongue(preferenceProfileData.mother_tongue)"></p>
                                </div>
                                <hr style="margin: 0px 10px 10px;width: 100%">
                                <div class="col-12" style="margin: 10px 10px 0px;">
                                    <h6 style="display: inline-block">Food Preferences : </h6>
                                    <p style="font-size: 14px;display: inline-block;margin-left: 10px">{{preferenceProfileData.food_choice}}</p>
                                  </div>
                                  <hr style="margin: 0px 10px 10px;width: 100%">
                                  <div class="col-12" style="margin: 10px 10px 0px;">
                                      <h6 style="display: inline-block" *ngIf="personalProfileData.gender == 'Male'">Working Status: </h6>
                                      <p style="font-size: 14px;display: inline-block;margin-left: 10px" *ngIf="personalProfileData.gender == 'Male'">{{preferenceProfileData.working}}</p>
                                      <h6 style="display: inline-block" *ngIf="personalProfileData.gender == 'Female'">Occupation: </h6>
                                      <p style="font-size: 14px;display: inline-block;margin-left: 10px" *ngIf="personalProfileData.gender == 'Female'">{{preferenceProfileData.occupation}}</p>
                                    </div>
                                    <hr style="margin: 0px 10px 10px;width: 100%">
                                    <div class="col-12" style="margin: 10px 10px 0px;">
                                      <h6 style="display: inline-block">Description: </h6>
                                      <p style="font-size: 14px;display: inline-block;margin-left: 10px">{{preferenceProfileData.description}}</p>
                                    </div>
                    </div>
              </div>
    </main>