
  <ngx-notification></ngx-notification><!-- Notifications -->
  <ngx-spinner></ngx-spinner>
  <router-outlet (activate)="changeOfRoutes()"></router-outlet>
  <div class="footer" *ngIf="footer">
      <section id="footer">
          <div class="row">
              <div class="col-md-6 footerCol">
                  <div class="row">
                          <div class="col-4  footerCol ">
                                  <h4 class="footerHeadings">
                                    COMPANY
                                  </h4>
                                  <ul class="navbar-nav">
                                    <li class="nav-item">
                                      <a href="https://hansmatrimony.com/blog/?ngsw-bypass=true" class="nav-link footerLink">
                                      Blog
                                    </a>
                                    </li>
                                      <li class="nav-item">
                                          <a href="https://jobkitten.com/apply/hans-matrimony" class="nav-link footerLink">
                                          Career
                                        </a>
                                        </li>
                                        <li class="nav-item">
                                          <a href="" class="nav-link footerLink">
                                          Elite Membership
                                        </a>
                                        </li>
                                  </ul>
                                </div>

                                <div class="col-4 footerCol ">
                                      <h4 class="footerHeadings" >
                                        SUPPORT
                                      </h4>
                                      <ul class="navbar-nav">
                                        <li class="nav-item">
                                          <a href="" class="nav-link footerLink">
                                          What's new
                                        </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="" class="nav-link footerLink">
                                            FAQ's
                                          </a>
                                          </li>
                                      </ul>
                                    </div>

                                    <div class="col-4 footerCol ">
                                          <h4 class="footerHeadings" >
                                            POLICIES
                                          </h4>
                                          <ul class="navbar-nav">
                                            <li class="nav-item">
                                              <a [routerLink]="['/termsCondition']" routerLinkActive="router-link-active"  class="nav-link footerLink">
                                              Terms & Conditions
                                            </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="" class="nav-link footerLink">
                                                Privacy
                                              </a>
                                            </li>
                                          </ul>
                                        </div>
                  </div>
              </div>
            
          <div class="col-md-6 bottomCol">
              <div class="row">
                      <div class="col-2 spaceCol">
                          </div>
                            <div class="col-md-5 col-xs-12 footerContact">
                                <h5 style="color: white; font-size: 16px; width: 100%;font-weight: bold "> We are at: <p class="infoText" >Bali Nagar Head Office</p> <br></h5> 
                                <h5 style="color: white; font-size: 16px;font-weight: bold" > Get in touch: <a href="tel:9999341348"><p class="infoText" >+919999341348</p></a> <br></h5> 
                              </div>
                              <div class="col-md-5 col-xs-12 footerLast">
                                  <h5 style="color: white; font-size: 16px; display: inline-block;position: relative; text-align: center;"> We're social,check us out!</h5> <br>
                                  <div class="footerIcons">
                                  <a href="https://www.facebook.com/HansMatrimony/">
                                  <i class="fa fa-facebook iconFooter"></i>
                                  </a>
                                  <a href="https://twitter.com/HansMatrimony">
                                    <i class="fa fa-twitter iconFooter"></i>
                                    </a>
                                    <a href="https://www.instagram.com/hansmatrimony/">
                                      <i class="fa fa-instagram iconFooter"></i>
                                      </a>
                                      <a href="https://www.linkedin.com/company/hansmatrimony">
                                        <i class="fa fa-linkedin iconFooter"></i>
                                        </a>
                                        <a href="https://www.tiktok.com/@hansmatrimony?lang=en">
                                          <img style="width: 20px" src="../assets/tiktok.png">
                                          </a>
                                </div>
                                </div>
              </div>
          </div> 
          </div>
          </section>