<main matDialogContent>

    <div id="cancel">
        <img (click)="closeDialog()" style="width: 40px;margin: 5px 5px 0px 0px;" src="../../../assets/cancelblue.svg" alt="cancel">
    </div>

<ngb-carousel>
    <ng-template ngbSlide *ngFor="let i of getImagesCount(item.profile.carousel); let index = index" >
            <img mat-card-image id="profileImage" 
            [src]="getProfilePhotoLarge(item.profile.photo,item.profile.carousel,item.profile.gender,i)" 
            alt="item.profile.name">
    </ng-template>
  </ngb-carousel>

          <!-- panel details  -->

          <div>

            <section style="padding: 0px 0px;position: relative;color: black;">

        
                <div  style="margin-top: 20px;" *ngIf="item.profile.facebook">
                    <div class="row" id="verified">
                        <div class="col-2">
                            <img style="width: 40px;" src="../../../assets/verifiedwhite.svg" alt="verified at"> 
                        </div>
                        <div class="col-10">
                                <span style="font-size: 16px;font-weight: bold;">वेरिफ़िएड एट:</span><br>
                                <span>{{item.profile.facebook}}</span>
                        </div>
                    </div>
                </div>
        
                <div style="margin-top: 20px;" *ngIf="(item.family && item.family.relation) || item.profile.relation">
                    <div class="row" id="controlledBy">
                        <div class="col-2">
                            <img style="width: 40px;" src="../../../assets/controlledby.svg" alt="controlled by"> 
                        </div>
                        <div class="col-10" style="align-self: center;">
                                <span style="font-size: 16px;font-weight: bold;align-self: center;
                                    text-shadow: 1px 1px darkgrey;">प्रोफाइल मैनेज्ड बय: {{item.family ? item.family.relation : item.profile.relation}}</span>
                        </div>
                    </div>
                </div>

                 <!-- // buttons -->
        
                 <div id="answerButtons">
                    <div class="t-c blur">
                        <button 
                        (click)="profileReAnswer(item,'NO')" id="setRejectBtn" mat-fab>
                          <img class="buttonImage" src="../../../assets/closewhite.svg" alt="नापसंद है">
                        </button><br>
                        <span style="color: #C8C8C8;font-weight: bold;font-size: 18px;">
                            नापसंद है
                        </span>
                    </div>
                    <div class="t-c">
                        <button 
                        (click)="profileReAnswer(item,'YES')"   id="setCallBtn" mat-fab
                          aria-label="Example icon-button with a heart icon" >
                          <img class="buttonImage" src="../../../assets/phone_white.svg" alt="कांटेक्ट करें">
                        </button><br>
                        <span style="color: #58D1FD;font-weight: bold;font-size: 18px;">
                            कांटेक्ट करें
                        </span>
                    </div>
                    <div class="t-c">
                        <button 
                        (click)="profileReAnswer(item,'SHORTLIST')" id="setShortlistBtn" mat-fab
                          aria-label="Example icon-button with a heart icon" >
                          <img class="buttonImage" src="../../../assets/heartwhite.svg" alt="पसंद है">
                        </button><br>
                        <span style="color: #D313AE;font-weight: bold;font-size: 18px;">
                            पसंद है
                        </span>
                    </div>
                        
                </div>
        
                <div id="aboutSection" *ngIf="item.profile.about && item.profile.about.length > 6">
                    <p>
                        <span style="color: #D313AE;font-size: 30px;font-weight: bold;">हेलो,</span> Myself {{toTitleCase(item.profile.name)}}, {{toTitleCase(item.profile.about)}}
                    </p>
                </div>
        
        <!-- // personal details  -->
        
                <div id="personalSection">
                    <div style="display: flex;justify-content: space-between;">
                        <span style="color: #0C9BF2;font-size: 18px; font-weight: bold;align-self: center;">
                            पर्सनल डिटेल्स
                        </span>
                        <div style="background-color: #0C9BF2;border-radius: 50%;width: 80px; height: 80px; text-align: center;">
                            <img width="40px" style="margin-top: 20px;" src="../../../assets/userwhite.svg" alt="personal details">
                        </div>
                    </div>
                    <div class="row field">
                        <div class="col-6">
                            <img width="30px" src="../../../assets/weight.svg" alt="weight">
                            <span class="title">वेट</span>
                        </div>
                        <div class="col-6">
                            {{item.profile.weight}} Kg
                        </div>
                    </div>
        
                    <div class="row field">
                        <div class="col-6">
                            <img width="30px" src="../../../assets/heart.svg" alt="marital status">
                            <span class="title">मैरिटल स्टेटस</span>
                        </div>
                        <div class="col-6">
                            {{item.profile.marital_status}}
                        </div>
                    </div>
        
                    <div class="row field">
                        <div class="col-6">
                            <img width="30px" src="../../../assets/cutlery.svg" alt="marital status">
                            <span class="title">फ़ूड चॉइस</span>
                        </div>
                        <div class="col-6">
                            {{item.profile.food_choice}}
                        </div>
                    </div>
        
                    <div class="row field">
                        <div class="col-6">
                            <img width="30px" src="../../../assets/tarot.svg" alt="marital status">
                            <span class="title">रिलिजन</span>
                        </div>
                        <div class="col-6">
                            {{item.family ? item.family.religion : item.profile.religion}},{{item.family ? item.family.caste : item.profile.caste}}
                        </div>
                    </div>
        
                    <div class="row field">
                        <div class="col-6">
                            <img width="30px" src="../../../assets/locationblue.svg" alt="marital status">
                            <span class="title">वर्किंग सिटी</span>
                        </div>
                        <div class="col-6">
                            {{item.profile.working_city}}
                        </div>
                    </div>
        
                </div>
        
                <!-- // career details  -->
        
                <div id="careerSection">
                    <div style="display: flex;justify-content: space-between;">
                        <span style="color: #CA58FD;font-size: 18px; font-weight: bold;align-self: center;">
                            करियर डिटेल्स
                        </span>
                        <div style="background-color: #CA58FD;border-radius: 50%;width: 80px; height: 80px; text-align: center;">
                            <img width="40px" style="margin-top: 20px;" src="../../../assets/suitcasewhite.svg" alt="career details">
                        </div>
                    </div>
                    <div class="row field">
                        <div class="col-6">
                            <img width="30px" src="../../../assets/suitcase.svg" alt="occupation">
                            <span class="title">ऑक्यूपेशन</span>
                        </div>
                        <div class="col-6">
                            {{item.profile.occupation}}
                        </div>
                    </div>
        
                    <div class="row field">
                        <div class="col-6">
                            <img width="30px" src="../../../assets/graduation.svg" alt="designation">
                            <span class="title">देसिग्नेशन</span>
                        </div>
                        <div class="col-6">
                            {{item.profile.profession}}
                        </div>
                    </div>
        
                    <div class="row field">
                        <div class="col-6">
                            <img width="30px" src="../../../assets/rupee.svg" alt="income">
                            <span class="title">आय</span>
                        </div>
                        <div class="col-6">
                            {{setIncome(item.profile.monthly_income)}} LPA
                        </div>
                    </div>
        
                    <div class="row field">
                        <div class="col-6">
                            <img width="30px" src="../../../assets/graduation.svg" alt="graduation">
                            <span class="title">ग्रेजुएशन</span>
                        </div>
                        <div class="col-6">
                            {{item.family ? item.profile.degree : item.profile.ugdeg}}
                        </div>
                    </div>
        
                    <div class="row field">
                        <div class="col-6">
                            <img width="30px" src="../../../assets/house.svg" alt="college">
                            <span class="title">कॉलेज</span>
                        </div>
                        <div class="col-6">
                            {{toTitleCase(item.family ? item.profile.college : item.profile.ugcol)}}
                        </div>
                    </div>
        
                </div>
        
                <!-- //horoscope details  -->
        
                <div id="horoscopeSection">
                    <div style="display: flex;justify-content: space-between;">
                        <span style="color: #070973;font-size: 18px; font-weight: bold;align-self: center;">
                            होरोस्कोप
                        </span>
                        <div style="background-color: #070973;border-radius: 50%;width: 80px; height: 80px; text-align: center;">
                            <img width="40px" style="margin-top: 20px;" src="../../../assets/sunwhite.svg" alt="horoscope details">
                        </div>
                    </div>
                    <div class="row field">
                        <div class="col-6">
                            <img width="30px" src="../../../assets/birthday.svg" alt="birth date">
                            <span class="title">D.O.B</span>
                        </div>
                        <div class="col-6">
                            {{item.profile.birth_date}}
                        </div>
                    </div>
        
                    <div class="row field">
                        <div class="col-6">
                            <img width="30px" src="../../../assets/clock.svg" alt="birth time">
                            <span class="title">बर्थ टाइम</span>
                        </div>
                        <div class="col-6">
                            {{item.profile.birth_time}}
                        </div>
                    </div>
        
                    <div class="row field">
                        <div class="col-6">
                            <img width="30px" src="../../../assets/locationblue.svg" alt="birth place">
                            <span class="title">बर्थ प्लेस</span>
                        </div>
                        <div class="col-6">
                            {{item.profile.birth_place}}
                        </div>
                    </div>
        
                    <div class="row field">
                        <div class="col-6">
                            <img width="30px" src="../../../assets/tarot.svg" alt="manglik">
                            <span class="title">मांगलिक</span>
                        </div>
                        <div class="col-6">
                            {{item.profile.manglik}}
                        </div>
                    </div>
                </div>
        
                <!-- //family details  -->
        
                <div id="familySection">
                    <div style="display: flex;justify-content: space-between;">
                        <span style="color: #58D1FD;font-size: 18px; font-weight: bold;align-self: center;">
                            फॅमिली डिटेल्स
                        </span>
                        <div style="background-color: #58D1FD;border-radius: 50%;width: 80px; height: 80px; text-align: center;">
                            <img width="40px" style="margin-top: 20px;" src="../../../assets/familyblue.svg" alt="family details">
                        </div>
                    </div>
                    <div class="row field">
                        <div class="col-6">
                            <img width="30px" src="../../../assets/sisters.svg" alt="sister">
                            <span class="title">सिस्टर्स</span>
                        </div>
                        <div class="col-6">
                            {{setMarriageSisters(item.family ? item.family.unmarried_daughters : item.profile.unmarried_daughter
                                ,item.family ? item.family.married_daughters : item.profile.married_daughter)}}
                        </div>
                    </div>
        
                    <div class="row field">
                        <div class="col-6">
                            <img width="30px" src="../../../assets/brothers.svg" alt="brothers">
                            <span class="title">ब्रोठेर्स</span>
                        </div>
                        <div class="col-6">
                            {{setMarriageBrothers(  item.family ? item.family.unmarried_sons : item.profile.unmarried_sons
                                , item.family ? item.family.married_sons : item.profile.married_sons)}}
                        </div>
                    </div>
        
                    <div class="row field">
                        <div class="col-6">
                            <img width="30px" src="../../../assets/parents.svg" alt="mother">
                            <span class="title">मदर</span>
                        </div>
                        <div class="col-6">
                            {{LifeStatus(item.family ? item.family.mother_status : item.profile.mother_status
                                ,item.family ? item.family.occupation_mother : item.profile.mother_occupation)}}
                        </div>
                    </div>
        
                    <div class="row field">
                        <div class="col-6">
                            <img width="30px" src="../../../assets/parents.svg" alt="father">
                            <span class="title">फादर</span>
                        </div>
                        <div class="col-6">
                            {{LifeStatus(item.family ? item.family.father_status : item.profile.father_status
                                ,item.family ? item.family.occupation : item.profile.father_occupation)}}
                        </div>
                    </div>
        
                    <div class="row field">
                        <div class="col-6">
                            <img width="30px" src="../../../assets/meditation.svg" alt="gotra">
                            <span class="title">गोत्र</span>
                        </div>
                        <div class="col-6">
                            {{item.family ? item.family.gotra : item.profile.gotra}}
                        </div>
                    </div>
        
                    <div class="row field">
                        <div class="col-6">
                            <img width="30px" src="../../../assets/family.svg" alt="family type">
                            <span class="title">फॅमिली टाइप</span>
                        </div>
                        <div class="col-6">
                            {{item.family ? item.family.family_type : item.profile.family_type}}
                        </div>
                    </div>
        
                    <div class="row field">
                        <div class="col-6">
                            <img width="30px" src="../../../assets/house.svg" alt="house type">
                            <span class="title">हाउस टाइप</span>
                        </div>
                        <div class="col-6">
                            {{item.family ? item.family.house_type : setHouseType(item.profile.house)}}
                        </div>
                    </div>
        
                    <div class="row field">
                        <div class="col-6">
                            <img width="30px" src="../../../assets/moneybag.svg" alt="house type">
                            <span class="title">फॅमिली इनकम</span>
                        </div>
                        <div class="col-6">
                            {{setIncome(item.family ? item.family.family_income : item.profile.family_income)}} LPA
                        </div>
                    </div>
                </div>
        
            </section>

        </div>
    </main>