<mat-toolbar class="toolBar">
    <div style="display: flex;
    flex-direction: row;
    align-items: center;">
        <button mat-icon-button (click)="goBack()" class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <span class="titleText" style="text-transform: capitalize;">{{title}}</span>
    </div>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>call</mat-icon>
        <span class="titleText">{{this.itemService.getCredits()}}</span>
    </button>
</mat-toolbar>

<main id="historyMain" class="ht-full" *ngIf="item">

    <div id="profileImageDiv">
        <ngb-carousel>
            <ng-template ngbSlide *ngFor="let i of getImagesCount(item.profile.carousel); let index = index">
                <img id="profilePic"
                    (click)="openImageModal(item.profile.carousel,item.profile.photo,item.profile.name,index)"
                    (error)="onLoadProfileError(item.profile.gender,index)"
                    [src]="getProfilePhotoLarge(item.profile.photo,item.profile.carousel,item.profile.gender,i)"
                    alt="profile image">
            </ng-template>
        </ngb-carousel>

        <!-- // image info  -->

        <div id="imageContent">
            <div class="full-width">
                <div style="width: 80%;">
                    <span style="font-weight: bold;font-size: 18px;">
                        {{setName(toTitleCase(item.profile.name))}}
                    </span><br>
                    <span style="font-size: 14px;">
                        {{item.family ? item.family.religion : item.profile.religion}}
                        {{item.family ? item.family.religion ? '|' : '' : item.profile.religion ? '|' : ''}}
                        {{item.family ? item.family.caste : item.profile.caste}}
                    </span><br>
                    <span style="font-size: 14px;">
                        {{item.profile.working_city ? item.profile.working_city === 'na' || item.profile.working_city === 'NA' || item.profile.working_city === 'Na' ? '' : item.profile.working_city : ''}}
                        {{item.profile.working_city ? item.profile.working_city === 'na' || item.profile.working_city === 'NA' || item.profile.working_city === 'Na' ? '' : '|' : ''}}
                        {{setHeight(item.profile.height)}}
                    </span> <br>
                    <span style="font-size: 14px;">
                        {{setIncome(item.profile.monthly_income)}} Lakh per year
                    </span>
                </div>
                <div style="position: absolute;
       top: -10px;right: 10px;
       border-radius: 10px;
       padding: 0px 10px;
       background-color: #48CDF7;">{{setAge(item.profile.birth_date)}}
                </div>

                <div style="position: absolute;
      top: 25px;right: 25px;">
                    <img width="30px" src="../../../assets/new icons/shield.svg" alt="verified profile">
                </div>
            </div>

            <div class="down-arrow" (click)="scrollDown()" style="background-color: #50ed9d;
      float: right;display: flex;
      align-items: center;
      position: fixed;
      border-radius: 100px;
      z-index: 999999999;
      margin-top: 65vh;
      box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
      justify-content: center;">
                <img width="40px" src="../../../assets/keyboard_arrow_down-white-18dp.svg" alt="arrow">
            </div>
        </div>
    </div>


    <section id="content" style="
margin: -100px 10px;
position: relative;
border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  padding: 0px 10px 100px;
  background-color: white;
  overflow-y: auto;
  box-shadow: 1px 1px 5px #9ADCF0, -1px -1px 5px #9ADCF0;">

        <!-- // buttons -->

        <div id="answerButtons">
            <div class="t-c" *ngIf="(type !== 'contacted' || type === 'discover') && !this.item.profileChecked" style="margin-top: 10px;">
                <button (click)="profileReAnswer(item,'YES')" class="setButtons" mat-fab style="color: green;
            background: #58D1FD;" aria-label="Example icon-button with a heart icon">
                    <img class="buttonImage animateButtonImage" src="../../../assets/phone_white.svg"
                        alt="कांटेक्ट करें">
                </button><br>
                <!-- <span style="color: #58D1FD;font-weight: 600;font-size: 18px;">
                {{languageService.profileLang.contact}}
            </span> -->
            </div>
            <!-- <div class="t-c" *ngIf="this.item.profileChecked">
                <button class="reqButton"> Already Requested </button>
            </div> -->

            <div class="t-c" *ngIf="type === 'contacted' && item.family" style="margin-top: 10px;">
                <button (click)="call()" class="setButtons" mat-fab style="color: green;
            background: #58D1FD;" aria-label="Example icon-button with a heart icon">
                    <img class="buttonImage animateButtonImage" src="../../../assets/phone_white.svg"
                        alt="कांटेक्ट करें">
                </button><br>
                <!-- <span style="color: #58D1FD;font-weight: 600;font-size: 18px;">
                {{languageService.profileLang.contact}}
            </span> -->
            </div>

            <div class="t-c"
                *ngIf="type !== 'interestShown' && type !== 'interestReceived' && type !== 'contacted' && type !== 'discover'">
                <button (click)="profileReAnswer(item,'SHORTLIST')" class="setButtonsCenter" mat-fab style="color: red;
            background: #D313AE;
            margin-bottom: 10px;" aria-label="Example icon-button with a heart icon">
                    <img class="buttonImageCenter animateButtonImageCenter" src="../../../assets/heartwhite.svg"
                        alt="पसंद है">
                </button><br>
                <!-- <span style="color: #D313AE;font-weight: 600;font-size: 18px;">
                {{languageService.profileLang.shortlist}}
            </span> -->
            </div>


            <div class="t-c blur" *ngIf="type !== 'rejected' && type !== 'interestReceived' && type !== 'contacted' && type !== 'discover'"
                style="margin-top: 10px;">
                <button (click)="profileReAnswer(item,'NO')" class="setButtons" mat-fab style="color: grey;
            background: #C8C8C8;">
                    <img class="buttonImage" src="../../../assets/closewhite.svg" alt="नापसंद है">
                </button><br>
                <!-- <span style="color: #737373;font-weight: 600;font-size: 18px;">
                {{languageService.profileLang.reject}}
            </span> -->
            </div>

            <div class="t-c blur" *ngIf="type === 'contacted' && personalizedUser" style="margin-top: 10px;">
                <button mat-raised-button class="btn" (click)="openPersonalizedMessageDialog(item)" class="setButtons"
                    style="background-color: #58D1FD;">
                    <img width="30px" src="../../../assets/comment.svg" alt="contact profile">
                </button><br>
                <!-- <span style="color: #737373;font-weight: 600;font-size: 18px;">
                {{languageService.profileLang.reject}}
            </span> -->
            </div>



        </div>

        <div class="row field">
            <div class="col-6">
                <img class="titleImage" src="../../../assets/verifiedwhite.svg" alt="verified at">
                <span class="title">{{languageService.profileLang.verifiedAt}}</span>
            </div>
            <div class="col-6">
                <span class="title">
                    {{item.family ? item.profile.facebook ? item.profile.facebook : 'Hans Matrimony Office' : 'Online'}}
                </span>
            </div>
        </div>

        <div class="row field">
            <div class="col-6">
                <img class="titleImage" src="../../../assets/controlledby.svg" alt="managedBy">
                <span class="title">
                    {{languageService.profileLang.managedBy}}
                </span>
            </div>
            <div class="col-6">
                <span class="title">
                    {{item.family ? item.family.relation ? item.family.relation : item.profile.gender == 'male' ? 'Mother' : 'Father'  : item.profile.gender == 'male' ? 'Mother' : 'Father' }}
                </span>
            </div>
        </div>

        <div id="aboutSection">
            <u class="titleHeading">
                {{languageService.profileLang.about}}
            </u>
            <p class="title" style="margin-left:0px">
                <span
                    style="color: #4A5D6A;font-weight: bold;font-family: sans-serif;text-transform: capitalize;">{{languageService.profileLang.hello}},</span>
                {{(!item.profile.about || item.profile.about == 'Na' || item.profile.about =='na') ? setAbout() : item.profile.about}}
            </p>
        </div>

        <!-- // personal details  -->

        <div id="personalSection">
            <div style="display: flex;
        justify-content: space-between;">
                <span class="titleHeading">
                    <u>
                        {{languageService.profileLang.personalizedDetails}}
                    </u>
                </span>
            </div>

            <div class="row field" id="visibleAfter" [ngClass]="{'contactShown': type === 'contacted'}">
                <div class="col-6">
                    <img class="titleImage" src="../../../assets/new icons/call-dark.svg" alt="mobile">
                    <span
                        class="title">
                        {{getPhoneNumbers()}}
                    </span>
                     
                </div>
                <div class="col-6">
                    <img class="titleImage" src="../../../assets/new icons/location-dark.svg" alt="location">
                    <span class="title">
                        {{item.family ? item.family.locality ? item.family.locality : 'Visible After Yes' :
                     item.profile.locality ? item.profile.locality : 'Visible After Yes'}}
                    </span>
                </div>
            </div>

            <div class="row field">
                <div class="col-6">
                    <img class="titleImage" src="../../../assets/new icons/Religion.svg" alt="caste">
                    <span class="title">
                        {{item.family ? item.family.religion : item.profile.religion}}
                        {{item.family ? item.family.religion ? '|' : '' : item.profile.religion ? '|' : ''}}
                        {{item.family ? item.family.caste : item.profile.caste}}
                    </span>
                </div>
                <div class="col-6">
                    <img class="titleImage" src="../../../assets/new icons/Marital Status.svg" alt="marital status">
                    <span class="title">
                        {{item.profile.marital_status}}
                    </span>
                </div>
            </div>


            <div class="row field">
                <div class="col-6">
                    <img class="titleImage" src="../../../assets/new icons/Food Choice.svg" alt="food choice">
                    <span class="title">
                        {{item.profile.food_choice}}
                    </span>
                </div>
                <div class="col-6">
                    <img class="titleImage" src="../../../assets/new icons/Weight.svg" alt="weight">
                    <span class="title">
                        {{item.profile.weight}} Kg
                    </span>
                </div>
            </div>

            <div class="row field" *ngIf="item.profile.marital_status === 'Divorcee'">
                <div class="col-6">
                    <img class="titleImage" src="../../../../assets/birthplace.svg"
                        alt="marital status">
                    <span class="title">{{item.profile.children}}</span>
                </div>
            </div>


        </div>

        <!-- // career details  -->

        <div id="careerSection">
            <div style="display: flex;
        justify-content: space-between;">
                <span class="titleHeading">
                    <u>
                        {{languageService.profileLang.careerDetails}}
                    </u>
                </span>
            </div>

            <div class="row field">
                <div class="col-6">
                    <img class="titleImage" src="../../../assets/new icons/Occupation.svg" alt="occupation">
                    <span class="title">
                        {{item.profile.occupation}}
                    </span>
                </div>
                <div class="col-6">
                    <img class="titleImage" src="../../../assets/new icons/Designation.svg" alt="designation">
                    <span class="title">
                        {{item.profile.profession}}
                    </span>
                </div>
            </div>

            <div class="row field">
                <div class="col-6">
                    <img class="titleImage" src="../../../assets/new icons/Income - Aaye.svg" alt="income">
                    <span class="title">
                        {{setIncome(item.profile.monthly_income)}} Lakh per year
                    </span>
                </div>
                <div class="col-6">
                    <img class="titleImage" src="../../../assets/new icons/Graduation.svg" alt="education">
                    <span class="title">
                        {{item.family ? item.profile.degree ? item.profile.degree : item.profile.education  : item.profile.ugdeg}}
                    </span>
                </div>
            </div>

            <div class="row field">
                <div class="col-6">
                    <img class="titleImage" src="../../../assets/new icons/Schooling.svg" alt="college">
                    <span class="title">
                        {{toTitleCase(item.family ? item.profile.college : item.profile.ugcol)}}
                    </span>
                </div>
                <div class="col-6">
                    <img class="titleImage" src="../../../assets/new icons/workingCity.svg" alt="working">
                    <span class="title">
                        {{item.profile.working_city}}
                    </span>
                </div>
            </div>

        </div>

        <!-- //horoscope details  -->

        <div id="horoscopeSection">
            <div style="display: flex;justify-content: space-between;">
                <span class="titleHeading">
                    <u>
                        {{languageService.profileLang.horoscopeDetails}}
                    </u>
                </span>
            </div>

            <div class="row field">
                <div class="col-6">
                    <img class="titleImage" src="../../../assets/new icons/DOB.svg" alt="birth date">
                    <span class="title">{{item.profile.birth_date | date}}</span>
                </div>
                <div class="col-6">
                    <img class="titleImage" src="../../../assets/new icons/Birth Time.svg" alt="birth time">
                    <span class="title">
                        {{item.profile.birth_time}}
                    </span>
                </div>
            </div>

            <div class="row field">
                <div class="col-6">
                    <img class="titleImage" src="../../../assets/new icons/workingCity.svg" alt="birth place">
                    <span class="title">
                        {{item.profile.birth_place}}
                    </span>
                </div>
                <div class="col-6">
                    <img class="titleImage" src="../../../assets/new icons/Mangalik.svg" alt="manglik">
                    <span class="title">
                        {{item.profile.manglik}}
                    </span>
                </div>
            </div>


        </div>

        <!-- //family details  -->

        <div id="familySection">
            <div style="display: flex;justify-content: space-between;">
                <span class="titleHeading">
                    <u>
                        {{languageService.profileLang.familyDetails}}
                    </u>
                </span>
            </div>


            <div class="row field">
                <div class="col-6">
                    <img class="titleImage" src="../../../assets/new icons/Sister.svg" alt="Sisters">
                    <span class="title">
                        {{setMarriageSisters(item.family ? item.family.unmarried_daughters : item.profile.unmarried_daughter
                        ,item.family ? item.family.married_daughters : item.profile.married_daughter)}}
                    </span>
                </div>
                <div class="col-6">
                    <img class="titleImage" src="../../../assets/new icons/Brother.svg" alt="Brothers">
                    <span class="title">
                        {{setMarriageBrothers(  item.family ? item.family.unmarried_sons : item.profile.unmarried_sons
                        , item.family ? item.family.married_sons : item.profile.married_sons)}}
                    </span>
                </div>
            </div>

            <div class="row field">
                <div class="col-6">
                    <img class="titleImage" src="../../../assets/new icons/Mother.svg" alt="Mother">
                    <span class="title">
                        {{LifeStatus(item.family ? item.family.mother_status : item.profile.mother_status
                        ,item.family ? item.family.occupation_mother : item.profile.mother_occupation, 'Mother')}}
                    </span>
                </div>
                <div class="col-6">
                    <img class="titleImage" src="../../../assets/new icons/Father.svg" alt="Father">
                    <span class="title">
                        {{LifeStatus(item.family ? item.family.father_status : item.profile.father_status
                        ,item.family ? item.family.occupation : item.profile.father_occupation, 'Father')}}
                    </span>
                </div>
            </div>


            <div class="row field">
                <div class="col-6">
                    <img class="titleImage" src="../../../../assets/new icons/swastika.svg" alt="Gotra">
                    <span class="title">
                        {{item.family ? item.family.gotra : item.profile.gotra}}
                    </span>
                </div>
                <div class="col-6">
                    <img class="titleImage" src="../../../assets/new icons/Family Type.svg" alt="Father Type">
                    <span class="title">
                        {{item.family ? item.family.family_type : item.profile.family_type}}
                    </span>
                </div>
            </div>

            <div class="row field">
                <div class="col-6">
                    <img class="titleImage" src="../../../assets/new icons/familyIn.svg" alt="Family Living In">
                    <span class="title">
                        {{item.family ? item.family.city : item.profile.city}}
                    </span>
                </div>
                <div class="col-6">
                    <img class="titleImage" src="../../../assets/new icons/House Type.svg" alt="House Type">
                    <span class="title">
                        {{item.family ? item.family.house_type : setHouseType(item.profile.house)}}
                    </span>
                </div>
            </div>

            <div class="row field">
                <div class="col-6">
                    <img class="titleImage" src="../../../assets/moneybag.svg" alt="Family Income">
                    <span
                        class="title">{{item.family ? setIncome(item.family.family_income) : setIncome(item.profile.family_income)}}
                        Lakh Per Year</span>
                </div>
            </div>

        </div>
    </section>

    <div>

        <!-- The Modal -->
        <div id="myModal" class="modal">

            <!-- The Close Button -->
            <a id="closeModal">&times;</a>

            <!-- Modal Content (The Image) -->
            <img class="modal-content" id="img01">

            <!-- Modal Caption (Image Text) -->
            <h4 id="caption"></h4>
        </div>

    </div>

</main>