<div class="mainBack">
    <main class="special">
        <div class="text-center">
            <span class="topheader">Thank You</span><br>
            <span style="color:white!important; font-size:18px">For Registering With Us</span>
        </div>
        <div class="cardMiddle">
            <div class="circular">
                <img style="width:100%" src="../../../assets/new icons/green_circular_white_tick.svg" alt="heart">
            </div>
            <div style="display:flex;
        flex-direction: column;
        align-items: center;
        justify-content:center" class="text-center">
                <p style="font-size:19px;font-weight:450;margin:auto!important;color:rgb(51, 59, 52)!important;">
                    Contacts have been added to your Account Succesfully!</p>
            </div>
        </div>
        <div style="position: relative;
        height:80px;
        margin-top: 5%;
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content:center;">
            <button class="SpecialCase" style="position:absolute;
            margin:auto;
    height:100%;
    background:#00c2cb!important; 
    /* width:87%!important;  */
    color:rgb(255, 255, 255);
    margin-top:20px;
    border:0px!important;
    border-radius:30px 30px 30px 30px" mat-raised-button (click)="goToChat()">View Profiles Now</button>
        </div>
    </main>
</div>