<main *ngIf="profile">
  
  <div style="padding-top: 30px;padding-bottom: 200px;">
    <div [@listAnimation]="profile.length">

    <mat-accordion *ngIf="profile.length > 0">
      <mat-expansion-panel [disabled]="disableForAWhile()" *ngFor="let item of profile;let i = index" [hideToggle]="true" multi="true"
        [expanded]="panelOpenState === i" (opened)="setPanelOpenState(i)" [id]="setId(i)">
        <mat-expansion-panel-header [collapsedHeight]="'100%'" [expandedHeight]="'100%'">

          <mat-card class="example-card">


            <mat-card-title-group [hidden]="panelOpenState == i">
              <mat-card-title>
                {{toTitleCase(item.profile.name)}}
              </mat-card-title>
              <mat-card-subtitle>
                {{setAge(item.profile.birth_date)}} <b class="partition">|</b> {{setHeight(item.profile.height)}} <b class="partition">|</b> {{item.profile.education}} <b class="partition">|</b> 
                {{item.profile.occupation}} <b class="partition">|</b> {{item.profile.monthly_income}} LPA <b class="partition">|</b> {{item.family ? item.family.caste : item.profile.caste}} <b class="partition">|</b> {{item.family ? item.family.city : item.profile.city}} <br>
                {{toTitleCase(item.profile.about)}} <br>
                <div  style="margin-top: 10px;" *ngIf="type === 'contacted'">
                  <div style="right: 0px;color: white;background: green;display: inline-block;margin-right: 10px;font-size: 16px;padding: 10px;border-radius: 10px;word-break: keep-all">
                    <img style="width: 20px;" src="../../../assets/locationwhite.svg" alt="locality">{{toTitleCase(item.family ? item.family.locality : item.profile.locality)}}
                  </div>
                </div>
              </mat-card-subtitle>
              <img mat-card-lg-image [src]=getProfilePhoto(item,item.profile.photo,item.profile.gender) alt="item.profile.name">
            </mat-card-title-group>


            <mat-card-header [hidden]="panelOpenState!=i">
              <div mat-card-avatar class="avatarImage"></div>
              <mat-card-title>{{toTitleCase(item.profile.name)}}</mat-card-title>
              <mat-card-subtitle>{{toTitleCase(item.profile.about)}}</mat-card-subtitle>
            </mat-card-header>
            
            <ngb-carousel *ngIf="panelOpenState==i">
              <ng-template ngbSlide *ngFor="let i of getImagesCount(item.profile.carousel); let index = index" >
                      <img mat-card-image id="profileImage" [src]="getProfilePhotoLarge(item.profile.photo,item.profile.carousel,item.profile.gender,i)" alt="item.profile.name">
              </ng-template>
            </ngb-carousel>
            <ng-container *ngIf="itemService.getPersonalized()">
              <div class="feedBackTextGreen" *ngIf="item.profile.bNS == '1'">
                <p style="margin-bottom: 0px;">{{item.profile.bEW}}</p>
              </div>
              <div class="feedBackTextRed" *ngIf="item.profile.bNS == '0'">
                <p style="margin-bottom: 0px;">{{item.profile.bEW}}</p>
              </div>
            </ng-container>
            <ng-container *ngIf="panelOpenState === i">
              <mat-card-actions style="margin-bottom: 0px;" align="center">
                <button (click)="call(item.family.mobile)" class="setButtons" mat-raised-button style="color: white;background: green;"
                  aria-label="Example icon-button with a heart icon" *ngIf="type === 'contacted' && itemService.getPersonalized() === false">
                  <mat-icon>call</mat-icon> {{item.family ? item.family.mobile : item.profile.mobile}}
                </button>
                <button (click)="call(item.family.mobile)" class="setButtons" mat-raised-button style="color: white;background: green;"
                  aria-label="Example icon-button with a heart icon" *ngIf="type === 'contacted' && itemService.getPersonalized()" >
                  <mat-icon>call</mat-icon> Matchmaker: {{item.family ? item.family.mobile : item.profile.mobile}}
                </button>
                <button (click)="profileReAnswer(item,item.profile.id,'YES',i)" class="setButtons" mat-fab style="color: green;background: white;"
                  aria-label="Example icon-button with a heart icon" *ngIf="type != 'contacted'">
                  <mat-icon>call</mat-icon>
                </button>
                <button (click)="profileReAnswer(item,item.profile.id,'SHORTLIST',i)" class="setButtons" mat-fab style="color: red;background: white;"
                  aria-label="Example icon-button with a heart icon" *ngIf="type != 'contacted'">
                  <mat-icon>favorite</mat-icon>
                </button>
                <button (click)="profileReAnswer(item,item.profile.id,'NO',i)" class="setButtons" mat-fab style="color: grey;background: white;"
                  aria-label="Example icon-button with a heart icon" *ngIf="type != 'contacted' && type != 'rejected'">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-card-actions>
              <div style="text-align: center; margin-top: 10px;"  *ngIf="type === 'contacted'">
                <div style="text-align: center;color: white;background: green;display: inline-block;margin-right: 10px;font-size: 16px;padding: 10px;border-radius: 10px;word-break: keep-all">
                  <img style="width: 20px;" src="../../../assets/locationwhite.svg" alt="locality"> {{toTitleCase(item.family.locality)}}
                </div>
              </div>
            </ng-container>


            <ng-container *ngIf="panelOpenState != i">
              <mat-card-actions style="margin-bottom: 0px;float: right;margin-right: 5px;" align="center">
                <button (click)="call(item.family.mobile)" class="setButtons" mat-raised-button style="color: white;background: green;"
                  aria-label="Example icon-button with a heart icon" *ngIf="type === 'contacted' && itemService.getPersonalized() === false">
                  <mat-icon>call</mat-icon> {{item.family.mobile}}
                </button>
                <button (click)="call(item.family.mobile)" class="setButtons" mat-raised-button style="color: white;background: green;"
                  aria-label="Example icon-button with a heart icon" *ngIf="type === 'contacted' && itemService.getPersonalized() === true">
                  <mat-icon>call</mat-icon>Matchmaker: {{item.family.mobile}}
                </button>
                <button (click)="profileReAnswer(item,item.profile.id,'YES',i)" class="setButtons" mat-mini-fab style="color: green;background: white;"
                  aria-label="Example icon-button with a heart icon" *ngIf="type != 'contacted'">
                  <mat-icon>call</mat-icon>
                </button>
                <button (click)="profileReAnswer(item,item.profile.id,'SHORTLIST',i)" class="setButtons" mat-mini-fab style="color: red;background: white;"
                  aria-label="Example icon-button with a heart icon" *ngIf="type != 'contacted'">
                  <mat-icon>favorite</mat-icon>
                </button>
                <button (click)="profileReAnswer(item,item.profile.id,'NO',i)" class="setButtons" mat-mini-fab style="color: grey;background: white;"
                  aria-label="Example icon-button with a heart icon" *ngIf="type != 'contacted' && type != 'rejected'">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-card-actions>
              
              
            </ng-container>
          </mat-card>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
        <h5 class="contentHeader">PERSONAL DETAILS</h5>
        <div class="container" style="margin-top: 20px;">
          <div class="row">
            <div class="col-3 contentPara">
              Age
            </div>
            <div class="col-3 contentPara">
              Height
            </div>
            <div class="col-3 contentPara" >
              Weight
            </div>
            <div class="col-3 contentPara">
              Marital Status
            </div>
            <div class="col-3">
              <img class="setIcons" src="../assets/calendar.svg" alt="Age"> {{setAge(item.profile.birth_date)}}
            </div>
            <div class="col-3">
              <img class="setIcons" src="../assets/scale.svg" alt="Height">  {{setHeight(item.profile.height)}}
            </div>
            <div class="col-3">
              <img class="setIcons" src="../assets/weight.svg" alt="Weight">  {{item.profile.weight}} Kg
            </div>
            <div class="col-3">
              <img class="setIcons" src="../assets/heart.svg" alt="Marital Status">  {{item.profile.marital_status}}
            </div>
            <div class="col-3 contentPara">
              Caste
            </div>
            <div class="col-3 contentPara">
              Food Choice
            </div>
            <div class="col-3 contentPara" >
              Working City
            </div>
            <div class="col-3 contentPara">
              Religion
            </div>
            <div class="col-3">
              <img class="setIcons" src="../assets/tarot.svg" alt="caste"> {{item.family ? item.family.caste : item.profile.caste}}
            </div>
            <div class="col-3">
              <img class="setIcons" src="../assets/cutlery.svg" alt="food choice">  {{item.profile.food_choice}}
            </div>
            <div class="col-3">
              <img class="setIcons" src="../assets/house.svg" alt="city">  {{item.family ? item.profile.working_city : item.profile.city}}
            </div>
            <div class="col-3">
              <img class="setIcons" src="../assets/templeblue.svg" alt="religion">  {{item.family ? item.family.religion : item.profile.religion}}
            </div>
          </div>
        </div>

        <h5 class="contentHeader">CAREER DETAILS</h5>
        <div class="container" style="margin-top: 20px;">
          <div class="row">
            <div class="col-3 contentPara">
             Occupation
            </div>
            <div class="col-3 contentPara">
              Qualification
            </div>
            <div class="col-3 contentPara">
              Designation
            </div>
            <div class="col-3 contentPara">
              Income
            </div>
            <div class="col-3">
              <img class="setIcons" src="../assets/suitcase.svg" alt="occupation">  {{item.profile.occupation}}
            </div>
            <div class="col-3">
              <img class="setIcons" src="../assets/graduation.svg" alt="education">  {{getQualification(item.profile.degree,item.profile.education)}}
            </div>
            <div class="col-3">
              <img class="setIcons" src="../assets/graduation.svg" alt="profession">  {{item.profile.profession}}
            </div>
            <div class="col-3">
              <img class="setIcons" src="../assets/rupee.svg" alt="income">  {{setIncome(item.profile.monthly_income)}} LPA
            </div>
  
          </div>
        </div>

        <h5 class="contentHeader">HOROSCOPIC DETAILS</h5>
        <div class="container" style="margin-top: 20px;">
          <div class="row" >
            <div class="col-3 contentPara">
              D.O.B
            </div>
            <div class="col-3 contentPara">
              Birth Place
            </div>
            <div class="col-3 contentPara">
              Birth Time
            </div>
            <div class="col-3 contentPara">
              Manglik Status
            </div>
            <div class="col-3">
              <img class="setIcons" src="../assets/birthday.svg" alt="D.O.B">  {{setDate(item.profile.birth_date)}}
            </div>
            <div class="col-3">
              <img class="setIcons" src="../assets/birthplace.svg" alt="Birth Place">  {{item.profile.birth_place}}
            </div>
            <div class="col-3">
              <img class="setIcons" src="../assets/clock.svg" alt="Birth Time"> {{item.profile.birth_time}}
            </div>
            <div class="col-3">
              <img class="setIcons" src="../assets/tarot.svg" alt="Manglik Status">  {{item.profile.manglik}}
            </div>
  
          </div>
        </div>

        <h5 class="contentHeader">FAMILY DETAILS</h5>
        <div class="container" style="margin-top: 20px;">
          <div class="row">
            <div class="col-3 contentPara">
             Sisters
            </div>
            <div class="col-3 contentPara">
             Brothers
            </div>
            <div class="col-3 contentPara">
              Mother
            </div>
            <div class="col-3 contentPara">
              Father
            </div>
            <div class="col-3">
              <img class="setIcons" src="../assets/sisters.svg" alt="Sisters">  {{setMarriageSisters(item.family ? item.family.unmarried_daughter : item.profile.unmarried_daughter, item.family ? item.family.married_daughter : item.profile.married_daughter)}}
            </div>
            <div class="col-3">
              <img class="setIcons" src="../assets/brothers.svg" alt="Brothers">  {{setMarriageBrothers( item.family ? item.family.unmarried_sons : item.profile.unmarried_sons, item.family ? item.family.married_sons : item.profile.married_sons)}}
            </div>
            <div class="col-3">
              <img class="setIcons" src="../assets/parents.svg" alt="Mother">   {{LifeStatus(item.family ? item.family.mother_status : '',item.family ? item.family.occupation_mother : item.profile.mother_occupation)}}
            </div>
            <div class="col-3">
              <img class="setIcons" src="../assets/parents.svg" alt="Father">  {{LifeStatus(item.family ? item.family.father_status : '', item.family ? item.family.occupation : item.profile.father_occupation)}}
            </div>
  
          </div>

          <div class="row" style="margin-top: 20px;">
            <div class="col-3 contentPara" style="padding: 0dp !important;">
             Family Inc.
            </div>
            <div class="col-3 contentPara" style="padding: 0dp !important;">
              Gotra
             </div>
             <div class="col-3 contentPara" style="padding: 0dp !important;">
              Family Type
             </div>
             <div class="col-3 contentPara" style="padding: 0dp !important;">
              House Type
             </div>
            <div class="col-3" style="padding: 0dp !important;">
              <img class="setIcons" src="../assets/moneybag.svg" alt="family_income">  {{setIncome(item.family ? item.family.family_income : item.profile.family_income)}} LPA
            </div>
            <div class="col-3" style="padding: 0dp !important;">
              <img class="setIcons" src="../assets/meditation.svg" alt="gotra">{{item.family ? item.family.gotra : item.profile.gotra}}
            </div>
            <div class="col-3" style="padding: 0dp !important;">
              <img class="setIcons" src="../assets/family.svg" alt="family_type">  {{item.family ? item.family.family_type : item.profile.family_type }}
            </div>
            <div class="col-3" style="padding: 0dp !important;">
              <img class="setIcons" src="../assets/house.svg" alt="house_type">  {{item.family ? item.family.house_type : setHouseType(item.profile.house)}}
            </div>
          </div>
        </div>
      </ng-template>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

 <div style="text-align:center">
  <h5  *ngIf="this.profile.length < 1" [innerHTML]="noData">
    ☹️ No data found
  </h5>
 </div>
    


  </div>

</main>
