/*   footer   */
/* Place the navbar at the bottom of the page, and make it stick */
.navbar {
    background-color: #34b7f1;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  
  /* Style the links inside the navigation bar */
  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 18px;
  }
  
  /* Change the color of links on hover */
  .navbar a:hover {
    color: black;
  }
  
  /* Add a color to the active/current link */
  .navbar a.active {
    color: white;
  }
  .prof {
    margin: 0px 30px;
    display: inline-block;
  }
  #main {
    margin: 50% auto 0px;
    padding-top: 20px
  }
  .imageSet {
    margin:0px 5px 0px;
    text-align: center;
  }
  ::ng-deep .mat-tab-label-content {
    font-size: 18px;
  }

  mat-card{
    background: white;
    color: black ;
    width: 100%;
    padding: 10px;
  }
  mat-card-subtitle{
    color: black;
  }
  .mat-expansion-panel{
    background: white;
    color: black;
  }
  mat-expansion-panel-header{
    background: white !important;
    padding: 0px;
    margin-bottom: 10px;
  
  }
  .setButtons{
    margin: 0px 5px;
  }
  mat-card-actions{
    margin-bottom: 0px;
  }

::ng-deep .mat-expansion-panel-body {
    padding: 0 15px 16px !important;
}
h5{
  text-align: center;
}
.container{
  padding: 0px;
}
.row {
  margin: 0px;
}
  .col-3, .col-6, .col-12 {
    padding: 0px;
    /* word-break: keep-all; */
    /* word-wrap:break-word; */
  }
  button:focus{outline:none !important;}
  .contentHeader{
    margin-top: 20px;
    color: white;
    background-image: linear-gradient( 109.6deg,  rgba(104,183,249,1) 31.3%, rgba(176,248,200,1) 100.2% );
  }
  .contentPara{
    color: grey;
  }
  .setIcons{
    width: 20px;
  }

  .mat-card-lg-image {
    border-radius: 20px;
    width: 50%;
    height: 200px;
  }
  .mat-card-image{
    border-radius: 20px;
    margin: 0px;
    width: 100%;
  }
  mat-card-subtitle{
    padding: 0px 5px;
  }
  mat-icon{
    font-size: 30px;
    height: 30px;
    width: 30px;
    font-weight: bolder;
  }

  .feedBackTextGreen{
    background-color: green;
    color: white;
    border-radius: 10px;
    margin-top: 10px;
    padding: 3px 10px;
    font-size: 18px;
  }
  .feedBackTextRed{
    background-color: green;
    color: white;
    border-radius: 10px;
    margin-top: 10px;
    padding: 3px 10px;
    font-size: 18px;
  }
  @media (max-width: 1024px) {
    .prof {
      margin: 0px 20px;
      display: inline-block;
    }
    #main {
      margin: 0px auto 0px;
      padding-top: 20px
    }
    .imageSet {
      margin:0px 5px 0px 0px;
      text-align: center;
    }
    .feedBackTextGreen{
      font-size: 14px;
    }
    .feedBackTextRed{
      font-size: 14px;
    }
  }
  .avatarImage{
      background-image: url('../../../assets/logo_192.png');
      background-size: cover;
  }


  @media (max-width: 576px) {
    .prof {
      margin: 0px 10px;
      display: inline-block;
    }
    #main {
      margin: 0px auto 0px;
      padding-top: 20px
    }
    .imageSet {
      margin:0px 5px 0px 0px;
      text-align: center;
    }
    ::ng-deep .mat-tab-label-content {
      font-size: 14px;
    }
    .partition{
      color: grey;
    }
    .feedBackText{
      font-size: 14px;
    }
    .feedBackTextRed{
      font-size: 14px;
    }
  
    
  }