<main *ngIf="profile" style="margin: 0px ;padding-top: 10px;text-align: center">
    
    <mat-tab-group mat-align-tabs="center">
        <mat-tab class="textSize" *ngIf="profile.contacted"  [label]="yesProfiles()">
            <div class="col-3 col-md-2"  *ngFor="let item of profile.contacted" style="display: inline-flex;margin: 20px 0px 0px 10px; padding-left: 0px;padding-right: 0px;">

                <div class="imageSet">
                      <a (click)="shareData(item.id,'1')">
                          <img style="width: 100%; height: 120px ;background-color: lightblue;margin-top: 20px;border: 5px solid #34b7f1;border-radius: 10px;position: relative;" [src]=getProfilePhoto(item.photo,item.gender) alt="profile"><br>
                          <img style="width: 30px;position: absolute;right: -7px;margin-top: -30px;" src="../../../assets/profilelike.svg" alt="like">
                        </a>
                    <p style="text-align: center; display: inline-block;font-size: 14px;margin-top:10px" [innerHTML]="setName(item.name,0)"></p>
                  </div>
                </div>
        </mat-tab>

        <mat-tab class="textSize" *ngIf="profile.shortlisted"  [label]="shortProfiles()">
            <div class="col-3 col-md-2"  *ngFor="let item of profile.shortlisted" style="display: inline-flex;margin: 20px 0px 0px 10px; padding-left: 0px;padding-right: 0px;">

                <div class="imageSet">
                      <a (click)="shareData(item.id,'')">
                          <img style="width: 100%; height: 120px ;background-color: lightblue;margin-top: 20px;border: 5px solid #34b7f1;border-radius: 10px;position: relative;" [src]=getProfilePhoto(item.photo,item.gender) alt="profile"><br>
                          <img style="width: 30px;position: absolute;right: -7px;margin-top: -30px;" src="../../../assets/star.svg" alt="like">
                        </a>
                    <p style="text-align: center; display: inline-block;font-size: 14px;margin-top:10px" [innerHTML]="setName(item.name,1)"></p>
                  </div>
                </div>
        </mat-tab>

        <mat-tab class="textSize" *ngIf="profile.rejected"  [label]="noProfiles()">
            <div class=" col-3 col-md-2" *ngFor="let item of profile.rejected" style="display: inline-flex;margin: 20px 0px 0px 10px; padding-left: 0px;padding-right: 0px;">

                <div class="imageSet">
                  <a (click)="shareData(item.id,'')">
                    <img style="width: 100%; height: 120px;background-color: lightblue;margin-top: 20px;border: 5px solid #34b7f1;border-radius: 10px;position: relative;" [src]=getProfilePhoto(item.photo,item.gender) alt="profile"><br>
                    <img style="width: 30px;position: absolute;right: -7px;margin-top: -30px;" src="../../../assets/dislikeprofile.svg" alt="like">
                  </a>
                    <p style="text-align: center;font-size: 14px;display: inline-block;margin-top:10px" [innerHTML]="setName(item.name,1)"></p>
                  </div>
                </div>
        </mat-tab>
      </mat-tab-group>
  
</main>