<div class="mainDiv">
    <img style="width: 2rem;
    border-radius: 100px;
    border: 1px solid #737373;
    position: absolute;
    right: 10px;
    margin-top: 10px;" src="../../../assets/clear.svg" alt="close dialog"
    (click)="closeDialog()">

    <div class="text-center" >
        <img style="margin-top: 30px;
        width: 110px;" src="../../../../assets/new icons/word_icon.svg" alt="world">
    </div>
    <p id="firstLine" style="margin-top: 20px;">
        Rate us 5 stars to get 3 contacts for free
    </p>

    <p id="smallTC">
        T&C apply - 1 gift profile contact per day
    </p>
    
    </div>