<div class="match-makers">
    <div class="d-flex justify-content-center">
        <h1>Matchmakers
            <hr class="one">
        <hr class="two">
        </h1>
    </div>
    
        <owl-carousel-o [options]="customOptions">
            <ng-template class="slide" carouselSlide>
                
                    <img class="feature2Img"
                            src="../../../assets/carousel/image1.png"
                            alt="hansmatrimony-matchmakers-image1">
                        <p>Neelam, 15 years experience</p>
                
            </ng-template>
            <ng-template class="slide" carouselSlide>
                <img class="feature2Img"
                            src="../../../assets/carousel/image2.png"
                            alt="">
                
                <p>Aprajita, 5 years experience</p>
            </ng-template>
            <ng-template class="slide" carouselSlide>
                <img class="feature2Img" src="
                        ../../../assets/carousel/image3.png"
                            alt="hansmatrimony-matchmakers-image3">
                <p>Satwinder, 9 years experience</p>
                
            </ng-template>
            <ng-template class="slide" carouselSlide>
                <img class="feature2Img"
                            src="../../../assets/carousel/image4.png"
                            alt="">
               
                <p>Shweta, 4 years experience</p>
            </ng-template>

        </owl-carousel-o>
</div>