<main style="padding: 20px;background-color: #dbdbdb;">
    <div id="cancel">
        <img (click)="close()" style="width: 40px;margin: 5px 5px 0px 0px;" src="../../../assets/cancelblue.svg" alt="cancel">
    </div>
    <span class="bolder" style="color: #9c5518;">Point 1:<br></span> Profile <strong>Approve</strong> करने के लिए इस फॉर्म में दिए गए सभी Details भरना जरुरी है । optional- (Gotra , Email व weight को छोड़कर ) <br>

    <span class="bolder" style="color: #cf7500;">Point 2:<br></span> क्लाइंट से सभी डिटेल्स लेने का प्रयास करें । (Photo भी) <br>
    
    <span class="bolder" style="color: #de7119;">Point 3:<br></span> अगर सभी डिटेल्स नहीं मिल पाती तो आप लीड को <strong>Complete</strong> कर सकते हैं पर <strong>Approve</strong> नहीं । <br>
    
    <span class="bolder" style="color: #e06d20;">Point 4:<br></span> कस्टमर की Profile <strong>Approve</strong> होने के बाद कस्टमर की प्रोफाइल <strong>Verified</strong> हो जाती है और  इसका प्रोफाइल हमारे <strong>सभी रजिस्टर्ड लोगो को दिखना शुरू हो जाता है वे लोग इस कस्टमर को कांटेक्ट भी कर सकते हैं ।</strong>
    
    और आपके इस क्लाइंट को बेहतर रिस्पांस मिल सकता है ।

    <div style="width: 100%; text-align: center;margin-top: 10dp;">
        <button class="btn" (click)="close()" mat-raised-button style="background-color: #000000;color: white;">
            OK
        </button>
    </div>
    
</main>