
.row{
    padding: 0px;
    margin: 0px;
}
#container1{
    width: 100%;height: 100%;
    position: relative;
    margin-top: 50px;
}


.b-r{
    border-right: 1px solid white;
}
.jumbotron{
    padding: 0px;
    margin: 0px;
}
.imageOneGradient{
    width: 100%;
    height: 30%;
    position: absolute;
    background-image: linear-gradient(0deg,transparent , #CA58FD);
}
.imageOne{
    position: relative;
}
.imageOneGradient2{
    width: 100%;
    height: 30%;
    position: absolute;
    background-image: linear-gradient(180deg,transparent , #0C9BF2);
}
.registerBtn{
    color: white;
    padding: 10px 50px;
     border-radius: 100px;
     font-size: 16px;
     font-weight: bold;
     background-color: #D313AE;
}
.rishteBtn{
    color: white;
    padding: 10px 80px;
     border-radius: 100px;
     font-size: 16px;
     font-weight: bold;
     background-color: #D313AE;
}
.imageTwoGradient{
    width: 100%;
    height: 60%;
    position: relative;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    padding-left: 30px;
    -webkit-box-align: center;
    align-items: center;
    scroll-behavior: smooth;
    overflow-x: auto;
    background-image: linear-gradient(0deg,#5A2090 , #0090E6);
    flex-flow: row;
    justify-content: center;
}
.featureCard{
    width: 30%;
    height: 50%;
    margin-left: 20px;
    border-radius: 10px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
}
.headingThree {
    background-color: #5C1F90 !important;display: flex;
    flex-direction: row;   
    padding: 20px 10% 20px 20%;
    background-color: transparent;
    justify-content: space-between;
}
.imageThreeGradient{
    width: 100%;
    height: auto;
    padding-bottom: 20px;
    position: relative;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    background-image: linear-gradient(0deg,#AD018C , #5C1F90);

}
.innerHoriz{
    width: 100%;
    height: 270px;
    padding-left: 20px;
    position: relative;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    overflow: auto;
    scroll-behavior: smooth;
    flex-flow: row;
    justify-content: center;
}
.innerThree{
    width: 20%;
    height: 100%;
    margin-left: 20px;
    overflow: hidden;
}
.featureCard2{
    width: 100%;
    height: 60%;
    border-radius: 10px;
    overflow: auto;
    padding: 0px;
}

.feature2Img{
    width: 100%;
    height: 100%;
}
.button3{
    width: 100%;
    text-align: center;
}
#container4{
    color: white;
    width: 100%;
    text-align: center;
    padding: 20px 0px;
    background-image: linear-gradient(0deg, #390572,#860271);
    overflow: hidden;
}
.feature4{
    width: 100%;
    height:22rem;
    position: relative;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    overflow-x: hidden;
    flex-flow: row;
    margin-left: 20px;
    justify-content: center;
}
.testimonial{
    position: relative;
     margin-top: 10px;
     width: 27%;
     margin: 0px 20px;
}
.testimonialImage{
    width:100%;
    height: 20rem;
     object-fit: cover;
     border-radius: 10px;
}
.testimonialGradient{
    position: absolute;
    bottom: 0px; 
    width: 100%;
    padding: 60px 0px 20px 10px;
    border-radius: 10px;
    text-align: start;
    background-image: linear-gradient(0deg,#248CC6 ,transparent) ;
    font-weight: bold;
    word-break: break-word;
    text-shadow: 2px 1px black;
}
#container5{
    width: 100%;
    text-align: center;
    padding: 30px 30% 20px;
    background-image: linear-gradient(0deg, #A2C2E8,white)
}

#playBtn {
    position: relative; margin-top: 10px;
    border-radius: 10px;border: 1px solid #D313AE;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        height: 40px;
}

footer{
    color: white;
    background-color: #06033D;
    padding: 30px 20px;
}

#footerDiv1{
    display: flex;
     flex-direction: row;
     margin-top: 30px;
     justify-content: space-between;
}
#footerDiv2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
#iconSet{
    display: flex; 
    flex-direction: row;
    width: 30%;
    align-items: center;
}

ul{
    list-style-type: none;
    line-height: 2;
    padding-left: 20px;
}
li{
    font-size: 14px;
}
#bottomText {
    font-size: 12px;
    text-align: center;
}


@media (max-width: 1024px){
    .featureCard{
        width: 70%;
        height: 50%;
        margin-left: 20px;
        border-radius: 10px;
        overflow: auto;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: space-evenly;
    }
    .imageTwoGradient{
        width: 100%;
        height: 60%;
        position: relative;
        display: -webkit-box;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
        padding-left: 30px;
        -webkit-box-align: center;
        align-items: center;
        scroll-behavior: smooth;
        overflow-x: auto;
        background-image: linear-gradient(0deg,#5A2090 , #0090E6);
        flex-flow: row;
    }

    .headingThree {
        background-color: #5C1F90 !important;display: flex;
        flex-direction: row;padding: 20px 20px 20px 40px;
        background-color: transparent;
        justify-content: space-between;
    }

    .innerThree{
        width: 50%;
        height: 100%;
        margin-left: 20px;
        overflow: hidden;
    }
    .featureCard2{
        width: 100%;
        height: 60%;
        border-radius: 10px;
        overflow: auto;
        padding: 0px;
    }
    .feature4{
        width: 100%;
        height:22rem;
        position: relative;
        display: -webkit-box;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
        -webkit-box-align: center;
        align-items: center;
        scroll-behavior: smooth;
        overflow-x: auto;
        flex-flow: row;
        margin-left: 20px;
    }
    #container5{
        width: 100%;
        text-align: center;
        padding: 30px 50px 20px;
        background-image: linear-gradient(0deg, #A2C2E8,white)
    }
    #footerDiv1{
        display: flex; flex-direction: row;margin-top: 30px;
    }
    #footerDiv2{
        display: flex;flex-direction: column;
    }

    #iconSet{
        display: flex; 
        flex-direction: column;
    }
    #bottomText {
        font-size: 12px;
        margin-left: 5px;
        margin-right: 5px;
    }
    .testimonialGradient{
        position: absolute;
        bottom: 0px; 
        width: 100%;
        padding: 10px 0px 20px 10px;
        border-radius: 10px;
        text-align: start;
        background-image: linear-gradient(0deg,#248CC6 ,transparent) ;
        font-weight: bold;
        word-break: break-word;
        text-shadow: 1px 1px black;
    }
    
}
@media (max-width: 350px){
    #container1{
        width: 100%;height: 100%;
        position: relative;
        margin-top: 70px;
    }
    .featureCard{
        width: 70%;
        height: 50%;
        margin-left: 20px;
        border-radius: 10px;
        overflow: auto;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: space-evenly;
    }
    .testimonial{
        position: relative;
         margin-top: 10px;
         width: 70%;
         margin: 0px 20px;
    }
}

@media (max-width: 575px){
    .featureCard{
        width: 70%;
        height: 50%;
        margin-left: 20px;
        border-radius: 10px;
        overflow: auto;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: space-evenly;
    }
    .imageTwoGradient{
    width: 100%;
    height: 60%;
    position: relative;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    padding-left: 30px;
    -webkit-box-align: center;
    align-items: center;
    scroll-behavior: smooth;
    overflow-x: auto;
    background-image: linear-gradient(0deg,#5A2090 , #0090E6);
    flex-flow: row;
}
.headingThree {
    background-color: #5C1F90 !important;display: flex;
    flex-direction: row;padding: 20px 20px 20px 40px;
    background-color: transparent;
    justify-content: space-between;
}
.innerThree{
    width: 50%;
    height: 100%;
    margin-left: 20px;
    overflow: hidden;
}
.featureCard2{
    width: 100%;
    height: 60%;
    border-radius: 10px;
    overflow: auto;
    padding: 0px;
}

.testimonial{
    position: relative;
     margin-top: 10px;
     width: 70%;
     margin: 0px 20px;
}
.feature4{
    width: 100%;
    height:22rem;
    position: relative;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    scroll-behavior: smooth;
    overflow-x: auto;
    flex-flow: row;
    margin-left: 20px;
}
#container5{
    width: 100%;
    text-align: center;
    padding: 30px 50px 20px;
    background-image: linear-gradient(0deg, #A2C2E8,white)
}

#footerDiv1{
    display: flex; flex-direction: row;margin-top: 30px;
}
#footerDiv2{
    display: flex;flex-direction: column;
}
#iconSet{
    display: flex; 
    flex-direction: column;
}
#bottomText {
    font-size: 12px;
    margin-left: 5px;
    margin-right: 5px;
}

}
