
<!-- first container -->

<ng-container>
    <div id = container1>
        <div style="position: absolute;" class="imageOneGradient">
        </div>
        <div style="position: absolute;bottom: 0px;text-align: center;" class="imageOneGradient2">
            <div style="width: 100%;
            height: 100%;display: flex;
            justify-content: space-evenly;
            flex-direction: column;
             align-items: center;">
             <span style="font-size: 18px;font-weight: bold;">
                हम परिवारों को मिलाते है...
             </span>
                <button mat-raised-button class="registerBtn"  
                [routerLink]="['/fourReg']" routerLinkActive="router-link-active"
                *ngIf="homeService.getLoginStatus()==false">
                रजिस्टर करें नि: शुल्क
                </button>
                <button mat-raised-button class="rishteBtn" [routerLink]="['/chat']" routerLinkActive="router-link-active" *ngIf="homeService.getLoginStatus()">
                    रिश्ते देखें
                    </button>
                <img width="30px" src="../../../assets/keyboard_arrow_down-white-18dp.svg" alt="show more">
            </div>
        </div>
        <img style="height: 100%;width: 100%;object-fit:cover;" [defaultImage]="'../../assets/cover_hans_small.jpg'" 
        [lazyLoad]="'../../assets/cover_hans_small.jpg 600w, ../../assets/cover_hans.jpg 1000w'" 
        [useSrcset]="true" alt="hans matrimony cover">
    </div>
</ng-container>

<!-- 2nd container -->

<ng-container>
    <div class="imageTwoGradient">
        <mat-card class="featureCard" style="background-image: linear-gradient(0deg,#F5A513 , #F7CB67);
        color: #070973; text-align: center;">
            <mat-card-title style="font-weight: bold;">
                    50,000+ से अधिक
                    </mat-card-title>
                    <mat-card-subtitle style="color: #070973;font-size: 16px;">
                    रिश्तों में से चुनिए अपनी पसंद
                    </mat-card-subtitle>
        </mat-card>

        <mat-card class="featureCard" style="background-image: linear-gradient(0deg, #3708A1,#8860E3);
        color: #C1FA25;text-align: center;">
            <mat-card-title style="font-weight: bold;">
                1000+ मैचमेकर्स
                </mat-card-title>
                <mat-card-subtitle style="color: #C1FA25;font-size: 16px;">
                जो आपको रिश्ते चुनने मई मदद करेंगी
                </mat-card-subtitle>
        </mat-card>

        <mat-card class="featureCard" style="background-image: linear-gradient(0deg,#F5A513 , #F7CB67);
        color: #070973; text-align: center;">
            <mat-card-title style="font-weight: bold;">
                    30+ मंदिर
                    </mat-card-title>
                    <mat-card-subtitle style="color: #070973;font-size: 16px;">
                    में वेरिफिकेशन सेंटर्स
                    </mat-card-subtitle>
        </mat-card>
</div>
</ng-container>

<!-- 3rd container -->

<ng-container>
    <div style="background-color: #5C1F90 !important;display: flex;
    flex-direction: row;padding: 20px 40px;
    background-color: transparent;
    justify-content: space-between;">
        <div>
            <span style="font-weight: bold;color: white;font-size: 20px;">
                ऑफलाइन केंद्रों नेटवर्क
            </span>
        </div>
        <div>
            <span style="color: yellowgreen;">
                सभी देखें
            </span>
        </div>
    </div>
    <div class="imageThreeGradient">
        
    <div class="innerHoriz">
        <div class="innerThree">
        <mat-card class="featureCard2">
            <!-- <img class="feature2Img" [defaultImage]="'../../assets/temples/shiv_sai_dhaam_300.jpeg'" 
            [lazyLoad]="'../../assets/temples/shiv_sai_dhaam_300.jpeg 600w, ../../assets/temples/shiv_sai_dhaam_600.jpeg 1000w'" 
            [useSrcset]="true"  alt="Shiv Sai Dham Mandir">  -->
        </mat-card>
        <span style="color: white;font-size: 16px;height: 30%;">श्री शिव साई धाम मंदिर</span>
    </div>

    <div class="innerThree">
        <mat-card class="featureCard2"> 
            <!-- <img class="feature2Img" [defaultImage]="'../../assets/temples/sanathan_dharm_300.jpeg'" 
            [lazyLoad]="'../../assets/temples/sanathan_dharm_300.jpeg 600w, ../../assets/temples/sanathan_dharm_600.jpeg 1000w'" 
            [useSrcset]="true" alt="Sanathan Dharam Mandir">  -->
        </mat-card>
        <span style="color: white;font-size: 16px;">श्री सनातन धर्म मंदिर</span>
    </div>

    <div class="innerThree">
        <mat-card class="featureCard2"> 
            <!-- <img class="feature2Img" [defaultImage]="'../../assets/temples/lakshmi_narayan_300.jpeg'" 
            [lazyLoad]="'../../assets/temples/lakshmi_narayan.jpeg 600w, ../../assets/temples/lakshmi_narayan_600.jpeg 1000w'" 
            [useSrcset]="true" alt="Lakshmi Narayan Mandir">  -->
        </mat-card>
        <span style="color: white;font-size: 16px;">श्री लक्ष्मी नारायण मंदिर</span>
    </div>
</div>
    <div class="button3">
        <button class="registerBtn" style="background-color: #0C9BF2;"
        [routerLink]="['/fourReg']" routerLinkActive="router-link-active"
         mat-raised-button *ngIf="homeService.getLoginStatus()==false">
            रजिस्टर करें नि: शुल्क
        </button>
        <button class="rishteBtn" style="background-color: #0C9BF2;"
        [routerLink]="['/chat']" routerLinkActive="router-link-active"
         mat-raised-button *ngIf="homeService.getLoginStatus()">
            रिश्ते देखें
        </button>
        <br>
        <img width="30px" src="../../../assets/keyboard_arrow_down-white-18dp.svg" alt="show more">
    </div>
</div>
</ng-container>

<!-- 4rth container -->

<ng-container>
    <div id="container4">
        <span style="font-weight: bold;font-size: 20px;;">
            रिश्ते ही नहीं जोड़ें दिलों को भी।
        </span>
        <div class="feature4">
            <div class="testimonial">
                <!-- <img class="testimonialImage" [defaultImage]="'../../assets/reviews/Review1_300.jpg'" 
                [lazyLoad]="'../../assets/reviews/Review1_600.jpg 600w, ../../assets/reviews/Review1_1000.jpg 1000w'" 
                [useSrcset]="true" alt="Reviews"> -->
                <div class="testimonialGradient">
                    <span>
                        Kaushik & Anushka
                    </span>
                </div>
            </div>

            <div class="testimonial">
                <!-- <img class="testimonialImage" [defaultImage]="'../../assets/reviews/Review2_300.jpg'" 
                [lazyLoad]="'../../assets/reviews/Review2_600.jpg 600w, ../../assets/reviews/Review2_1000.jpg 1000w'" 
                [useSrcset]="true" alt="Reviews"> -->
                <div class="testimonialGradient">
                    <span>
                        Sahil & Salony
                    </span>
                </div>
            </div>

            <div class="testimonial">
                <!-- <img class="testimonialImage" [defaultImage]="'../../assets/reviews/photography_300.jpg'" 
                [lazyLoad]="'../../assets/reviews/photography_600.jpg 600w, ../../assets/reviews/photography_1000.jpg 1000w'" 
                [useSrcset]="true" alt="Reviews"> -->
                <div class="testimonialGradient">
                    <span>
                        Lakshay & Priya
                    </span>
                </div>
            </div>

        </div>
    </div>
</ng-container>

<!-- 5th container -->

<ng-container>
    <div id="container5">
        <p style="font-weight: bold;font-size: 20px;color: #070973;
            text-align: start;">
            #1 मैचमेकिंग ऐप
        </p>
        <div style="position: relative; margin-top: 10px;border-radius: 10px;border: 1px solid #D313AE;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        height: 40px; ">
            <span style="color: #D313AE;border-right: 1px solid #D313AE;
            align-self: center;
            font-weight: bold;
            padding-right: 20px;">
                अभी पाये, फ़ोन पर
            </span>
            <img style="width: 20px;margin-left: 10px;" src="../../assets/playstore.svg" alt="playstore app">
        </div>

        <div style="position: relative; margin-top: 10px;border-radius: 10px;background-color: #D313AE;
        display: flex;
        flex-direction: row;
        margin-bottom: 50px;
        justify-content: space-evenly;
        height: 40px; ">
            <span style="color: white;
            align-self: center;
            font-weight: bold;
            padding-right: 20px;" 
            [routerLink]="['/fourReg']" routerLinkActive="router-link-active"
            *ngIf="homeService.getLoginStatus()==false">
                रजिस्टर करें नि: शुल्क
            </span>
            <span style="color: white;
            align-self: center;
            font-weight: bold;
            padding-right: 20px;" 
            [routerLink]="['/chat']" routerLinkActive="router-link-active"
            *ngIf="homeService.getLoginStatus()">
                रिश्ते देखें
            </span>
        </div>
    </div>

    <div style="background-color: #070673;text-align: center;
    height: 40px;padding-top: 8px;">
        <img width="30px" src="../../../assets/keyboard_arrow_down-white-18dp.svg" alt="show more">
    </div>
</ng-container>

<ng-container>
    <footer>
        <div>
            <img width="60px" src="../../assets/logo_192.png" alt="Hans Logo">
            <span style="font-weight: bold; font-size: 20px; margin-left: 10px;">
                Hans Matrimony
            </span>
        </div>

        <div style="display: flex; flex-direction: row;margin-top: 30px;">
            <div style="display: flex;flex-direction: column;">

            <div>
                <ul>
                    <span style="color: darkgrey;font-weight: bold;font-size: 16px;">COMPANY</span>
                    <li>
                    About us
                    </li>
                    <li>
                        Our Services
                        </li>
                        <li>
                           Information
                            </li>
                            <li>
                                About us
                                </li>
                </ul>
            </div>

            <div>
                <ul>
                    <span style="color: darkgrey;font-weight: bold;font-size: 16px;">USEFUL LINKS</span>
                    <li>
                    Help & Support
                    </li>
                    <li>
                        Chat with us
                        </li>
                        <li>
                           Contact us
                            </li>
                </ul>
            </div>

            <div>
                <ul>
                    <span style="color: darkgrey;font-weight: bold;font-size: 16px;">BROWSE MATRIMONIAL PROFILES</span>
                    <li>
                    Religion
                    </li>
                    <li>
                        Caste
                        </li>
                        <li>
                           Country
                            </li>
                            <li>
                                Cities
                                 </li>
                </ul>
            </div>
        </div>
        <div style="display: flex; flex-direction: column;">
            <a href="https://www.facebook.com/HansMatrimony/">
                <i class="fa fa-facebook iconFooter"></i>
                </a>
                <a href="https://twitter.com/HansMatrimony">
                  <i class="fa fa-twitter iconFooter"></i>
                  </a>
                  <a href="https://www.instagram.com/hansmatrimony/">
                    <i class="fa fa-instagram iconFooter"></i>
                    </a>
                    <a href="https://www.linkedin.com/company/hansmatrimony">
                      <i class="fa fa-linkedin iconFooter"></i>
                      </a>
                      <a href="https://www.tiktok.com/@hansmatrimony?lang=en">
                        <img style="width: 54px; height: 60px;padding: 15px;"  src="../assets/tiktok.png">
                        </a>
        </div>
        </div>

        <hr style="background-color: white;">

       <p style="font-size: 12px;margin-left: 5px;margin-right: 5px;">
           <a style="color: white;" href="#">About Us &nbsp;| &nbsp;  </a> <a style="color: white;" href="#">Success Stories &nbsp;| &nbsp;</a> 
           <a style="color: white;" href="#">Careers &nbsp;| &nbsp;</a> <a style="color: white;" href="#">Payment Options &nbsp;| &nbsp;</a>
           <a style="color: white;" href="#">Terms & Conditions &nbsp;| &nbsp;</a> <a style="color: white;" href="#">Privacy Policy</a>
       </p>

       <p style="text-align: center;
       color: white;
       font-size: 12px;
       margin-bottom: 0px;
       margin-top: 0px;">
        Copyright @ 2020 hansmatrimony.com
       </p>
    </footer>
</ng-container>