
            <form  [formGroup]="PageThree">
                <div class="row">

                    <div class="col-6">
                        <mat-form-field class="full-width fieldFit" appearance="standard">
                          <mat-label style="color: black;">Birth Place</mat-label>
                          <input type="text" matInput matValidateAddress matGoogleMapsAutocomplete #matGoogleMapsAutocomplete="matGoogleMapsAutocomplete" 
                          (onAutocompleteSelected)="onAutocompleteSelected($event,1)" formControlName="BirthPlace">
                        </mat-form-field>
                      </div>

                    <div class="col-6">
                        <mat-form-field class="full-width fieldFit" appearance="standard">
                            <mat-label style="color: black;">Time of Birth</mat-label>
                          <input matInput id="BirthTime" type="time" placeholder="Choose a time" formControlName="BirthTime">
                        </mat-form-field>
                      </div>

                      <div class="col-md-12">
                        <mat-form-field class="full-width fieldFit" appearance="standard" >
                          <mat-label style="color: black;">Gotra</mat-label>
                          <input type="text" matInput formControlName="Gotra" >
                          <mat-hint>eg. Kashyap</mat-hint>
                        </mat-form-field>
                    </div>

                    <div class="col-md-12">
                   
                        <mat-form-field class="full-width fieldFit" appearance="standard">
                            <mat-label style="color: black;">Food Choice</mat-label>
                            <mat-select  formControlName="FoodChoice" required >
                              <mat-option value="Vegetarian">Vegetarian</mat-option>
                              <mat-option value="Non-Vegetarian">Non-Vegetarian</mat-option>
                              <mat-option value="Doesn't matter">Doesn't matter</mat-option>
                            </mat-select>
                        
                        </mat-form-field>
                    
                    </div>

                    <div class="col-md-12">
                        <mat-form-field class="full-width fieldFit" appearance="standard">
                          <mat-label style="color: black;">Father's Status</mat-label>
                          <select style="margin-bottom: -20px;" #fStatus matNativeControl formControlName="FatherStatus"  name="FatherStatus">
                              <option value="Alive">
                                Alive
                              </option>
                              <option value="Not Alive">
                                Not Alive
                              </option>
                            </select> 
                        </mat-form-field>
                      </div>
        
                      <div class="col-md-12" *ngIf="fStatus.value=='Alive'">
                        <mat-form-field class="full-width fieldFit" appearance="standard">
                          <mat-label style="color: black;">Father's Occupation</mat-label>
                          <select style="margin-bottom: -20px;" matNativeControl  formControlName="FatherOccupation"  name="FatherOccupation">
                              <option *ngFor="let  option of FatherOccupation" [value]="option">
                                {{option}}
                              </option>
                            </select> 
                        </mat-form-field>
                      </div>
                    
                      <div class="col-md-12">
                        <mat-form-field class="full-width fieldFit" appearance="standard">
                          <mat-label style="color: black;">Mother's Status</mat-label>
                          <select style="margin-bottom: -20px;" #mStatus matNativeControl formControlName="MotherStatus"  name="MotherStatus">
                              <option value="Alive">
                                Alive
                              </option>
                              <option value="Not Alive">
                                Not Alive
                              </option>
                            </select> 
                        </mat-form-field>
                      </div>
                    
                      <div class="col-md-12" *ngIf="mStatus.value=='Alive'">
                        <mat-form-field class="full-width fieldFit" appearance="standard">
                            <mat-label style="color: black;">Mother's Occupation</mat-label>
                            <select style="margin-bottom: -20px;" matNativeControl  formControlName="MotherOccupation"  name="MotherOccupation">
                                <option *ngFor="let  option of MotherOccupation" [value]="option">
                                  {{option}}
                                </option>
                              </select>
                        </mat-form-field>
                      </div>
                   
                          <div class="col-md-12">
                            <mat-form-field class="full-width fieldFit" appearance="standard" >
                              <mat-label style="color: black;">Family's Annual Income (In LPA)</mat-label>
                              <input type="text" pattern="\d*" maxlength="3" matInput formControlName="AnnualIncome" required name="AnnualIncome">
                              <span matSuffix>LPA &nbsp;</span>
                              <mat-error class="full-width" style="margin-bottom: 10px;" *ngIf="PageThree.get('AnnualIncome').invalid"> eg. 8 <span style="margin-left: 80%;">LPA &nbsp;</span></mat-error>
                            </mat-form-field>
                          </div>
     
                    <div class="col-xs-12 m-t-20" style="margin-top: 20px;margin-left:auto;margin-right:auto;text-align:center;margin-bottom: 20px;">
                        <button mat-raised-button matStepperNext type="button" id="viewButton" class="btn" >Next</button>
                    </div>
                </div>
           </form> 

