<div style="text-align: end">
    <a (click)="close()">
        <i  style="width: 30px !important;height: 30px;padding: 5px 0px ;margin: -15px 0px 0px;font-size: 20px !important"  class="fa fa-times" aria-hidden="true"></i>
    </a>
  </div>
  <div class="container-fluid" >
    <div class="row">
  <h2 mat-dialog-title style="margin-bottom: 0px;border-bottom: 1px solid #285fdd; width: 100%"> Checkout Summary</h2>
  </div>
  <div class="row" style="margin-top: 10px">
      <a href="tel:9697989697" class="callText">
          <i class="fa fa-phone " style="width: 30px !important;height: 30px;padding: 5px 0px ;margin: 0px 10px 0px 0px;background-color: #285fdd; color: white;font-size: 20px !important" aria-hidden="true"></i>Call Us at 96-97-98-96-97
          </a>
  </div>
  
  <mat-dialog-content>
    <div class="row">
      <div class="col-md-6 mainCol1" >
          <div class="card cardStyle">
  
            <div class="row formRow planRow" style="margin-top: 20px">
                <span class="planText"><u>{{plan}} Plan</u></span>
            </div>
            <div class="row formRow" style="margin-top: 20px">
                <p class="otherText" style="font-size: 14px"> {{value}}</p>
            </div>
        
  
          <div class="row formRow" style="margin-top: 20px">
              <p class="otherText" style="font-size: 14px">{{benefits}}</p>
            </div>
                 
                <div class="row formRow" style="margin-top: 20px">
                    <p class="priceText"> Rs. {{price}}</p>
                  </div>
               
                      </div> 
                    </div>
  
                      <div class="col-md-6">
                          <form (ngSubmit)="onSubmit()" #formMain="ngForm">
                              <div class="row formRow" > 
                                  <label style="color: #285fdd; margin-top: 20px;font-size: 14px;font-weight: bold" for="name">Full Name:</label>
                                  <input style=" margin: 10px 0px 0px 10px" type="text" class="form-control" ngModel name="name" #name="ngModel" required>
                                  </div>
  
                                  <div class="row formRow"> 
                                      <label style="color: #285fdd; margin-top: 20px;font-size: 14px;font-weight: bold" for="email">Email:</label>
                                      <input style=" margin: 10px 0px 0px 10px" type="text" class="form-control" ngModel  name="email" required email>
                                      </div>
  
                                      <div class="row formRow"> 
                                          <label style="color: #285fdd; margin-top: 20px;font-size: 14px;font-weight: bold" for="mobile">Mobile Number:</label>
                                          <input style=" margin: 10px 0px 0px 10px" type="number" class="form-control" ngModel name="mobile" required>
                                          </div>
  
                                      <div class="row formRow"> 
                                          <label style="color: #285fdd; margin-top: 20px;font-size: 14px;font-weight: bold" for="promo">Promocode:</label>
                                          <input style= "width: 200px;margin: 10px 0px 0px 10px" type="text" class="form-control" ngModel name="promo">
                                          <input style="color: white;background-color: #285fdd;margin-left: 10px;margin-top: 10px;font-size: 14px; border-radius: 100px" type="button" value="Apply">
                                          </div>
  
                                          <div class="row buttonArea">
                                              <button (click)="onSubmit()" [disabled]="!formMain.valid" class="btn btn-primary proceedButton btn-text" >Proceed to Payment</button>  
                                      </div>
                          </form>
                      </div>
                    </div>    
  </mat-dialog-content>
  </div>