<main class="special">
    <div>
        <img src="../../assets/left-arrow-key.svg" class="backArrow" (click)="backTomyProfile()" alt="BACK" />
    </div>
    <div class="text-center topheader">
        <span class="">Upload Photos</span>
    </div>
    <div class="container" style="height:70vh; position:relative">
        <div class="photoSection">
            <div class="col">
                skjdnas
            </div>
            <div class="col">
                skjdnas
            </div>
        </div>
        <div class=" photoSection">
            <div class="col">
                skjdnas
            </div>
            <div class="col">
                skjdnas
            </div>
        </div>
        <div class="photoSection">
            <div class="col">
                skjdnas
            </div>
            <div class="col">
                skjdnas
            </div>
        </div>
    </div>
    <div class="footer">
        vadkjfbl
    </div>
</main>