<div>
    <div class="top-bar" *ngIf="historyDataList$|async">
        <div class="search-area" *ngIf="(searchActivated$|async)">
            <div class="col" style="padding:3.5% 2%">
                <img src="../../../assets/clear.svg" class="fa fa-close" (click)="toggleSearch()"
                    style="font-size:30px;color:black;position:absolute;right:1%;top:9%">
                <input type="text" class="custom form-control" placeholder="Search by name, religion, city..."
                    [formControl]="searchControl">
            </div>
        </div>
        <div class="top-bar row btn-row" *ngIf="!(searchActivated$|async)">
            <button class="btn btn-tabs" [ngClass]="{'btn-tabs-active':(searchActivated$|async)}"
                (click)="toggleSearch()">
                <img width="25px" src="../../../assets/search-history.svg" alt="" *ngIf="! (searchActivated$|async)">
                <img width="25px" src="../../../assets/search-history-white.svg" alt=""
                    *ngIf="(searchActivated$|async)">
            </button>
            <button class="btn btn-tabs" [ngClass]="{'btn-tabs-active':selectedTab === 0}"
                (click)="setSelectedIndex(0)">
                <img width="25px" src="../../../assets/heartwhite.svg" alt="liked">
                {{itemService.getCountOnlyShortlist()}}
            </button>
            <button class="btn btn-tabs" [ngClass]="{'btn-tabs-active':selectedTab === 1}"
                (click)="setSelectedIndex(1)">
                <img width="25px" src="../../../assets/phone_white.svg" alt="contacted">
                {{itemService.getCountOnlyContacted()}}
            </button>
            <button class="btn btn-tabs" [ngClass]="{'btn-tabs-active':selectedTab === 2}"
                (click)="setSelectedIndex(2)">
                <img width="22px" src="../../../assets/closewhite.svg" alt="rejected">{{itemService.getCountOnlyRejected()}}
            </button>
        </div>
    </div>
    <div class="search-results" *ngIf="(searchActivated$|async)">
        <div class="profiles" *ngFor="let profile of profiles;let i = index">
            <div class="column" style="width:20%" (click)="getUserProfileData(profile,i)">
                <img id="searchImage" class="circular" src="{{profile.photo}}"
                (error)='setPlaceholderImage(i, profile.gender)'
                 alt="photo" origin="anonymous">
            </div>
            <div class="column" style="width:55%;justify-content: end;
            align-items: end;padding:2%" (click)="getUserProfileData(profile,i)">
                <p style="font-size:1rem;font-weight:bold;">{{setName(profile.name)}}</p>
                <p style="font-size:0.8rem;">{{getHeight(profile.height)}}&nbsp;|&nbsp;{{profile.age}}Yrs</p>
                <p style="font-size:0.8rem;">{{profile.religion}}&nbsp;|&nbsp;{{profile.caste}}</p>
                <p style="font-size:0.8rem;">{{profile.working_city}}&nbsp;|&nbsp;{{profile.monthly_income}}LPA</p>
                <p style="border-radius: 5px;" [ngStyle]="{'background-color':getColor(profile.type)}"
                    (click)="getUserProfileData(profile,i)">
                    <a
                        style="font-size:0.7rem;font-weight:bold;color:aliceblue;padding:2px 12px 2px 12px">{{profile.type}}ED</a>
                </p>
            </div>
            <div class="column" style="width:20%; border-radius: 5px;"
                (click)="getUserProfileData(profile,i)">
            </div>
        </div>
    </div>
    <mat-tab-group [hidden]="(searchActivated$|async)" id="history-tabs" class="matGroup"
        [(selectedIndex)]="selectedTab" (selectedIndexChange)="changeSelectedTab($event)">
        <!-- // contacted -->
        <mat-tab id="contacted">
            <!-- <ng-template mat-tab-label>
                <img width="30px" src="../../assets/thumbs-up-blue.svg" alt="icon">
                {{itemService.getContactedCount()}}
            </ng-template> -->
            <ng-template matTabContent>
                <!-- <button (click)="goToSubs()" id="creditButton" mat-raised-button>
                    {{languageService.profileLang.credits}}: {{itemService.getCredits()}}
                </button> -->
                <div class='col'>
                    <!-- <app-history-profiles [type]="tabType"></app-history-profiles> -->
                    <div  *ngFor="let item of (historyShortlistList$|async);let i = index">
                        <app-history-item [listItem]="item"
                        [itemIndex]="i"
                         [authData]="authData"
                         (actionTaken)="sendResponse($event)"
                         ></app-history-item>
                        </div>
                </div>
            </ng-template>
        </mat-tab>
        <!-- // liked by me -->
        <mat-tab id="melike">
            <!-- <ng-template mat-tab-label>
                <p class="labelSetting">
                    <img class="tabImage" src="../../assets/tabs-icons/heart-like-white.svg" alt="icon"
                        *ngIf="selectedTab !== 1">
                    <img class="tabImage" src="../../assets/tabs-icons/heart.svg" alt="icon" *ngIf="selectedTab === 1 ">
                    <span class="tabCount">
                        {{itemService.getShortlistNumber()}}
                    </span>
                </p>
                <a *ngIf="languageService.getCurrentLanguage() === 'hindi'"
                    style="font-size:small">{{languageService.profileLang.yourLikes}}</a>
                <a
                    *ngIf="languageService.getCurrentLanguage() === 'english'">{{languageService.profileLang.yourLikes}}</a> -->
            <!-- {{itemService.getShortlistedCount()}} -->
            <!-- </ng-template> -->
            <ng-template matTabContent>
                <div>
                    <div class='col'>
                        <!-- <app-history-profiles [type]="tabType"></app-history-profiles> -->
                        <div *ngFor="let item of (historyContactList$|async);let i = index">
                        <app-history-item [listItem]="item"
                        [itemIndex]="i"
                         [authData]="authData"
                         (actionTaken)="sendResponse($event)"></app-history-item>
                        </div>
                    </div>
                </div>
            </ng-template>
        </mat-tab>
        <!-- // rejected-->
        <mat-tab id="rejected">
            <!-- <ng-template mat-tab-label>
                {{itemService.getRejectedCount()}}
            </ng-template> -->
            <ng-template matTabContent>
                <div>
                    <!-- <button (click)="goToSubs()" id="creditButton" mat-raised-button>
                        {{languageService.profileLang.credits}}: {{itemService.getCredits()}}
                    </button> -->
                    <div class='col'>
                        <!-- <app-history-profiles [type]="tabType"></app-history-profiles> -->
                        <div *ngFor="let item of (historyRejectList$|async);let i = index">
                            <app-history-item [listItem]="item" 
                            [itemIndex]="i"
                            [authData]="authData"
                            (actionTaken)="sendResponse($event)"></app-history-item>
                            </div>
                    </div>
                </div>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</div>