@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
.kundali{
    margin-top:5.2vw;
    font-family:'Poppins', sans-serif;
    overflow-x:hidden;
    padding-bottom:20px;
}
.kundali-text{
    opacity:0;
    transform:translateY(300px);
    transition:0.8s all ease-in-out;
}
.kundali-form{
    opacity:0;
    transform:translateY(200px);
    transition:0.7s all ease-in-out;
}
.appear{
    opacity:1;
    transform:translate(0px);
}
.text-center{
    text-align:center;
}
h1{
    font-weight:600;
    font-family:'Poppins', sans-serif;
}
h2{
    font-weight:bolder;
}
form{ 
    margin-top:20px;
    background: #b5edff5c;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding:20px;
    height:auto;
    width:481px;
    /* margin-left:20px; */
}
button{
    width: 160.61px;
    height: 37.98px;
    background: #24ADD8;
    border-radius: 7px;
    border:none;
    color:white;
    font-weight:600;
    border-radius:7px;
}
/* p{
    font-weight:600;
} */
input{
    margin-bottom:10px;
}
@media only screen and (max-width: 575px){
    .kundali{
        margin-top:15vw;
        font-family:'Poppins', sans-serif;
    }
    .p-holder{
        padding:0px 20px;
    }
    h1{
        font-weight:600;
        font-size:5.5vw;
    }
    h3{
        font-size:4.5vw;
        font-weight:bold; 
    }
    h2{
        font-size:28px;
    }
    p{
        font-size:14px;
    }
    form{ 
        margin-top:20px;
        background: #ECF7FC;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        padding:20px;
        height:auto;
        width:360px;
    }
    button{
        width: 180.61px;
        height: 41.98px;
        background: #24ADD8;
        border-radius: 7px;
        border:none;
        color:white;
        font-weight:600;
        border-radius:7px;
    }
    .kundali-text{
        margin-top:10px;
    }
}
@media only screen and (min-width:576px){
    .kundali-text{
        margin-top:10px;
       }
    h1{
        font-weight:600;
        margin-bottom:60px;
        font-size:4.5vw;
    }
    button{
        width: 180.61px;
        height: 41.98px;
        background: #24ADD8;
        border-radius: 7px;
        border:none;
        color:white;
        font-weight:600;
        border-radius:7px;
    }
}
@media only screen and (min-width: 768px){
    .kundali-text{
        margin-top:100px;
       }
   
}
@media only screen and (min-width: 992px){
    .kundali-text{
        margin-top:100px;
       }
    
}
@media only screen and (min-width: 1200px){
   h2{
       font-size:3vw;
   }
   h1{
    font-size:2.5vw;
   }
   .kundali-text{
    margin-top:150px;
   }
}
