main{
    padding-bottom: 300px;
    overflow-y: auto;
}

.rotationAnimation {
    animation: skewAnimation 1s linear infinite alternate;
}
.pinkBack {
    background: rgba(211,19,174,0.7);
}
.greyBack {
    background: rgba(200,200,200,0.7);
}
.blueBack {
    background: rgba(88,209,253,0.7);
}
#profileImageDiv{
    margin: 20px;
    position: relative;
}
#profilePic{
    width: 100%;
    height: 75vh;
    border-radius: 10px;
}
::ng-deep .carousel-indicators{
    bottom: 80px !important;
}
::ng-deep .mat-card-image{
    margin: 0px;
}

.row{
    padding: 0px;
    margin: 0px;
}

.col-6{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px;
}


.setButtons{
    width: 60px;
     height: 60px;
     margin-bottom: 10px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     
}
.tip{
    z-index:9999999999999999!important;
    position:absolute;
    display:flex;
    flex-direction:column;
    top:-130px;
    left:-20px;
    text-align:center;
    align-items:center;
    justify-content:center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
    color:white!important;
    width:100px;
    border-radius:15px;
}
.tip2{
    position:absolute;
    display:flex;
    top:65px;
    left:-20px;
    flex-direction:column;
    text-align:center;
    align-items:center;
    justify-content:center;
    background:transparent;
    color:rgba(36, 35, 35, 0.705)!important;
    width:100px;
    border-radius:15px;
}
.handAnimation{
    width:65px;position:absolute; bottom:-70px;
    -webkit-animation: 2s arrow infinite ease;
    animation: 2s arrow infinite ease;
    vertical-align:middle;
}
.setButtonsCenter{
    width: 70px;
     height: 70px;
     margin-bottom: 10px;
      display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
}

.buttonImage{
    width: 30px;
}
.buttonImageCenter{
    width: 40px;
}

.animateButtonImage{
    animation: scale-in-out-image 0.8s ease-in 10s infinite alternate-reverse;
    -webkit-animation: scale-in-out-image 0.8s ease-in 10s infinite alternate-reverse;
    -moz-animation: scale-in-out-image 0.8s ease-in 10s infinite alternate-reverse;
    -o-animation: scale-in-out-image 0.8s ease-in 10s infinite alternate-reverse;
    -ms-animation: scale-in-out-image 0.8s ease-in 10s infinite alternate-reverse;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
}
.animateButtonImageCenter{
    animation: scale-in-out-image-center 0.8s ease-in 10s infinite alternate-reverse;
    -webkit-animation: scale-in-out-image-center 0.8s ease-in 10s infinite alternate-reverse;
    -moz-animation: scale-in-out-image-center 0.8s ease-in 10s infinite alternate-reverse;
    -o-animation: scale-in-out-image-center 0.8s ease-in 10s infinite alternate-reverse;
    -ms-animation: scale-in-out-image-center 0.8s ease-in 10s infinite alternate-reverse;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
}

.titleHeading{
    color: #4A5D6A;
    font-size: 1rem;
    margin-bottom: 10px;
    display: inline-block;
    font-weight: bold;
    
}

#aboutSection{
    margin-top: 20px; 
}

#personalSection{
    margin-top: 20px; 
}
.field{
    margin-top: 10px;
}
.titleImage {
   width: 20px;
}
.title{
    width: 100%;
    color: #4A5D6A;
    margin-left: 1rem;
    font-size: 14px;
}
.titleGrey{
    width: 100%;
    color: grey;
    font-size: 14px;
}

#careerSection{
    margin-top: 20px; 
}

#horoscopeSection{
    margin-top: 20px; 
}

#familySection{
    margin-top: 20px; 
}
.highlightedValue{
    background-color: #C4E9F8;
    border-radius: 10px;
    padding: 10px;
}

.actionAnimationDiv {
    height: 100%;
    position: absolute;
    z-index: 999999;
    text-align: center;
    animation: actionOnProfile 1s ease;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    top: 0;
}

.actionAnimation{
    width: 100px;
}


@-webkit-keyframes arrow {
    0%, 100% {
        top: 50px;
    }
    50% {
        top: 80px;
    }
}
@keyframes arrow {
    0%, 100% {
        top: 50px;
    }
    50% {
        top: 80px;
    }
}

@keyframes scale-in-out-image {
    from {
        width: 20px;
    }
    to{
        width: 30px;
    }
}

@keyframes scale-in-out-image-center {
    from {
        width: 20px;
    }
    to{
        width: 40px;
    }
}

@media (max-width: 350px){
    .titleImage {
        width: 20px;
     }
    .title{
        width: 100%;
        color: #4A5D6A;
        margin-left: 10px;
        font-size: 14px;
    }
    .titleGrey{
        width: 100%;
        color: grey;
        font-size: 14px;
    }
  

    .setButtons{
        width: 50px;
         height: 50px;
         margin-bottom: 10px;
          display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
    }
    .setButtonsCenter{
        width: 60px;
         height: 60px;
         margin-bottom: 10px;
          display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
    }
    .buttonImage{
        width: 20px;
    }
    .buttonImageCenter{
        width: 30px;
    }

    @keyframes scale-in-out-image {
        from {
            width: 10px;
        }
        to{
            width: 20px;
        }
    }

    @keyframes scale-in-out-image-center {
        from {
            width: 10px;
        }
        to{
            width: 30px;
        }
    }
}

@media screen and (max-width: 1024px) {
    .down-arrow{
        right: 0px;
        -webkit-animation: 2s arrow infinite ease;
        animation: 2s arrow infinite ease;
        vertical-align:middle
    
    }

    #imageContent{
        width: 100%;
        position: absolute;
        bottom: 0;
        margin-bottom: 100px;
        padding: 0px 10px 10px;
        color: white;
        background-image: linear-gradient(0deg, black, rgba(0,0,0,0.02));
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
    }

    #answerButtons{
        display: flex;
        justify-content: space-evenly;
        position: fixed;
        width: 90%;
        background-color: transparent;
        z-index: 99999;
        bottom: 0px;
        background-image: linear-gradient(0deg, white,transparent);
        animation: fadeInUp 3.5s 1;
    }
}

@media (min-width: 1024px){
    #answerButtons{
        display: flex;
        justify-content: space-evenly;
        position: relative;
        width: 100%;
        background-color: transparent;
        z-index: 99999;
        bottom: 0px;
        background-image: linear-gradient(0deg, white,transparent);
        margin-top: 50px;
    }
    #imageContent{
        width: 100%;
        position: absolute;
        bottom: 0%;
        margin-bottom: 100px;
        padding: 0px 10px 10px;
        color: white;
        background-image: linear-gradient(0deg, black, rgba(0,0,0,0.02));
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
    }
    #profilePic{
        width: 100%;
        height: 90vh;
        border-radius: 10px;
    }

/* css for stacked cards */
.no-transition {
    -webkit-transition: none ! important;
    -o-transition: none ! important;
    transition: none ! important;
  }
  
  .stackedcards-overflow {
      overflow-y: hidden !important;
  }
  
  .stackedcards.init {
      opacity: 0;/* set the opacity to 0 if you want a fade-in effect to stacked cards on page load */
  }
  
  .stackedcards {
      position: relative;
  }
  
  .stackedcards * {
      -webkit-user-select: none;
              -moz-user-select: none;
               -ms-user-select: none;
           user-select: none;
  }
  
  .stackedcards--animatable {
      -webkit-transition: all 400ms ease;
              -o-transition: all 400ms ease;
              transition: all 400ms ease;
  }
  
  .stackedcards .stackedcards-container > *,
  .stackedcards-overlay {
      position: absolute;
      width: 100%; /* set 100% */
      height: 100% ; /* set 100% */
      will-change: transform, opacity;
      top: 0;
      border-radius: 10px;
  }
  
  .stackedcards-overlay.left > div,
  .stackedcards-overlay.right > div,
  .stackedcards-overlay.top > div {
      width: 100%;
      height: 100%;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
  }
  
  .stackedcards-overlay.left,
  .stackedcards-overlay.right,
  .stackedcards-overlay.top {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      left: 0;
      opacity: 0;
      top: 0;
      height: 100%;
      font-size: 24px; /* this style was added only for better preview */
      text-transform: uppercase; /* this style was added only for better preview */
      font-weight: 500; /* this style was added only for better preview */
      color: #fff; /* this style was added only for better preview */
  }
  
  .stackedcards-overlay.top {
      background: #E38568;
  }
  
  .stackedcards-overlay.right {
      background: #7BB3C5;
  }
  
  .stackedcards-overlay.left {
      background: #E58D93;
  }
  
  .stackedcards-overlay.left:empty,
  .stackedcards-overlay.right:empty,
  .stackedcards-overlay.top:empty {
    display: none !important;
  }
  
  .stackedcards-overlay-hidden {
      display: none;
  }
  
  .stackedcards-origin-bottom {
      -webkit-transform-origin: bottom;
              -ms-transform-origin: bottom;
          transform-origin: bottom;
  }
  
  .stackedcards-origin-top {
      -webkit-transform-origin: top;
              -ms-transform-origin: top;
          transform-origin: top;
  }
  
  .stackedcards-bottom,
  .stackedcards-top,
  .stackedcards-none {
      background: #fff; /* set card background background */
      height: 100%;
  }
  
  .stackedcards .stackedcards-container > :nth-child(1) {
      position: relative;
      display: block;
  }
  
  /* global actions buttons*/
  .global-actions {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      width: 100%;
      margin-top: 10px;
  }
  
  .top-action,
  .right-action,
  .left-action {
      width: 100%;
      height: 50px;
      border-radius: 10px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      text-transform: uppercase;
      font-weight: 500;
      color: #fff;
  }
  
  .top-action {
      background: #E38568;
      margin: 0 10px; 
  }
  
  .right-action { background: #7BB3C5; }
  .left-action { background: #E58D93; }
  
  /* elements on stacked cards */
  .card-item { background: #FFFFFF;border:1px solid black;height:fit-content; }
}