main{
    padding-bottom: 200px;
}
#profileImageDiv{
    padding: 20px 10px;
    position: relative;
}
#profilePic{
    width: 100%;
    height: 70vh;
    border-radius: 10px;
}
::ng-deep .carousel-indicators{
    bottom: 80px !important;
}
::ng-deep .mat-card-image{
    margin: 0px;
}

.row{
    padding: 0px;
    margin: 0px;
}

#imageContent{
    width: 95%;position: absolute;bottom: 20px;padding: 10px;
          color: white;background-image: linear-gradient(0deg,#787878,transparent);
          display: flex;justify-content: space-between;
          border-radius: 10px;
}
#answerButtons{
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    width: 90%;
    background-color: transparent;
    z-index: 99999;
    bottom: 0px;
    background-image: linear-gradient(0deg, white,transparent);
}
.buttonImage{
    width: 40px;
}
#verified{
    background-color: #50ed9d;
    border-radius: 5px;color: white;
    padding: 10px 0px;
}
#controlledBy{
    background-color: #ACDFFF;
    display: flex;
    border-radius: 5px;color: white;
    padding: 10px 0px;
    justify-content: space-evenly;
}

#aboutSection{
    margin-top: 20px; 
        padding: 15px 15px;
        border: 1px solid #FAC8F1; color: #707070;
        border-radius: 5px;
}

#personalSection{
    margin-top: 20px; 
        padding: 15px 15px;
        border: 1px solid #9533B5E5;
        border-radius: 5px;
}
.field{
    margin-top: 10px;
}
.title{
    width: 100%;
    color: #C8C8C8;
    margin-left: 1rem;
    font-size: 1rem;
    font-weight: bold;
}

#careerSection{
    margin-top: 20px; 
        padding: 15px 15px;
        border: 1px solid #CA58FD;
        border-radius: 5px;
}

#horoscopeSection{
    margin-top: 20px; 
        padding: 15px 15px;
        border: 1px solid #070973;
        border-radius: 5px;
}

#familySection{
    margin-top: 20px; 
        padding: 15px 15px;
        border: 1px solid #58D1FD;
        border-radius: 5px;
}
.highlightedValue{
    background-color: #C4E9F8;
    border-radius: 10px;
    padding: 10px;
}


@media (max-width: 350px){
    .title{
        width: 100%;
        color: #C6C6C6;
        margin-left: 10px;
        font-size: 1rem;
    }
}

@media (min-width: 1024px){
    #answerButtons{
        display: flex;
        justify-content: space-evenly;
        position: relative;
        width: 90%;
        background-color: transparent;
        z-index: 99999;
        bottom: 0px;
        background-image: linear-gradient(0deg, white,transparent);
    }

}