<main id="main" *ngIf="item && type == 'profile'">
    <div id="profileImageDiv">
        <ngb-carousel style="outline: none;">
            <ng-template ngbSlide *ngFor="let i of getImagesCount(); let index = index">
                    <img id="profilePic" 
                    (click)="openImageModal(item.carousel,item.photo,item.name,index)"
                     [src]="getProfilePhoto(item.photo,item.carousel,item.gender,i)" 
                     (error)="onErrorProfilePhoto(item.gender, index)"  alt={{item.name}}>
            </ng-template>
          </ngb-carousel>


    <!-- // image info  -->

    <div id="imageContent">
        <div class="full-width">
          <div style="width: 80%;">
            <span style="font-weight: bold;font-size: 18px;">
                {{toTitleCase(item.name)}}
            </span><br>
            <span style="font-size: 14px;">
                {{item.working_city ? item.working_city : ''}} {{item.working_city ? '|' : ''}} {{setHeight(item.height)}}
            </span> <br>
            <span style="font-size: 14px;">
                {{setIncome(item.monthly_income)}} Lakh per year
            </span>
          </div>
          <div style="position: absolute;
           top: -10px;right: 10px;
           border-radius: 10px;
           padding: 0px 10px;
           background-color: #48CDF7;" >{{setAge(item.birth_date)}}
          </div>

          <div style="position: absolute;
          top: 25px;right: 25px;">
              <img width="20px" src="../../../assets/tabs-icons/shield.svg"
               alt="verified profile">
          </div>
        </div>
          
          <div class="down-arrow"
          (click)="scrollDown()"
           style="background-color: #50ed9d;
          float: right;display: flex;
          align-items: center;
          position: fixed;
          border-radius: 100px;
          z-index: 999999999;
          margin-top: 65vh;
          box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
          justify-content: center;">
        <img width="40px" src="../../../assets/keyboard_arrow_down-white-18dp.svg" alt="arrow">
      </div>
      </div>

          
    </div>

    <section id="content" style="
    margin: -29% 10px;
    position: relative;
    border-top-right-radius: 20px;
      border-top-left-radius: 20px;
      padding: 0px 10px 100px;
      background-color: white;
      overflow-y: auto;
      box-shadow: 1px 1px 5px #9ADCF0, -1px -1px 5px #9ADCF0;">

        <!-- // buttons -->

        <div id="answerButtons">
            <div class="t-c" style="margin-top: 10px;">
                <button 
                (click)="getNextMessageOrProfile('YES')"   class="setButtons" mat-fab style="color: green;
                background: #58D1FD;"
                  aria-label="Example icon-button with a heart icon" >
                  <img class="buttonImage animateButtonImage" src="../../../assets/phone_white.svg" alt="कांटेक्ट करें">
                </button><br>
                <!-- <span style="color: #58D1FD;font-weight: 600;font-size: 18px;">
                    {{languageService.profileLang.contact}}
                </span> -->
            </div>

            <div class="t-c">
                <button 
                (click)="getNextMessageOrProfile('SHORTLIST')" class="setButtonsCenter" mat-fab style="color: red;
                background: #D313AE;
                margin-bottom: 10px;"
                  aria-label="Example icon-button with a heart icon" >
                  <img class="buttonImageCenter animateButtonImageCenter" src="../../../assets/heartwhite.svg" alt="पसंद है">
                </button><br>
                <!-- <span style="color: #D313AE;font-weight: 600;font-size: 18px;">
                    {{languageService.profileLang.shortlist}}
                </span> -->
            </div>

            
            <div class="t-c blur" style="margin-top: 10px;">
                <button 
                (click)="getNextMessageOrProfile('NO')" class="setButtons" mat-fab style="color: grey;
                background: #C8C8C8;">
                  <img class="buttonImage" src="../../../assets/closewhite.svg" alt="नापसंद है">
                </button><br>
                <!-- <span style="color: #737373;font-weight: 600;font-size: 18px;">
                    {{languageService.profileLang.reject}}
                </span> -->
            </div>

        </div>

               <div class="row field">
                <div class="col-6">
                    <img class="titleImage" src="../../../assets/verifiedwhite.svg" alt="verified at">
                    <span class="title">{{languageService.profileLang.verifiedAt}}</span>
                </div>
                <div class="col-6">
                    <span class="title">{{item.facebook ? item.facebook : 'Hans Matrimony Office'}}</span>
                </div>
            </div>

            <div class="row field">
                <div class="col-6">
                    <img class="titleImage" src="../../../assets/controlledby.svg" alt="managedBy">
                    <span class="title">
                        {{languageService.profileLang.managedBy}}
                    </span>
                </div>
                <div class="col-6">
                    <span class="title">
                        {{item.relation ? item.relation : item.gender == 'Male' ? 'Mother' : 'Father' }}
                    </span>
                </div>
            </div>

        <div id="aboutSection">
            <u class="titleHeading">
                {{languageService.profileLang.about}}
            </u>
            <p class="title" style="margin-left:0px">
                <span style="color: #4A5D6A;font-weight: bold;font-family: sans-serif;">{{languageService.profileLang.hello}},</span> {{languageService.profileLang.myself}}{{toTitleCase(item.name)}}, {{toTitleCase(item.about)}}
            </p>
        </div>

<!-- // personal details  -->

        <div id="personalSection">
            <div style="display: flex;
            justify-content: space-between;">
                <span class="titleHeading">
                    <u>
                        {{languageService.profileLang.personalizedDetails}}
                    </u>
                </span>
            </div>

            <div class="row field">
                <div class="col-6">
                    <img class="titleImage" src="../../../assets/new icons/call-dark.svg" alt="mobile">
                    <span class="title">{{item.mobile}}</span>
                </div>
                <div class="col-6">
                    <img class="titleImage" src="../../../assets/new icons/location-dark.svg" alt="location">
                    <span class="title">{{item.locality}}</span>
                </div>
            </div>

            <div class="row field">
                <div class="col-6">
                    <img class="titleImage" src="../../../assets/new icons/Religion.svg" alt="caste">
                    <span class="title">{{item.religion}} {{item.religion ? '|' : ''}} {{item.caste}} </span>
                </div>
                <div class="col-6">
                    <img class="titleImage" src="../../../assets/new icons/Marital Status.svg" alt="marital status">
                    <span class="title">{{item.marital_status}}</span>
                </div>
            </div>


            <div class="row field">
                <div class="col-6">
                    <img class="titleImage" src="../../../assets/new icons/Food Choice.svg" alt="food choice">
                    <span class="title">{{item.food_choice}}</span>
                </div>
                <div class="col-6">
                    <img class="titleImage" src="../../../assets/new icons/Weight.svg" alt="weight">
                    <span class="title">{{item.weight}} Kg</span>
                </div>
            </div>


        </div>

        <!-- // career details  -->

        <div id="careerSection">
            <div style="display: flex;
            justify-content: space-between;">
                <span class="titleHeading">
                    <u>
                        {{languageService.profileLang.careerDetails}}
                    </u>
                </span>
            </div>

            <div class="row field">
                <div class="col-6">
                    <img class="titleImage" src="../../../assets/new icons/Occupation.svg" alt="occupation">
                    <span class="title">{{item.occupation}}</span>
                </div>
                <div class="col-6">
                    <img class="titleImage" src="../../../assets/new icons/Designation.svg" alt="designation">
                    <span class="title">{{item.profession}}</span>
                </div>
            </div>

            <div class="row field">
                <div class="col-6">
                    <img class="titleImage" src="../../../assets/new icons/Income - Aaye.svg" alt="income">
                    <span class="title">{{setIncome(item.monthly_income)}} Lakh per year</span>
                </div>
                <div class="col-6">
                    <img class="titleImage" src="../../../assets/new icons/Graduation.svg" alt="education">
                    <span class="title">{{item.degree ? item.degree : item.education}}</span>
                </div>
            </div>

            <div class="row field">
                <div class="col-6">
                    <img class="titleImage" src="../../../assets/new icons/Schooling.svg" alt="college">
                    <span class="title">{{toTitleCase(item.college)}}</span>
                </div>
                <div class="col-6">
                    <img class="titleImage" src="../../../assets/new icons/workingCity.svg" alt="working">
                    <span class="title">{{item.working_city}}</span>
                </div>
            </div>

        </div>

        <!-- //horoscope details  -->

        <div id="horoscopeSection">
            <div style="display: flex;justify-content: space-between;">
                <span class="titleHeading">
                    <u>
                        {{languageService.profileLang.horoscopeDetails}}
                    </u>
                </span>
            </div>

            <div class="row field">
                <div class="col-6">
                    <img class="titleImage" src="../../../assets/new icons/DOB.svg" alt="birth date">
                    <span class="title">{{item.birth_date | date}}</span>
                </div>
                <div class="col-6">
                    <img class="titleImage" src="../../../assets/new icons/Birth Time.svg" alt="birth time">
                    <span class="title">{{item.birth_time}}</span>
                </div>
            </div>

            <div class="row field">
                <div class="col-6">
                    <img class="titleImage" src="../../../assets/new icons/Birth Place.svg" alt="birth place">
                    <span class="title">{{item.birth_place}}</span>
                </div>
                <div class="col-6">
                    <img class="titleImage" src="../../../assets/new icons/Mangalik.svg" alt="manglik">
                    <span class="title">{{setManglik(item.manglik)}}</span>
                </div>
            </div>


        </div>

        <!-- //family details  -->

        <div id="familySection">
            <div style="display: flex;justify-content: space-between;">
                <span class="titleHeading">
                    <u>
                        {{languageService.profileLang.familyDetails}}
                    </u>
                </span>
            </div>


            <div class="row field">
                <div class="col-6">
                    <img class="titleImage" src="../../../assets/new icons/Sister.svg" alt="Sisters">
                    <span class="title">{{setMarriageSisters(item.unmarried_daughters,item.married_daughters)}}</span>
                </div>
                <div class="col-6">
                    <img class="titleImage" src="../../../assets/new icons/Brother.svg" alt="Brothers">
                    <span class="title">{{setMarriageBrothers( item.unmarried_sons,item.married_sons)}}</span>
                </div>
            </div>

            <div class="row field">
                <div class="col-6">
                    <img class="titleImage" src="../../../assets/new icons/Mother.svg" alt="Mother">
                    <span class="title">{{LifeStatus(item.mother_status,item.occupation_mother, 'Mother')}}</span>
                </div>
                <div class="col-6">
                    <img class="titleImage" src="../../../assets/new icons/Father.svg" alt="Father">
                    <span class="title">{{LifeStatus(item.father_status,item.occupation, 'Father')}}</span>
                </div>
            </div>


            <div class="row field">
                <div class="col-6">
                    <img class="titleImage" src="../../../assets/new icons/Gotra.svg" alt="Gotra">
                    <span class="title">{{item.gotra}}</span>
                </div>
                <div class="col-6">
                    <img class="titleImage" src="../../../assets/new icons/Family Type.svg" alt="Father Type">
                    <span class="title">{{familyType()}}</span>
                </div>
            </div>

            <div class="row field">
                <div class="col-6">
                    <img class="titleImage" src="../../../assets/new icons/familyIn.svg" alt="Family Living In">
                    <span class="title">{{item.city}}</span>
                </div>
                <div class="col-6">
                    <img class="titleImage" src="../../../assets/new icons/House Type.svg" alt="House Type">
                    <span class="title">{{houseStatus()}}</span>
                </div>
            </div>

            <div class="row field">
                <div class="col-6">
                    <img class="titleImage" src="../../../assets/moneybag.svg" alt="Family Income">
                    <span class="title">{{setIncome(item.family_income)}} Lakh per year</span>
                </div>
            </div>

        </div>
    </section>
</main>

<app-today-message [messageData]="itemMessage" [button]="button" *ngIf="type == 'message'"></app-today-message>