<main *ngIf="profile">
  
    <div style="padding-top: 30px;padding-bottom: 200px;">
      <div [@listAnimation]="profile.length">
  
      <mat-accordion *ngIf="profile.length > 0">
        <mat-expansion-panel [disabled]="disableForAWhile()" *ngFor="let item of profile;let i = index" [hideToggle]="true" multi="true"
          [expanded]="panelOpenState === i" (opened)="setPanelOpenState(i)" [id]="setId(i)">
          <mat-expansion-panel-header [collapsedHeight]="'100%'" [expandedHeight]="'100%'">
  
            <mat-card class="example-card">
  
  
              <mat-card-title-group [hidden]="panelOpenState == i">
                <mat-card-title>
                  {{toTitleCase(item.name)}}
                </mat-card-title>
                <mat-card-subtitle>
                  {{setAge(item.birth_date)}} <b class="partition">|</b> {{setHeight(item.height)}} <b class="partition">|</b> {{item.education}} <b class="partition">|</b> 
                  {{item.occupation}} <b class="partition">|</b> {{item.monthly_income}} LPA <b class="partition">|</b> {{item.caste}} <b class="partition">|</b> {{item.city}} <br>
                  {{toTitleCase(item.about)}} <br>
                  <div  style="margin-top: 10px;" *ngIf="type === 'contacted'">
                    <div style="right: 0px;color: white;background: green;display: inline-block;margin-right: 10px;font-size: 16px;padding: 10px;border-radius: 10px;word-break: keep-all">
                      <img style="width: 20px;" src="../../../assets/locationwhite.svg" alt="locality">{{toTitleCase(item.locality)}}
                    </div>
                  </div>
                </mat-card-subtitle>
                <img mat-card-lg-image [src]=getProfilePhoto(item.carousel,item.gender) alt="item.name">
              </mat-card-title-group>
  
  
              <mat-card-header [hidden]="panelOpenState!=i">
                <div mat-card-avatar class="avatarImage"></div>
                <mat-card-title>{{toTitleCase(item.name)}}</mat-card-title>
                <mat-card-subtitle>{{toTitleCase(item.about)}}</mat-card-subtitle>
              </mat-card-header>
              
              <ngb-carousel *ngIf="panelOpenState==i">
                <ng-template ngbSlide *ngFor="let i of getImagesCount(item.carousel); let index = index" >
                        <img mat-card-image id="profileImage" [src]="getProfilePhotoLarge(item.photo,item.carousel,item.gender,i)" alt="item.name">
                </ng-template>
              </ngb-carousel>
              <!-- <ng-container *ngIf="itemService.getPersonalized()">
                <div class="feedBackTextGreen" *ngIf="item.profile.bNS == '1'">
                  <p style="margin-bottom: 0px;">{{item.bEW}}</p>
                </div>
                <div class="feedBackTextRed" *ngIf="item.profile.bNS == '0'">
                  <p style="margin-bottom: 0px;">{{item.bEW}}</p>
                </div>
              </ng-container> -->
              <ng-container *ngIf="panelOpenState === i">
                <mat-card-actions style="margin-bottom: 0px;" align="center">
                  <!-- <button (click)="call(item.family.mobile)" class="setButtons" mat-raised-button style="color: white;background: green;"
                    aria-label="Example icon-button with a heart icon" *ngIf="type === 'contacted' && itemService.getPersonalized() === false">
                    <mat-icon>call</mat-icon> {{item.mobile}}
                  </button> -->
                  <!-- <button (click)="call(item.family.mobile)" class="setButtons" mat-raised-button style="color: white;background: green;"
                    aria-label="Example icon-button with a heart icon" *ngIf="type === 'contacted' && itemService.getPersonalized()" >
                    <mat-icon>call</mat-icon> Matchmaker: {{item.mobile}}
                  </button> -->
                  <button (click)="profileReAnswer(item,item.profile.id,'YES',i)" class="setButtons" mat-fab style="color: green;background: white;"
                    aria-label="Example icon-button with a heart icon">
                    <mat-icon>call</mat-icon>
                  </button>
                  <button (click)="profileReAnswer(item,item.profile.id,'SHORTLIST',i)" class="setButtons" mat-fab style="color: red;background: white;"
                    aria-label="Example icon-button with a heart icon">
                    <mat-icon>favorite</mat-icon>
                  </button>
                  <button (click)="profileReAnswer(item,item.profile.id,'NO',i)" class="setButtons" mat-fab style="color: grey;background: white;"
                    aria-label="Example icon-button with a heart icon">
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-card-actions>
                <div style="text-align: center; margin-top: 10px;"  *ngIf="type === 'contacted'">
                  <div style="text-align: center;color: white;background: green;display: inline-block;margin-right: 10px;font-size: 16px;padding: 10px;border-radius: 10px;word-break: keep-all">
                    <img style="width: 20px;" src="../../../assets/locationwhite.svg" alt="locality"> {{toTitleCase(item.locality)}}
                  </div>
                </div>
              </ng-container>
  
  
              <ng-container *ngIf="panelOpenState != i">
                <mat-card-actions style="margin-bottom: 0px;float: right;margin-right: 5px;" align="center">
                  <!-- <button (click)="call(item.mobile)" class="setButtons" mat-raised-button style="color: white;background: green;"
                    aria-label="Example icon-button with a heart icon" *ngIf="type === 'contacted' && itemService.getPersonalized() === false">
                    <mat-icon>call</mat-icon> {{item.mobile}}
                  </button>
                  <button (click)="call(item.mobile)" class="setButtons" mat-raised-button style="color: white;background: green;"
                    aria-label="Example icon-button with a heart icon" *ngIf="type === 'contacted' && itemService.getPersonalized() === true">
                    <mat-icon>call</mat-icon>Matchmaker: {{item.mobile}}
                  </button> -->
                  <button (click)="profileReAnswer(item,item.id,'YES',i)" class="setButtons" mat-mini-fab style="color: green;background: white;"
                    aria-label="Example icon-button with a heart icon" >
                    <mat-icon>call</mat-icon>
                  </button>
                  <button (click)="profileReAnswer(item,item.id,'SHORTLIST',i)" class="setButtons" mat-mini-fab style="color: red;background: white;"
                    aria-label="Example icon-button with a heart icon" >
                    <mat-icon>favorite</mat-icon>
                  </button>
                  <button (click)="profileReAnswer(item,item.id,'NO',i)" class="setButtons" mat-mini-fab style="color: grey;background: white;"
                    aria-label="Example icon-button with a heart icon" >
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-card-actions>
                
                
              </ng-container>
            </mat-card>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
          <h5 class="contentHeader">PERSONAL DETAILS</h5>
          <div class="container" style="margin-top: 20px;">
            <div class="row">
              <div class="col-3 contentPara">
                Age
              </div>
              <div class="col-3 contentPara">
                Height
              </div>
              <div class="col-3 contentPara" >
                Weight
              </div>
              <div class="col-3 contentPara">
                Marital Status
              </div>
              <div class="col-3">
                <img class="setIcons" src="../assets/calendar.svg" alt="Age"> {{setAge(item.birth_date)}}
              </div>
              <div class="col-3">
                <img class="setIcons" src="../assets/scale.svg" alt="Height">  {{setHeight(item.height)}}
              </div>
              <div class="col-3">
                <img class="setIcons" src="../assets/weight.svg" alt="Weight">  {{item.weight}} Kg
              </div>
              <div class="col-3">
                <img class="setIcons" src="../assets/heart.svg" alt="Marital Status">  {{item.marital_status}}
              </div>
              <div class="col-3 contentPara">
                Caste
              </div>
              <div class="col-3 contentPara">
                Food Choice
              </div>
              <div class="col-3 contentPara" >
                Working City
              </div>
              <div class="col-3 contentPara">
                Religion
              </div>
              <div class="col-3">
                <img class="setIcons" src="../assets/tarot.svg" alt="caste"> {{item.caste}}
              </div>
              <div class="col-3">
                <img class="setIcons" src="../assets/cutlery.svg" alt="food choice">  {{item.food_choice}}
              </div>
              <div class="col-3">
                <img class="setIcons" src="../assets/house.svg" alt="city">  {{item.city}}
              </div>
              <div class="col-3">
                <img class="setIcons" src="../assets/templeblue.svg" alt="religion">  {{item.religion}}
              </div>
            </div>
          </div>
  
          <h5 class="contentHeader">CAREER DETAILS</h5>
          <div class="container" style="margin-top: 20px;">
            <div class="row">
              <div class="col-3 contentPara">
               Occupation
              </div>
              <div class="col-3 contentPara">
                Qualification
              </div>
              <div class="col-3 contentPara">
                Designation
              </div>
              <div class="col-3 contentPara">
                Income
              </div>
              <div class="col-3">
                <img class="setIcons" src="../assets/suitcase.svg" alt="occupation">  {{item.occupation}}
              </div>
              <div class="col-3">
                <img class="setIcons" src="../assets/graduation.svg" alt="education">  {{item.education}}
              </div>
              <div class="col-3">
                <img class="setIcons" src="../assets/graduation.svg" alt="profession">  {{item.profession}}
              </div>
              <div class="col-3">
                <img class="setIcons" src="../assets/rupee.svg" alt="income">  {{setIncome(item.monthly_income)}} LPA
              </div>
    
            </div>
          </div>
  
          <h5 class="contentHeader">HOROSCOPIC DETAILS</h5>
          <div class="container" style="margin-top: 20px;">
            <div class="row" >
              <div class="col-3 contentPara">
                D.O.B
              </div>
              <div class="col-3 contentPara">
                Birth Place
              </div>
              <div class="col-3 contentPara">
                Birth Time
              </div>
              <div class="col-3 contentPara">
                Manglik Status
              </div>
              <div class="col-3">
                <img class="setIcons" src="../assets/birthday.svg" alt="D.O.B">  {{setDate(item.birth_date)}}
              </div>
              <div class="col-3">
                <img class="setIcons" src="../assets/birthplace.svg" alt="Birth Place">  {{item.birth_place}}
              </div>
              <div class="col-3">
                <img class="setIcons" src="../assets/clock.svg" alt="Birth Time"> {{item.birth_time}}
              </div>
              <div class="col-3">
                <img class="setIcons" src="../assets/tarot.svg" alt="Manglik Status">  {{item.manglik}}
              </div>
    
            </div>
          </div>
  
          <h5 class="contentHeader">FAMILY DETAILS</h5>
          <div class="container" style="margin-top: 20px;">
            <div class="row">
              <div class="col-3 contentPara">
               Sisters
              </div>
              <div class="col-3 contentPara">
               Brothers
              </div>
              <div class="col-3 contentPara">
                Mother
              </div>
              <div class="col-3 contentPara">
                Father
              </div>
              <div class="col-3">
                <img class="setIcons" src="../assets/sisters.svg" alt="Sisters">  {{setMarriageSisters(item.unmarried_daughter,item.married_daughter)}}
              </div>
              <div class="col-3">
                <img class="setIcons" src="../assets/brothers.svg" alt="Brothers">  {{setMarriageBrothers( item.unmarried_sons,item.married_sons)}}
              </div>
              <div class="col-3" style="word-break: break-word">
                <img class="setIcons" src="../assets/parents.svg" alt="Mother">   {{LifeStatus(item.mother_occupation)}}
              </div>
              <div class="col-3" style="word-break: break-word">
                <img class="setIcons" src="../assets/parents.svg" alt="Father">  {{LifeStatus(item.father_occupation)}}
              </div>
    
            </div>
  
            <div class="row" style="margin-top: 20px;">
              <div class="col-3 contentPara" style="padding: 0dp !important;">
               Family Inc.
              </div>
              <div class="col-3 contentPara" style="padding: 0dp !important;">
                Gotra
               </div>
               <div class="col-3 contentPara" style="padding: 0dp !important;">
                Family Type
               </div>
               <div class="col-3 contentPara" style="padding: 0dp !important;">
                House Type
               </div>
              <div class="col-3" style="padding: 0dp !important;">
                <img class="setIcons" src="../assets/moneybag.svg" alt="family_income">  {{setIncome(item.family_income)}} LPA
              </div>
              <div class="col-3" style="padding: 0dp !important;">
                <img class="setIcons" src="../assets/meditation.svg" alt="gotra">{{item.gotra}}
              </div>
              <div class="col-3" style="padding: 0dp !important;">
                <img class="setIcons" src="../assets/family.svg" alt="family_type">  {{item.family_type}}
              </div>
              <div class="col-3" style="padding: 0dp !important;">
                <img class="setIcons" src="../assets/house.svg" alt="house_type">  {{setHouseType(item.house)}}
              </div>
            </div>
          </div>
        </ng-template>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  
   <div style="text-align:center">
    <h5  *ngIf="this.profile.length < 1" [innerHTML]="noData">
      ☹️ No data found
    </h5>
   </div>
      
  
  
    </div>
  
  </main>
  