.matPhotoCard{
  background-color: white;
  height: 35vh;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.box1{
width: 100%;
height: 100%;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
}
.verticalBox{
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-left: 10px;
}

.flexIt{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}



.photoDiv img {
  border-radius: 5px
}
.uploadText{
  margin-bottom: 0px;
  color: #808080;
}

#photoBtn {
    margin: 3px;
}
.impNote {
    margin: 5px 0px;
    padding-right: 15px;
    padding-left: 15px;
    color: #737373;
    font-size: 0.85rem;
  }

  .impNoteMain {
    margin: 0px;
    padding-right: 15px;
    padding-left: 15px;
    color: #737373;
    font-size: 0.85rem;
    text-align: center;
  }
  .buttonSet{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }