<form>
    <div class="row">
        <div class="col-md-12 text-center" style="margin: 0px auto;
        font-size: 18px;
        font-weight: 900;">
          <p>Multiple Pictures can be Uploaded</p>
    </div>
     </div>

     <mat-card class="matPhotoCard">
       <div class="box1">
         <!-- // large box  -->
          <div (click)="dfile.click()" class="flexIt" style="flex: 2;height: 100%;
          border-radius: 5px;
          background-color: #E6E7E9;">
            <div class="t-c" *ngIf="!imgURL" >
              <img width="30px" src="../../../assets/icons/addmore.svg" alt="add more">
            <p class="uploadText">Upload Picture</p>
            </div>
            <img [src]="imgURL"  height="100%" width="100%" *ngIf="imgURL" style="border-radius: 5px;">
            <input style="display: none" #dfile type="file" id="dfile" accept='image/*' (change)="preview(dfile.files,1)"  />
          </div>

          <!-- // column 2 with 2 vertical small boxes -->
          <div class="verticalBox">
            <div (click)="fontfile.click()" class="flexIt"  style="height: 100%;margin-bottom: 5px;
            border-radius: 5px;
            background-color: #E6E7E9;">
              <div class="t-c" *ngIf="!frontfile">
                <img width="30px" src="../../../assets/icons/addmore.svg" alt="add more">
                <p class="uploadText">Add More</p>
              </div>
              <img [src]="frontfile" height="100%" width="100%" *ngIf="frontfile" style="border-radius: 5px;">
              <input style="display: none" #fontfile type="file" id="fontfile" accept='image/*' (change)="previewfront(fontfile.files,2)"  />
            </div>

            <div (click)="backfile.click()" class="flexIt" style="height: 100%;margin-top: 5px;
            border-radius: 5px;
            background-color: #E6E7E9;">
              <div class="t-c" *ngIf="!BackimgURL">
                <img width="30px" src="../../../assets/icons/addmore.svg" alt="add more">
                <p class="uploadText">Add More</p>
              </div>
              <img [src]="BackimgURL" height="100%" width="100%" *ngIf="BackimgURL" style="border-radius: 5px;">
              <input style="display: none" #backfile type="file" id="backfile" accept='image/*' (change)="previewBack(backfile.files,3)"/>
            </div>

          </div>
       </div>




      <!-- <div class="row1">

        <mat-card class="matPhotoCardBig" (click)="dfile.click()">
              <div class="t-c" *ngIf="!imgURL">
                <img width="30px" src="../../../assets/icons/addmore.svg" alt="add more">
              <p class="uploadText">Upload Picture</p>
              </div>
              <img [src]="imgURL"  height="100%" width="100%" *ngIf="imgURL">
              <input style="display: none" #dfile type="file" id="dfile" accept='image/*' (change)="preview(dfile.files,1)"  />
        </mat-card>

        <div class="col2">
          <mat-card class="matPhotoCardSmall" (click)="fontfile.click()">
              <div class="t-c" *ngIf="!frontfile">
                <img width="30px" src="../../../assets/icons/addmore.svg" alt="add more">
                <p class="uploadText">Add More</p>
              </div>
              <img [src]="frontfile" height="100%" width="100%" *ngIf="frontfile">
              <input style="display: none" #fontfile type="file" id="fontfile" accept='image/*' (change)="previewfront(fontfile.files,2)"  />
        </mat-card>

          <mat-card class="matPhotoCardSmall" (click)="backfile.click()">
              <div class="t-c" *ngIf="!BackimgURL">
                <img width="30px" src="../../../assets/icons/addmore.svg" alt="add more">
                <p class="uploadText">Add More</p>
              </div>
              <img [src]="BackimgURL" height="100%" width="100%" *ngIf="BackimgURL">
              <input style="display: none" #backfile type="file" id="backfile" accept='image/*' (change)="previewBack(backfile.files,3)"/>
        </mat-card>
      </div>

      </div>

      <div class="row2">
          <mat-card class="matPhotoCardSmall" (click)="fontfile4.click()">
              <div class="t-c" *ngIf="!frontfile4">
                <img width="30px" src="../../../assets/icons/addmore.svg" alt="add more">
                <p class="uploadText">Add More</p>
              </div>
              <img [src]="frontfile4" height="100%"  width="100%" *ngIf="frontfile4">
              <input style="display: none" #fontfile4 type="file" id="fontfile4" accept='image/*' (change)="previewfront(fontfile4.files,4)"  />
        </mat-card>

          <mat-card class="matPhotoCardSmall" (click)="fontfile5.click()">
              <div class="t-c" *ngIf="!frontfile5">
                <img width="30px" src="../../../assets/icons/addmore.svg" alt="add more">
                <p class="uploadText">Add More</p>
              </div>
              <img [src]="frontfile5" height="100%" width="100%" *ngIf="frontfile5">
              <input style="display: none" #fontfile5 type="file" id="fontfile5" accept='image/*' (change)="previewfront(fontfile5.files,5)"  />
        </mat-card>

          <mat-card class="matPhotoCardSmall" (click)="fontfile6.click()">
              <div class="t-c" *ngIf="!frontfile6">
                <img width="30px" src="../../../assets/icons/addmore.svg" alt="add more">
                <p class="uploadText">Add More</p>
              </div>
              <img [src]="frontfile6" height="100%" width="100%" *ngIf="frontfile6">
              <input style="display: none" #fontfile6 type="file" id="fontfile6" accept='image/*' (change)="previewfront(fontfile6.files,6)"  />
        </mat-card>
      </div> -->

     </mat-card>


    
  <div class="row">
  <div style="width: 100%;
  padding-right: 15px;
  margin-top: 10px;
  padding-left: 15px;" *ngIf="fourPageService.getUserThrough()">
    <label for="photoScore">Photo Score:</label>
    <input style="border:1px solid darkgrey;margin-left: 10px;"
     class="form-control"
     name="photoScore" 
     (ngModelChange)="photoScoreChanged($event)"
     type="number" [(ngModel)]="photoScore" />
  </div>
  <p *ngIf="fourPageService.getUserThrough()" class="impNote">
    कस्टमर की फोटो देखकर उसे 5 से लेकर 10 के बीच एक स्कोर दीजिये - अगर बहुत देखने में बहुत अच्छा है तो 10,9 ya 8 etc  और बहुत ही काम  अच्छा है  तो 5
  </p>

  </div>
  
  <div class="buttonSet"  style="margin-bottom:20px;margin-top: 20px;">
        <button class="btn btn-blue" mat-raised-button style="background-color: grey;" id="photoBtn"  matStepperNext (click)="skip(0)">Upload Photo Later</button>
        <button type="button" class="btn btn-blue" style="font-weight: bold;font-size: 1.2em;" mat-raised-button color="warn" id="photoBtn" matStepperNext   (click)="checkForPhoto()">Submit</button>
   </div> 
   <p *ngIf="!fourPageService.getUserThrough()" class="impNoteMain">
    Add your photo to help your perfect match recognise you!
  </p>
   <p *ngIf="fourPageService.getUserThrough()" class="impNote">
    डिटेल्स भरने के बाद  इस बटन पर जरूर क्लिक करे |
  </p>
</form>