<main>
    <h3 class="heading">Sign Up Using</h3>
    <div class="text-center btnDiv">
        <button id="facebook" (click)="registerUsing('facebook')" *ngIf="selection === 'Myself'" mat-raised-button>
            <div style="font-weight: 600 !important;
            font-size: 13px;
            position: absolute;
            height:24px!important;
            object-fit:cover;
            top: -18px !important;
            left: 8%;
            background: #4fdcef;
            color: white;
            padding: 2px ;
            border-radius: 3px 3px 3px 3px;
            display:flex;
            flex-direction: row;
            align-items: center;justify-content:center;
          "> <img style="width:15px;margin:2px 0px" src="../../../assets/graph.svg">50% More Matches</div>
            FACEBOOK
        </button>
        <button id="truecaller" (click)="registerUsing('truecaller')" mat-raised-button>
            Phone Number
        </button>
    </div>
</main>