
.containerOne{
    padding: 5% 0px;
    background-color: #34b7f1;
}
.containerTwo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5% 0px;
    text-align: center;
    font-size: 20px;
}
::ng-deep .mat-form-field-ripple {
    background-color: black;
}
::ng-deep .mat-form-field-appearance-standard .mat-form-field-underline{
    background-color: black;
}
.short-width{
    width: 25%;
    margin: auto auto;
}

.submitImage{
    width: 50px;
    margin-top: 30px;
}

@media (max-width: 900px) {
    .containerOne{
        padding: 25% 0px;
    }
    .containerTwo{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 25% 0px;
        font-size: 24px;
        margin: 0px;
    }
    .short-width{
        width: 80%;
    }
    
}

@media screen and (max-width: 350px) {
    .submitImage{
        width: 40px;
        margin-top: 30px;
    }
}