
<form (ngSubmit)="setPreferenceWidening()" #recommendedPreferencesForm="ngForm">
    <div class="row" style="margin: 10px 10px 0px;">
        <h5 style="margin: auto 20px;font-size: 24px;">आप और रिश्ते देखना चाहते हैं?</h5>
    </div>
    <div class="row" style="margin: 20px 0px;text-align: center;">
            <h3 style="display: inline-block;margin: 0px auto;">{{profileCount}} रिश्ते और:</h3>
    </div>
    <div class="row" style="margin: 10px 10px;">
        <div class="col-6">
          <h6 style="display: inline-block">Age Min: </h6>
          <input type="text" (change)="changed(minAge)" class="form-control" name="age_min" id="minAge" [(ngModel)]="preferenceWideningData.age_min" #minAge  required>
        </div>
      <div class="col-6">
          <h6 style="display: inline-block">Age Max : </h6>
          <input type="text" class="form-control" name="age_max" (change)="changed(maxAge)" id="maxAge" [(ngModel)]="preferenceWideningData.age_max" #maxAge required>
         </div>
    </div>
    <hr style="margin: 0px 10px;width: 100%">
    <div class="row" style="margin: 10px 10px;">
          <div class="col-6">
              <h6 style="display: inline-block">Height Min : </h6>
              <select type="text" class="form-control" name="height_min" (change)="changed(minHt)" id="minHt" [(ngModel)]="minHeight" #minHt required>
                  <option *ngFor="let item of Heights"[value]="item">{{item}}</option>
                  </select> 
            </div>
            <div class="col-6">
              <h6 style="display: inline-block">Height Max : </h6>
              <select type="text" class="form-control" name="height_max" (change)="changed(maxHt)" id="maxHt" [(ngModel)]="maxHeight" #maxHt required>
                  <option *ngFor="let item of Heights"[value]="item">{{item}}</option>
                  </select> 
            </div>
        </div>
        <hr style="margin: 0px 10px;width: 100%">
        <div class="row" style="margin: 10px 10px;">
                <div class="col-6">
                  <h6 style="display: inline-block">Income Min: </h6>
                  <input type="text" class="form-control" name="income_min" (change)="changed(minIncome)" id="minIncome" [(ngModel)]="preferenceWideningData.income_min" #minIncome required>
                </div>
              <div class="col-6">
                  <h6 style="display: inline-block">Income Max : </h6>
                  <input type="text" class="form-control" name="income_max" (change)="changed(maxIncome)" id="maxIncome" [(ngModel)]="preferenceWideningData.income_max" #maxIncome required>
                 </div>
            </div>
        <hr style="margin: 0px 10px;width: 100%">
        <div class="row" style="margin: 10px 0px 10px 20px;">
                <div class="form-check form-check-inline">
                        <input (click)="ticked(inlineCheckbox1)" class="form-check-input" type="checkbox" id="inlineCheckbox1" value="Caste No-Bar" #inlineCheckbox1>
                        <label class="form-check-label textSize" for="inlineCheckbox1">Caste No-Bar</label>
                      </div>
                      <div class="form-check form-check-inline">
                            <input (click)="ticked(inlineCheckbox2)" class="form-check-input" type="checkbox" id="inlineCheckbox2" value="Punjabi" #inlineCheckbox2>
                            <label class="form-check-label textSize" for="inlineCheckbox2">Punjabi</label>
                          </div>
                          <div class="form-check form-check-inline">
                                <input (click)="ticked(inlineCheckbox3)" class="form-check-input" type="checkbox" id="inlineCheckbox3" value="Brahmin" #inlineCheckbox3>
                                <label class="form-check-label textSize" for="inlineCheckbox3">Brahmin</label>
                              </div>
                              <div class="form-check form-check-inline">
                                    <input (click)="ticked(inlineCheckbox4)" class="form-check-input" type="checkbox" id="inlineCheckbox4" value="Agarwal" #inlineCheckbox4>
                                    <label class="form-check-label textSize" for="inlineCheckbox4">Agarwal</label>
                                  </div>
        </div>
            <div style="text-align: center; padding: 0px 0px 20px;">
                    <button type="button" (click)="setPreferenceWidening()" class="btn btn-primary">और दिखाएँ</button>
                </div>
              </form>