<div id="offBanner">
    <img id="offBannerImg" class="circular mat-elevation-z10" [src]="imageSrc" />
</div>
<div style="position:relative">
    <div id="cancel">
        <img mat-dialog-close style="width: 30px; margin: 5px 2px 0px 0px;" src="../../../assets/clear.svg"
            alt="cancel" />
    </div>
    <main style="padding-bottom:30px;">
        <div style="
    position:relative;
    height:26vh!important; 
    width:100%!important; 
    border-radius: 20px!important;
    background:white!important;
    margin:auto;
    margin-top:2%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    color:black">
            <div style="display:flex;
        flex-direction: column;
        align-items: center;
        justify-content:center" class="text-center">
                <p style="font-size:20px;font-weight:bold;color:rgb(51, 59, 52)!important;">
                    {{data.message}}</p>
                <p style="font-size:16px;color:rgb(51, 59, 52)!important;">
                    {{data.submessage}}</p>

            </div>
        </div>
        <div class="text-center">
            <button class="mat-elevation-z10 btn-lg" style="background:#00c2cb;font-size:1.1rem;padding:2% 2%"
                mat-raised-button (click)="
                buttonClicked()">{{data.button}}</button>
        </div>
        <!-- <div >
        <button mat-button mat-dialog-close class="btn-round" (click)="backToChat()">OK</button>
    </div> -->
    </main>
</div>