<div class="container-fluid" style="background: white;">
    <div style="text-align: center;">
        <img src="../../assets/logo_hans.png" alt="hans matrimony">
    </div>
    <div style="text-align: center;">
        <h4>
            Terms and Conditions/ नियम और शर्तें
        </h4>
    </div>
    <div>
    <ol>
        <li>
            By registering for Hans Matrimony services you hereby acknowledge that bio-data of the Candidate filled is true to the best of your knowledge and belief and you are solely responsible for any issues arising from this information. 
            हंस मैट्रिमोनी सेवाओं के लिए पंजीकरण करके आप यह स्वीकार करते हैं कि भरे हुए कैंडिडेट का बायोडाटा आपके ज्ञान के अनुसार सर्वधा सत्य और स्पष्ट है। आप इस जानकारी के उत्पन्न होने वाले किसी भी मुद्दे के लिए पूरी तरह से जिम्मेदार है।
        </li>
        <li>
            We expect that you would complete the registration process with fairness and honesty in furnishing true, accurate, current, complete information and with providing recent photos of you which will help you to meet your parameters. 
            हम उम्मीद करते हैं कि आप सही, सटीक, वर्तमान, पूर्ण जानकारी प्रस्तुत करने के लिए निष्पक्षता और ईमानदारी के साथ पंजीकरण प्रक्रिया को पूरा करेंगे और आप हाल की तस्वीरें प्रदान करेंगे जो आपको अपने मापदंडों को पूरा करने में मदद करेंगे।
        </li>
        <li>
            If at any point of time Hans Matrimony comes to know or is so informed by the third party or has reasons to believe that any information provided by you for registration (including photos) or otherwise is found to be untrue, inaccurate, or incomplete, Hans Matrimony shall have full right to suspend or terminate (without any notice) your Hans Matrimony membership and forfeit any amount paid by you towards Hans Matrimony membership fee and refuse to provide Hans Matrimony service to you thereafter. 
            यदि किसी समय हंस मैट्रिमोनी को पता चल जाता है या उसे तीसरे पक्ष द्वारा सूचित किया जाता है या उसके पास यह विश्वास करने के कारण हैं कि पंजीकरण के लिए आपके द्वारा प्रदान की गई कोई भी जानकारी (फोटो सहित) असत्य, गलत या अधूरी है, तो हंस मैट्रिमनी को आपकी हंस मैट्रिमोनी सदस्यता को निलंबित करने या समाप्त करने (बिना किसी नोटिस के) का पूरा अधिकार होगा और हंस मैट्रिमोनी सदस्यता शुल्क के लिए आपके द्वारा भुगतान की गई किसी भी राशि को जब्त कर लेगी और उसके बाद आपको हंस मैट्रिमोनी सेवा प्रदान करने से इंकार कर दिया जाएगा ।
        </li>
        <li>
            You acknowledge and confirm that your registration with Hans Matrimony and the usage of Hans Matrimony services is with the bonafide intention of marriage and not otherwise. Hans Matrimony Membership is restricted strictly to the registered Hans Matrimony individual member only. Organizations, companies, businesses and/or individuals carrying on a similar or competitive business cannot become Members of Hans Matrimony and nor use the Hans Matrimony Service or Hans Matrimony members’ data for any commercial purpose, and Hans Matrimony reserves its right to initiate appropriate legal action for breach of these obligations. 
            आप स्वीकार करते हैं और पुष्टि करते हैं कि हंस मैट्रिमोनी के साथ आपका पंजीकरण और हंस मैट्रिमोनी सेवाओं का उपयोग शादी के इरादे से है।  हंस मैट्रिमोनी सदस्यता केवल पंजीकृत हंस मैट्रिमोनी व्यक्तिगत सदस्य के लिए है। संगठन, कंपनियां, या समान या प्रतिस्पर्धी व्यवसाय करने वाला कोई भी हंस मॅट्रिमोनी में रजिस्टर नहीं कर सकता ना ही हमारी सेवाओं का इस्तेमाल कर सकता और ना ही हमारे डाटा का उपयोग कर सकता|  हंस मैट्रीमोनी आवश्यक कानूनी कार्रवाई करने का अधिकार सुरक्षित रखता है।
        </li>
        <li>
            In the event the candidate's marriage gets fixed through Hans Matrimony you shall furnish photos of marriage and pre-marriage ceremonies to the Company. Hans Matrimony reserves the right to use the photos in the manner it deems fit. 
            यदि उम्मीदवार की शादी हंस मैट्रिमोनी के माध्यम से तय हो जाती है, तो आप कंपनी को शादी और विवाह पूर्व समारोहों की तस्वीरें प्रस्तुत करेंगे। हंस मैट्रिमोनी फ़ोटो को  जिस तरीके से चाहे उपयोग कर सकती है।
        </li>
        <li>
            Hans Matrimony acts as mediator introducing you to the matches meeting your preferences. Hans Matrimony informs you that the exchange of profile(s) through or by Hans Matrimony should not in any way be construed as a matrimonial offer and/or recommendation and/or advice or guarantee given to the Hans Matrimony member, from/ or by Hans Matrimony. You are supposed to do the necessary enquiry at your end. In case any issues arise during/after marriage you shall not hold Hans Matrimony liable.
            हंस मैट्रिमोनी आपकी प्राथमिकताओं को पूरा करने वाले मैचों में आपको पेश करने वाले मध्यस्थ के रूप में कार्य करता है। हंस मैट्रिमोनी सुझाये हुए रिश्ते हंस मैट्रिमोनी के माध्यम से या उसके द्वारा प्रोफ़ाइल का आदान-प्रदान किसी भी तरह से वैवाहिक प्रस्ताव के रूप में नहीं है और ना ही ये हंस मैट्रिमोनी के सदस्य की गारंटी है। आवश्यक छानबीन करना आपकी जिम्मेदारी है। यदि विवाह के दौरान / बाद में कोई समस्या उत्पन्न होती है, तो आप हंस मैट्रीमोनी को उत्तरदायी नहीं ठहराएंगे।
        </li>
        <li>
            Customer Care / Customer Service: In the event you come across any concerns in our service, then please be free to contact us:<br>
            हमारी सेवाओं से अगर आपको किसी भी प्रकार की परेशानी होती है तो आप निम्नलिखित पर संपर्क करें।<br>
            Email ID : matches@hansmatrimony.com<br>
            Contact No : +91-9697989697
        </li>
        <li>
            The payments made by any Hans Matrimony member by way of membership/renewal fee/auto renewal are treated as non-refundable. 
            सदस्यता शुल्क / नवीनीकरण शुल्क /ऑटो नवीनीकरण के माध्यम हंस मैट्रिमोनी सदस्यता के प्रति किया गया भुगतान नॉन-रिफंडबल है।
        </li>
        <li>
            Payment once made for Hans Matrimony services cannot be assigned to any person/party or adjusted towards any other product or packages provided by the Company. 
            हंस मैट्रीमोनी सेवाओं के लिए एक बार भुगतान की गयी राशि किसी दुसरे व्यक्ति / पार्टी को ना ही असाइन ना ही किसी दूसरी सर्विस के प्रति एडजस्ट की जा सकती है।
        </li>
        <li>
            Hans Matrimony or its Office bearers shall under no circumstances be liable or responsible to the Hans Matrimony member or his/her authorized Representative or Registrant or any third party for any direct, indirect, special, exemplary, incidental, or consequential damages of any character including, without limitation, damages resulting from the use of our Website/App/Third Party Website/ personalized services.
            हंस मैट्रिमोनी या उसके पदाधिकारी किसी भी परिस्थिति में हमारी वेबसाइट / ऐप / थर्ड पार्टी वेबसाइट / व्यक्तिगत सेवाओं के उपयोग के परिणामस्वरूप होने वाले प्रत्यक्ष, अप्रत्यक्ष, विशेष, अनुकरणीय, आकस्मिक, या परिणामी नुकसान के लिए उत्तरदायी या जिम्मेदार नहीं होंगे।  ।
        </li>
        <li>
            You shall behave in a courteous manner with Hans Matrimony employees and maintain decorum at all times. Hans Matrimony reserves its right to take necessary action including cancellation of membership in case of any misconduct against Hans Matrimony employees. 
            आप हंस मैट्रिमोनी कर्मचारियों के साथ विनम्र व्यवहार रखेंगे। हंस मैट्रिमोनी कर्मचारियों के खिलाफ किसी भी कदाचार के मामले में हंस मॅट्रिमोनी आपकी सदस्यता रद्द करने सहित आवश्यक कार्रवाई करने का अधिकार रखता है।
        </li>
    </ol>
    </div>
</div>

