<main class="mainContainer">
    <div class="row parentTop">
        <div>
            <img src="../../assets/backN.svg" class="backArrow" (click)="closeSideNav()" alt="BACK">
        </div>
        <div class="circular" (click)="openUserProfile()">
            <!-- <img *ngIf="getProfilePic() == null" src="../../../assets/logo_192.png">
            <img *ngIf="getProfilePic() !== null" [src]="getProfilePic()" > -->
            <img height="100%" [src]="userpic" 
            (error)="onImageLoadError()">
        </div>
        <div class="nameText">
          <b>{{username}}</b>
        </div>
    </div>  
    <div style="text-align:center;position: relative; ;overflow-y: auto;">
        <button class="rowMore" (click)="openUserProfile()" >
          <img src="../../../assets/tabs-icons/personal.svg" class="iconImage">
          <span >{{languageService.profileLang.myprofile}}</span>
          <img src="../../assets/nextN.svg" class="nextImage">
        </button>


        <button class="rowMore" (click)="openUserProfile()">
          <img src="../../../assets/tabs-icons/family.svg" class="iconImage">
          <span *ngIf="languageService.getCurrentLanguage()==='english'">Change Preferences</span>
          <span *ngIf="languageService.getCurrentLanguage()==='hindi'">{{languageService.profileLang.preference}} बदलें</span>
        </button>
      <hr>
        <button class="rowMore" (click)="openHistoryProfiles('contacted')">
            <img src="../../../assets/tabs-icons/phone.svg" class="iconImage">
            <span *ngIf="languageService.getCurrentLanguage()==='english'">Contacted Profiles</span>
            <span *ngIf="languageService.getCurrentLanguage()==='hindi'">कॉन्टेक्टेड प्रोफाइलस</span>
        </button>
        <button class="rowMore" (click)="openHistoryProfiles('interestShown')">
            <img src="../../../assets/tabs-icons/heart.svg" class="iconImage">
            <span *ngIf="languageService.getCurrentLanguage()==='english'" >Your Likes</span>
            <span *ngIf="languageService.getCurrentLanguage()==='hindi'">आपको {{languageService.profileLang.shortlist}}</span>
        </button>
        <button class="rowMore" (click)="openHistoryProfiles('interestReceived')">
          <img src="../../../assets/tabs-icons/heart in heart.svg" class="iconImage">
          <span *ngIf="languageService.getCurrentLanguage()==='english'">Likes You</span>
          <span *ngIf="languageService.getCurrentLanguage()==='hindi'">जो आपको पसंद करते है</span>
        </button>   
        <button class="rowMore" (click)="openHistoryProfiles('rejected')">
          <img src="../../../assets/tabs-icons/x.svg" class="iconImage">
          <span *ngIf="languageService.getCurrentLanguage()==='english'">Skipped Profiles</span>
          <span *ngIf="languageService.getCurrentLanguage()==='hindi'">छोड़ी गई प्रोफाइल</span>
        </button> 
        <hr>
        <button class="rowMore"
        (click)="openDiscover()"
        >
          <img src="../../../assets/tabs-icons/search.svg" class="iconImage">
          <span *ngIf="languageService.getCurrentLanguage()==='english'">Discover Profiles</span>
          <span *ngIf="languageService.getCurrentLanguage()==='hindi'">डिस्कवर प्रोफाइल</span>
          <img src="../../assets/nextN.svg" class="nextImage">
        </button>
        <hr>
        <!-- <button class="rowMore">
          <img src="../../../assets/tabs-icons/customer support.svg"class="iconImage">
          <span *ngIf="languageService.getCurrentLanguage()==='english'" >Customer Support</span>
          <span *ngIf="languageService.getCurrentLanguage()==='hindi'">ग्राहक सहायता</span>
        </button> -->
        <button class="rowMore" (click)="getCallBack()">
          <img src="../../../assets/tabs-icons/phone arrow.svg" class="iconImage">
          <span *ngIf="languageService.getCurrentLanguage()==='english'">Get A Call Back</span>
          <span *ngIf="languageService.getCurrentLanguage()==='hindi'">कॉल बैक पाऐं</span>
        </button>
        <!-- <button class="rowMore">
          <img src="../../../assets/tabs-icons/settings.svg" class="iconImage">
          <span *ngIf="languageService.getCurrentLanguage()==='english'">Settings</span>
          <span *ngIf="languageService.getCurrentLanguage()==='hindi'">सेटींग॒स</span>
        </button> -->
        <button class="rowMore" (click)="logout()" >
          <img src="../../../assets/tabs-icons/logout.svg" class="iconImage">
          <span>{{languageService.profileLang.logout}}</span>
        </button>
        <hr>
    </div>
    <ng-container>
      <div class="drawerButtonSection" (click)="openSubscriptionOffer()">
        <button class="buttonStyle" *ngIf="languageService.getCurrentLanguage()==='english'" >
           <img class="btnImage" src="../../assets/money.svg" alt="settings icon">&nbsp;Latest Subscription Offers
        </button>
        <button class="buttonStyle" 
        (click)="openSubscriptionOffer()"
        *ngIf="languageService.getCurrentLanguage()==='hindi'">
          <img class="btnImage" src="../../assets/money.svg" alt="settings icon">&nbsp;नवीनतम {{languageService.profileLang.subscription}} ऑफर
       </button>
      </div>
    </ng-container>

</main>