<main class="mainContainer">
    <div class="row parentTop">
        <div>
            <img src="../../assets/back.svg" class="backArrow" (click)="closeSideNav()" alt="BACK">
        </div>
        <div class="circular">
            <img src="../../../assets/logo_192.png">
        </div>
        <div class="nameText">
          <b>Abhay Bhardwaj</b>
        </div>
    </div>
    <div style="text-align:center;position: relative; ;overflow-y: auto;">
        <div class="rowMore">
          <img src="../../assets/personN.svg" class="iconImage">
          <span >My Profile</span>
          <img src="../../assets/nextN.svg" class="nextImage">
      </div>
      <hr>
        <div class="rowMore">
            <img src="../../assets/phoneN.svg" class="iconImage">
            <span>Contacted Profiles</span>
        </div>
        <div class="rowMore">
            <img src="../../assets/favorite.svg" class="iconImage">
            <span>Liked Profiles</span>
        </div>
        <div class="rowMore">
          <img src="../../assets/likesyou.svg" class="iconImage">
          <span>Likes You</span>
        </div>   
        <div class="rowMore">
          <img src="../../assets/clear.svg" class="iconImage">
          <span>Skipped Profiles</span>
        </div> 
        <hr>
        <div class="rowMore">
          <img src="../../assets/search.svg" class="iconImage">
          <span>Discover Profiles</span>
          <img src="../../assets/nextN.svg" class="nextImage">
        </div>
        <div class="rowMore">
          <img src="../../assets/customer.svg" class="iconImage">
          <span>Change Preferences</span>
        </div>
        <hr>
        <div class="rowMore">
          <img src="../../assets/support.svg"class="iconImage">
          <span>Customer Support</span>
        </div>
        <div class="rowMore">
          <img src="../../assets/support.svg" class="iconImage">
          <span>Get A Call Back</span>
        </div>
        <div class="rowMore">
          <img src="../../assets/gear.svg" class="iconImage">
          <span>Settings</span>
        </div>
        <div class="rowMore">
          <img src="../../assets/logoutN.svg" class="iconImage">
          <span>Logout</span>
        </div>
        <hr>
    </div>
    <ng-container>
      <div class="drawerButtonSection">
        <button class="buttonStyle">
           <img class="btnImage" src="../../assets/money.svg" alt="settings icon">&nbsp;Latest Subscription Offers
        </button>
      </div>
    </ng-container>

</main>