
.body {
    background: white;
    font-family: 'semplicita'
}
  .sideNavSet {
      background-color: white;
  }
.capt{
    color:white;font-size:2.3em;margin-bottom:0;font-weight: bolder;
    text-shadow: 2px 3px 4px black;font-family: 'semplicita';
}
.registr{
   z-index: 999999!important; 
}
.headerSetting {
    position: absolute;
    bottom: 80px;
}

.vcenter{
margin-top: 2em
}
.bot{
    padding-bottom: 45px
}
.whats {
    margin-top: 1rem;
    width: 20rem;
    margin-bottom: 2rem;
    font-family: 'semplicita'
}
.textWhats {
    font-size: 14px;
    font-family: 'semplicita'
    
}
.center {
    font-size: 1.6rem;
    font-family: 'semplicita'
}
.text-left{
    margin-top: 50px;
}
.invi {
    display: inline-block;
}
.cards{
    background-image: url('../../assets/redback.jpg');height:4rem;margin-left:10%;margin-right:10%;border-radius:0
}
.sideNavSet {
    background-color: white;
}
.banner-img{
    height : 3.5rem;
    margin-left: 16px;
}
.banner-img1{
    height: 7rem;
    margin-left: 16px;
}
.sliding {
    width: 100%;
}
.textTalkToUs {
    font-weight:bolder;
    padding-top:1rem;
    font-size: 20px;
    font-family: 'semplicita';
    text-align: center;
     color: #285fdd
 }
 .fieldFit{
    height:60px;
    border-bottom: 1px solid black;
}
.mapImg{
    height: 30rem;
    width: 100%
}
.buttonCenter {
    margin-left: 25%;
    margin-top: 10%
}

.bannerHead {
    font-size: 22px;
    font-family: 'semplicita';
    text-align: center;
    color: white;
}
.trust{
    height:4rem;
    margin-left:0%;
}
.trust_text {
    font-size: 1rem;
    font-family: 'semplicita';
}
.text-center {
   color: white;
   font-size:12px;
   font-family: 'semplicita';
   margin-bottom:0rem;
   margin-top:0.5rem;
   margin-left: 0.5rem;
}
.whatsapp {
    background: url(../../assets/whatsbg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 0;
    margin-right: 0%;
}

.map-banner {
    background-image: url('../../assets/redback.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#find {
    color: white;
    width: 300px;
    border-radius: 100px;
    background-image: linear-gradient(to right top,#285fdd,#0073e9,#0085f2,#0097f9,#00a8ff);
}
.team {
    background-color: rgb(236, 213, 186);
    text-align: center
}

.clients {
    background-color: blueviolet;
    height: 50%
}

.client-image {
    height: 10rem !important;
    margin-bottom: 1rem
}
reisterf-btn{
    width: 50%;
}
.address {
    background: url(../../assets/address.webp);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 50%
}


.purple {
    background-color: #46132B;
}

.semi-circle {
    margin-left:45%;
    height: 45px;
    width: 90px;
    background-image: url('../../assets/redback.jpg');
    border-bottom-left-radius: 90px;
    border-bottom-right-radius: 90px
}
.diya{
    height:20em;
    position: absolute;
    right: 0;
}
.footer {
    background-color: #46132B;
}
.link-footer {
    text-decoration: none;
    color: white
}
.sizeIt {
    font-size: 16px;
    font-family: 'semplicita';
    margin: 0px 0px;
}

#footer {
    padding: 5% 5%;
    bottom: 0px;
  }
  .footerCol {
    padding: 0%;
  }
  .footerHeadings {
    color: white;
     font-family: 'semplicita', sans-serif; 
     font-weight: normal ; 
     font-size: 22px; 
     font-family: 'semplicita';
     border-bottom: 2px solid #036cdb; 
     display: inline;
  }
  .footerLink {
    color: white;
    margin-top: 5px;
    font-size: 16px;
    font-family: 'semplicita';
    padding: 0%;
  }
  .footerLink:hover {
    color: pink;
  }
  .footerContact {
    display: inline-block;
    line-height: 2rem;
    font-size: 14px;
    padding: 0%;
  }
  
  .iconFooter {
    background:#46132B; 
    font-size: 20px !important;
    font-family: 'semplicita';
    margin: 0%;
    height: 2rem;
    width: 2rem !important;
    padding: 0%;
  
  }

  .spaceCol {
    display: inline-block;
}
.bottomCol {
margin-top: 0px;
}
.infoText {
    color: white;
     font-size:14px;
     font-family: 'semplicita';
     display:inline;
     margin-left: 10px;
     font-weight: normal;
}
.footerIcons {
    padding: 0px;
}
.footerLast {
    text-align: center;
}
.infoHead {
    color: white;
     font-size: 16px;
     font-family: 'semplicita';
     width: 100%
}
@media only screen and (max-width: 600px) {
    .sizeIt {
        font-size: 12px;
        font-family: 'semplicita'
    }
    .vcenter{
        margin-top:2.5em;
        margin-bottom: 2.5em;
        }
    .cards{
        background-image: url('../../assets/redback.jpg');height:4rem;margin-left:0%;margin-right:0%;border-radius:0
    }
    reisterf-btn{
        width: 100%;
    }
    .s{
        border-radius: 0 5px
    }
    .bot{
        padding-bottom: 0em
    }
    .indicator{
        top:19.25rem !important
    }
    .review-indicators{
        top:25rem !important
    }
    .invi {
        display: none;
    }
    .capt{
        color:White;Font-weight:bold;font-size:1em;margin-bottom:0;vertical-align: middle;
        font-family: 'semplicita'
    }
    .diya{
        height:5em;
        position: absolute;
        right: 0;
    }
    .caption{
        height: 52%;
       width: 70%;
    }
    

    .buttonCenter {
        margin-left: 0%;
        margin-top: 0%
    }
    .bannerHead {
        color: white;
        font-size: 14px;
        font-family: 'semplicita'
    }
    .headerSetting {
        position: absolute;
        bottom: 10px;
    }
    .trust{
        height: 2rem;
        text-align: center;
    }
    .trust_text {
        font-size: 14px;
        font-family: 'semplicita'
    }
    .sliding {
            width: 100%;
    }
   
    .whatsapp {
        background: url(../../assets/whatsbg.webp);
    }
    .match {
        text-align: center;
        padding-top: 1em
    }
    .col-center {
        text-align: center;
    }
    .para-center {
        text-align: center;
        display: inline-block;
    }
    .text-center {
        color: white;
        font-size:12px;
        font-family: 'semplicita';
        margin-bottom:0rem;
        margin-top:0.5rem;
        margin-left: 0.5rem;
     }
     .textTalkToUs {
        font-weight:bolder;
        padding-top:1rem;
        text-align: center;
        font-size: 14px;
        font-family: 'semplicita';
         color: #285fdd
     }
     .banner-img{
        height : 3rem;
        margin-left: 16px;
    }
    .banner-img1{
        height : 3rem;
        margin-left: 16px;
    }

     .whats {
        margin-top: 1rem;
        margin-bottom: 2rem;
        width: 12rem;
    }
    .personalisedImage{
        width: 15rem;
    }
    #find {
        color: white;
        width: 60%;
        font-size: 14px;
        font-family: 'semplicita';
        border-radius: 100px;
        background-image: linear-gradient(to right top,#285fdd,#0073e9,#0085f2,#0097f9,#00a8ff);
    }

    .map-banner {
        background-image: url('../../assets/redback.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .team {
        background-color: rgb(236, 213, 186);
    }
    .semi-circle {
        margin-left:45%;
        height:1em;
        width: 2em;
        background-image: url('../../assets/redback.jpg');
        border-bottom-left-radius: 90px;
        border-bottom-right-radius: 90px
    }

    .center {
        font-size: 1.4rem !important;
        font-family: 'semplicita';
    }
    .mobile{
        margin-left:5px
    }
    .text-left{
        text-align: center !important;
        margin-top: 35px;
    }
    .personalised-left{
        text-align: center !important;
        margin-top: 35px;
    }
    .textWhats {
        font-size: 12px;
        font-family: 'semplicita';
    }

    .mapImg{
        height: 12rem;
        width: 100%
    }
    .mapImage {
        width: 100%;
        height: 12rem;
    }
    .input-mobile{
        width: 400px;
        display: inline-block;
    }
    p{
        padding: 0 22px;
      }
      .mat-form-field {
          font-size: 12px;
          font-family: 'semplicita';
      }
      .footer {
        background-color: #46132B;
    }
    #footer {
        text-align: center;
        padding: 5% 10%;
      }
      .footerContact {
        display: inline;
        line-height: 2rem;
        font-size: 14px;
        font-family: 'semplicita';
        padding: 0% ;
        margin: 0px;
      }
      .footerLink {
        color: white;
        font-size: 14px;
        font-family: 'semplicita';
        padding: 0%;
        margin: 0%;
      }
      .footerCol {
        padding: 0%;
        margin: 0px;
      }
      .spaceCol {
          display: none;
      }
      .bottomCol{
          margin-top: 20px;
          padding: 0px;
      }
      .infoText {
        color: white;
         font-size:14px;
         font-family: 'semplicita';
         display:block;
         margin-bottom: 0px;
         font-weight: normal;
         margin-left: 0px
    }
    .footerIcons {
        padding: 0px;
    }
    .footerLast {
        text-align: center;
        margin-top: 10px;
    }
    .footerHeadings {
        color: white;
         font-family: 'semplicita', sans-serif; 
         font-weight: normal ; 
         font-size: 16px; 
         font-family: 'semplicita';
         border-bottom: 2px solid #036cdb; 
         display: inline;
      }
      .infoHead {
        color: white;
         font-size: 16px;
         font-family: 'semplicita';
         width: 100%
    }
    }
@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 1280px) {
}
